	<table summary="Estimate form fields">
		<tr>
					<th>Project Name</th>
					<td><%= select(:project, :id, Project.where("builder_id = ? AND status = ? OR status = ?", session[:builder_id], "Current Lead", "Current Project").collect{|s|[s.name, s.id]}, {:include_blank => true}) %>
		</tr>
		<tr>
			<th>Template</th>
      	  	<td>
          <%= @template.name %></td>
		</tr>
		<tr>
			<th>Progress</th>
			<td><%= f.select(:progress, ["In Progress", "Awaiting Approval", "Completed & Sent"]) %>
		</tr>
		<tr>
			<th>Due Date</th>
			<td><%= f.date_select(:deadline, :order => [:month, :day, :year], :include_blank => true) %>
		</tr>
		<tr>
			<th>Expected Revenue</th>
			<td>
          $<div class="total-price"></div>
          <%= f.hidden_field(:revenue, :class => "total-price") %>
		</tr>
		<tr>
			<th>Expected Profit</th>
			<td>
          $<div class="total-margin"></div>
          <%= f.hidden_field(:profit, :class => "total-margin") %>
		</tr>
	</table>
	