<% content_for :javascript do %>
  <script type='text/javascript'>
    $(document).ready(function () {
    Estimate.init();
    })
  </script>
<% end %>

<div class="control-group">
    <%= label :project_id, 'Project Name', class: 'col-lg-2 control-label' %>
    <div class="controls"><%= f.select(:project_id, @builder.projects.where(status: [Project::CURRENT, Project::CURRENT_LEAD]).collect { |s| [s.name, s.id] }, {:include_blank => true}) %></div>
</div>
<div class="control-group">
    <%= label :template_id, 'Template', class: 'col-lg-2 control-label' %>
    <div class="controls"><%= select(:template, :id, ::Template.where("builder_id = ? AND estimate_id is NULL", session[:builder_id]).collect { |s| [s.name, s.id] }, {:include_blank => true}) %></div>
</div>
<div class="control-group">
    <%= f.label :type, 'Type', class: 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.collection_radio_buttons(:kind, [["Guaranteed Bid", "Guaranteed Bid"], ["Cost Plus Bid", "Cost Plus Bid"]], :first, :last) %>
    </div>
</div>
<div class="control-group">
    <%= f.label :progress, 'Progress', class: 'col-lg-2 control-label' %>
    <div class="controls"><%= f.select(:progress, ["In Progress", "Awaiting Approval", "Completed & Sent"]) %></div>
</div>
<div class="control-group">
    <%= f.label :deadline, 'Due Date', class: 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.text_field(:deadline, class: 'datepicker', :value => f.object.try(:deadline).try(:strftime, '%m-%d-%Y')) %>
        <%= f.hidden_field(:deadline, id: 'estimate_deadline_hidden', :value => f.object.try(:deadline).try(:strftime, '%Y-%m-%d')) %>
    </div>
</div>
<div class="control-group">
    <%= f.label :notes, 'Notes', class: 'col-lg-2 control-label' %>
    <div class="controls"><%= f.text_area(:notes, :rows => 5) %></div>
</div>
	