<tr class="item item_category_<%= category_template.category.id %> <% if item.change_order? %> change_order <% end%>" id="item_<%= item.id %>">
    <td>
	</td>	
	<td>
        <%= item.name %>
    </td>
    <td>
        <%= link_to item.description, "#", :class => 'editable', :data => {:type => 'textarea', :rows => 4, :resource => 'item', :name => 'description', :pk => item.id, :url => url_for(:controller => 'items', :action => 'update', :id => item.id), :id => "item_#{item.id}"} %>
    </td>
    <td>
        <%= link_to item.qty, "#", :class => 'editable', :data => {:type => 'text', :resource => 'item', :name => 'qty', :pk => item.id, :url => url_for(:controller => 'items', :action => 'update', :id => item.id), :id => "item_#{item.id}"} %>
    </td>
    <td><%= item.unit %></td>
    <td>
        $<%= link_to number_to_price(item.estimated_cost), "#", :class => 'editable', :data => {:type => 'text', :resource => 'item', :name => 'estimated_cost', :pk => item.id, :url => url_for(:controller => 'items', :action => 'update', :id => item.id), :id => "item_#{item.id}"} %>
    </td>
    <td>
        $<div class="amount"><%= number_to_price(item.amount) %></div>
    </td>
    <td>
        $<div class="margin"><%= link_to number_to_price(item.margin), "#", :class => 'editable', :data => {:type => 'text', :resource => 'item', :name => 'margin', :pk => item.id, :url => url_for(:controller => 'items', :action => 'update', :id => item.id), :id => "item_#{item.id}"} %></div>
    </td>
    <td>
        $<div class="price"><%= number_to_price(item.price) %></div>
    </td>
    <td class="button-container">
        <%= link_to raw("<button>+</button>"), "#" , :class => 'trigger-add'%>
        <%= link_to raw("<button>-</button>"), {:controller => 'items', :action => 'destroy', :id => item.id}, :remote => true, :class => 'remove-item' %>
    </td>
</tr>