<tr class="category" id="category_<%= category_template.category.id %>">
    <td colspan=10>
        <h3>
            <%= category_template.category.name %>
        </h3>
    </td>
    <td>
        <%= link_to '+ Item', "#", :class => "trigger-add btn" %>
        <%= link_to "Delete", {:controller => 'categories', :action => 'destroy', :id => category_template.category.id, :with_associations => true}, :confirm => 'Are you sure you want to delete this category and all its associated items?', :remote => true, :class => 'remove-category' %>
    </td>
</tr>
<% category_template.items.order(:change_order).each do |item| %>
  <%= render :partial => 'tr_item', :locals => {:item => item, :category_template => category_template} %>
<% end %>
<tr style="display: none" class="add add-item item_category_<%= category_template.category.id %>">
	<td colspan=11>
        <%= form_for :item, :url => {:controller => 'estimates', :action => 'add_item', :category_template_id => category_template.id}, html: { class: "form-inline"}, :remote => true do |f| %>
          Item:
          <%= f.select :id, @items.map { |i| [i.name, i.id] } %>
          <%= f.submit "Add", class: 'btn' %>
          <%= link_to "Cancel", "#", :class => 'cancel-add' %>
        <% end %>
    </td>
</tr>
<tr class="subtotal item_category_<%= category_template.category.id %>">
    <td colspan=5>
        <div class="category-name"><%= category_template.category.name + ' '%>Subtotal</div> 
    </td>
    <td class="right" colspan="2"><%= price_tag(category_template.items.map(&:amount).sum, "subtotal-amount") %></td>
    <td class="right" colspan="2"><%= price_tag(category_template.items.map(&:margin).sum, "subtotal-margin") %></td>
    <td class="right"><%= price_tag(category_template.items.map(&:price).sum, "subtotal-price") %></div></td>
    <td></td>
</tr>