<tr class="category" id="category_<%= category_template.category.id %>">
    <td colspan=8>
        <h3>
            Category: <%= link_to category_template.category.name, "#", :class => 'editable', :data => {:type => 'text', :resource => 'category', :name => 'name', :pk => category_template.category.id, :url => url_for(:controller => 'categories', :action => 'update', :id => category_template.category.id), :id => "category_#{category_template.category.id}"} %>
        </h3>
    </td>
    <td>
        <%= link_to raw("<button>+ Item</button>"), "#", :class => "trigger-add" %>
        <%= link_to "Delete", {:controller => 'categories', :action => 'destroy', :id => category_template.category.id, :with_associations => true}, :confirm => 'Are you sure you want to delete this category and all its associated items?', :remote => true, :class => 'remove-category' %>
    </td>
</tr>
<% category_template.items.each do |item| %>
  <%= render :partial => 'tr_item', :locals => {:item => item, :category_template => category_template} %>
<% end %>
<tr style="display: none" class="add add-item item_category_<%= category_template.category.id %>">
    <td colspan=9>
        <%= form_for :item, :url => {:controller => 'estimates', :action => 'add_item', :category_template_id => category_template.id}, :remote => true do |f| %>
          Item:
          <%= f.select :id, @items.map { |i| [i.name, i.id] } %>
          <%= f.submit "Add" %>
          <%= link_to "Cancel", "#", :class => 'cancel-add' %>
        <% end %>
    </td>
</tr>