<div>
    <%= render(:partial => "layouts/estimating_sub_menu") %>
    <div class="zurb-row">
        <div class="columns">
            <h2>Delete Estimate</h2>
            <%= form_for(:estimate, :url => {:action => 'destroy', :id => @estimate.id}) do |f| %>
                <p>Are you sure you want to delete this estimate?</p>
                <% if @estimate.errors.any? %>
                    <div id="errorExplanation">
                        <h2><%= pluralize(@estimate.errors.count, "Error") %> prohibited
                            this estimate from being deleted:</h2>
                        <ul>
                            <% @estimate.errors.full_messages.each do |msg| %>
                                <li><%= msg %></li>
                            <% end %>
                        </ul>
                    </div>
                <% end %>
                <p class="reference-name"><%= @estimate.project.name %></p>

                <div class="control-group">
                    <%= submit_tag("Delete Estimate", :class => 'btn') %>
                </div>
            <% end %>
        </div>
    </div>
</div>