<div>
    <%= render(:partial => "layouts/estimating_sub_menu") %>
    <div class="zurb-row main-action-bar">
        <div class="large-3 medium-4 columns">
            <%= link_to("Instructions >>", {:action => 'show'}, :class => 'help action-button') %>
        </div>
        <div class="large-6 medium-6 columns">
            <h1>Past Estimates</h1>
        </div>
        <div class="large-3 medium-2 columns">
        </div>
    </div>
    <div class="zurb-row">
        <table class="grid-view responsive" summary="Project List">
            <tr class="header">
                <th>Actions</th>
                <th>Project Name</th>
                <th>Template</th>
                <th>Status</th>
                <th>Due Date</th>
                <th>Revenue</th>
                <th>Profit</th>
                <th>Notes</th>
            </tr>
            <% @estimates.each do |estimate| %>
                <tr>
                    <td class="center">
                        <%= link_to("View", {:action => 'show', :id => estimate.id}, :title => 'View', :class => 'view table-action') %>
                        <%= link_to("Edit", {:action => 'edit', :id => estimate.id}, :title => 'Edit', :class => 'edit table-action') %>
                        <%= link_to("Convert", {:action => 'convert', :id => estimate.id}, :title => 'Convert', :class => 'convert table-action') %>
                        <%= link_to("Delete", {:action => 'delete', :id => estimate.id}, :title => 'Delete', :class => 'delete table-action') %>
                    </td>
                    <td><%= estimate.project.try(:name) %></td>
                    <td><%= estimate.template.name %></td>
                    <td><%= estimate.progress %></td>
                    <td><%= estimate.deadline %></td>
                    <td>$<%= estimate.revenue %></td>
                    <td>$<%= estimate.profit %></td>
                    <td><%= estimate.notes %></td>
                </tr>
            <% end %>
        </table>
    </div>
</div>

