<div>
  <%= render(:partial => "layouts/estimating_sub_menu")%>
  <h1>Current Estimates</h1>
  <%= link_to("Instructions >>", {:action => 'show'}) %>
  </br>
  </br>
  <%= link_to("+ New Estimate", {:action => 'new'}, class: 'btn') %>
  </br>
  </br>
  <table class="grid-view" summary="Project List">
    <tr class="header">
      <th>Actions</th>
      <th>Project Name</th>
      <th>Template</th>
      <th>Status</th>
      <th>Due Date</th>
      <th>Exp. Revenue</th>
      <th>Exp. Profit</th>
      <th>Notes</th>
    </tr>
    <% @estimates.each do |estimate| %>
    <tr>
      <td class="center">
        <%= link_to("Meas", {:action => 'edit_measurements', :id => estimate.id}, :class => 'action measurements') %>
        <%= link_to("Edit", {:action => 'edit', :id => estimate.id}, :class => 'action edit') %>
        <%= link_to("Convert", {:action => 'convert', :id => estimate.id}, :class => 'action convert') %>
        <%= link_to("Delete", {:action => 'delete', :id => estimate.id}, :class => 'action delete') %>
      </td>
      <td><%= estimate.project.name %></td>
      <td><%= estimate.template.name %></td>
      <td><%= estimate.progress %></td>
      <td><%= estimate.deadline %></td>
      <td><%= price_tag(estimate.revenue) %></td>
      <td><%= price_tag(estimate.profit) %></td>
      <td><%= estimate.notes %></td>
      
    </tr>
    <% end %>
  </table>
</div>

