<%- estimate ||= nil
    @estimate = estimate if estimate.present?
    @builder = @estimate.builder
    @client = @estimate.project.client
%>
<% content_for :head do %>
  <div class="left-header">
      <%= pdf_image_tag(@builder.image.name_url, :width => "200") if @builder.image.try(:name).present? %>
      <div class="address">
          <%= @builder.address %>
      </div>
      <div class="phone">
          <%= @builder.office_phone %>
      </div>
      <div class="website">
          <%= @builder.website %>
      </div>
      <div class="slogan">
      <%= "#{@builder.slogan}" if @builder.slogan.present? %>
      </div>
  </div>
  <div class="right-header">
      <table class="top">
          <tr>
              <td>Estimate</td>
          </tr>
          <tr>
              <td>Date</td>
          </tr>
          <tr>
              <td><%= @estimate.deadline.strftime("%m/%d/%Y") if @estimate.deadline.present? %>&nbsp;</td>
          </tr>
          <tr>
              <td><%= @estimate.project.name %></td>
          </tr>
      </table>
      <table class="bottom">
          <tr>
              <td>Name / Address</td>
          </tr>
          <tr>
              <td>
                  <%= @client.display_name %>
                  <br/>
                  <%= @client.address %>
                  <br/>
                  <%= @client.city %> <%= ", #{@client.state}" if @client.state.present? %> <%=", #{@client.zipcode}" if @client.zipcode.present? %>
              </td>
          </tr>
      </table>
  </div>
<% end %>

<table class="item-list splitForPrint">
    <thead>
        <tr class="header">
            <th>Description</th>
            <th>Quantity</th>
            <th>Unit</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <%- @estimate.template.categories_templates.each do |category_template| %>
            <tr class="tr-category category" id="category_<%= category_template.category.id %>">
                <td class="td-category left-bold">
                    <%= category_template.category.name %>
                </td>
                <td></td><td></td><td></td>
            </tr>
            <% category_template.items.each do |item| %>
                <tr class="item item_category_<%= category_template.category.id %>" id="item_<%= item.id %>">
                    <td class="description">
                        <%= item.description %>
                    </td>
                    <td class="quantity">
                        <%= item.qty %>
                    </td>
                    <td class="unit"><%= item.unit %></td>
                    <td>
                        <%= price_tag(@estimate.kind =="Cost Plus Bid" ? item.amount : item.price, "amount") %>
                    </td>
                </tr>
            <% end %>
            <tr>
                <td class="td-subtotal left-bold">
                    <%= category_template.category.name %> Subtotal
                </td>
                <td></td><td></td>
                <td class="right-bold"><div class="subtotal-amount"></div></td>
            </tr>
        <% end %>
        <% if @estimate.kind == "Cost Plus Bid" %>
          <tr class="tr-footer">
            <td colspan="3" class="left-bold">
                Gross Estimated Costs
            </td>
            <td class="right-bold">
                <div class="total-amount"></div>
            </td>
            </tr>
              <tr class="tr-footer">
                <td colspan="3" class="left-bold">
                    Profit Margin
                </td>
                <td class="right-bold"><%= price_tag(@estimate.profit) %></td>
            </tr>
      <% end %>
        <tr class="tr-footer">
            <td colspan="3" class="left-bold">
                TOTALS
            </td>
            <td class="right-bold"><%= price_tag(@estimate.revenue) %></td>
        </tr>
    </tbody>
</table>