<div>
    <%= render(:partial => "layouts/estimating_sub_menu") %>
    <div class="zurb-row">
        <div class="columns">
            <h2 class="center">Send Estimate <%= @estimate.project.name %></h2>
            <%= form_tag({:controller => 'estimates', :action => 'send_email', :id => @estimate.id}, :class => 'form-horizontal') do |f| %>
                <div class="control-group">
                    <%= label_tag :to, 'To', :class => 'col-lg-2 control-label' %>
                    <div class="controls"><%= text_field_tag :to, @estimate.project.client.email %></div>
                </div>
                <div class="control-group">
                    <%= label_tag :subject, 'Subject', :class => 'col-lg-2 control-label' %>
                    <div class="controls"><%= text_field_tag :subject %></div>
                </div>
                <div class="control-group">
                    <%= label_tag :attachment, 'Attachment', :class => 'col-lg-2 control-label' %>
                    <div class="controls"><%= link_to "Estimate-#{@estimate.project.name}.pdf", {:controller => 'estimates', :action => 'show', :id => @estimate.id, :format => :pdf}, :target => "_blank" %></div>
                </div>
                <div class="control-group">
                    <%= label_tag :body, 'Body', :class => 'col-lg-2 control-label' %>
                    <div class="controls"><%= text_area_tag :body, nil, :rows => 5, :cols => 30 %></div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <%= submit_tag "Send", :class => 'btn' %>
                        <%= link_to "Cancel", {:controller => 'estimates', :action => 'edit', :id => @estimate.id} %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>