<p>
	<%= f.label :company_name %>
	<%= f.text_field(:company_name) %>
</p>
<p>
	<%= f.label :tax_id %>
	<%= f.text_field(:tax_id) %>
</p>
<p>
	<%= f.label :office_phone %>
	<%= f.text_field(:office_phone) %>
</p>
<p>
	<%= f.label :webiste %>
	<%= f.text_field(:website) %>
</p>
<p>
	<%= f.label :address %>
	<%= f.text_field(:address) %>
</p>
<p>
	<%= f.label :city %>
	<%= f.text_field(:city) %>
</p>
<p>
	<%= f.label :state %>
	<%= f.text_field(:state) %>
</p>
<p>
	<%= f.label :zipcode %>
	<%= f.text_field(:zipcode) %>
</p>
<p>
	<%= f.label :year_founded %>
	<%= f.text_field(:year_founded) %>
</p>


