<p>
	<%= f.label :company_name, "Company Name:" %>
	<%= f.text_field(:company_name) %>
</p>
<p>
	<%= f.label :tax_id, "Tax ID:"%>
	<%= f.text_field(:tax_id) %>
</p>
<p>
	<%= f.label :office_phone, "Office Phone:" %>
	<%= f.text_field(:office_phone) %>
</p>
<p>
	<%= f.label :website, "Website:" %>
	<%= f.text_field(:website) %>
</p>
<p>
	<%= f.label :address, "Address:" %>
	<%= f.text_field(:address) %>
</p>
<p>
	<%= f.label :city, "City:" %>
	<%= f.text_field(:city) %>
</p>
<p>
	<%= f.label :state, "State:" %>
	<%= f.text_field(:state) %>
</p>
<p>
	<%= f.label :zipcode, "Zipcode:"%>
	<%= f.text_field(:zipcode) %>
</p>
<p>
	<%= f.label :year_founded, "Year Company Started:"%>
	<%= f.text_field(:year_founded) %>
</p>


