<div>
  <%= render(:partial => "layouts/company_sub_menu")%>
	<h1>Users</h1>
	<%= link_to("Instructions >>", {:action => 'show'}) %>
	</br>
	</br>
	<%= link_to("Add New User >>", {:controller => 'users', :action => 'new'}) %>
	</br>
	</br>
	
	
	<table class="grid-view" summary="Project List">
		<tr class="header">
			<th>Actions</th>
			<th>Name</th>
			<th>Authority Level</th>
					
					
		</tr>
		<% @builder.users.each do |x| %>
		
		<tr>
			<td class="center">
				<%= link_to("Show", {:action => 'show', :id => x.id}, :class => 'action edit') %>
				<%= link_to("Edit", {:action => 'edit', :id => x.id}, :class => 'action edit') %>
				<%= link_to("Delete", {:action => 'delete', :id => x.id}, :class => 'action delete') %>
			</td>
			<td><%= x.first_name%></td>
			<td><%=  %></td>
		
			
		</tr>
		<% end %>
		
	</table>
</div>

