<div>
	<%= render(:partial => "sub_menu")%>
	
	<h2>Company Details For: <%= @builder.company_name %> </h2>
	<p>
		<%= "Company Name:" %>
		<%= @builder.company_name %>
	</p>
	<p>
		<%= "Tax ID:" %>
		<%= @builder.tax_id %>
	</p>
	<p>
		<%= "Office Phone:" %>
		<%= @builder.office_phone %>
	</p>
	<p>
		<%= "Website:" %>
		<%= @builder.website %>
	</p>
	<p>
		<%= "Address: " %>
		<%= @builder.address %>
	</p>
	<p>
		<%= "City: " %>
		<%= @builder.city %>
	</p>
	<p>
		<%= "State: " %>
		<%= @builder.state %>
	</p>
	<p>
		<%= "Zipcode: " %>
		<%= @builder.zipcode %>
	</p>
	<p>
		<%= "In Business Since:" %>
		<%= @builder.year_founded %>
	</p>

	
	
</div>