<div>
    <%= render(:partial => "layouts/company_sub_menu") %>
    <div class="zurb-row main-action-bar">
        <div class="large-3 medium-4 columns">
            <%= link_to("Update", {:action => 'edit', :id => @builder.id}, :title => 'Update', :class => 'edit-large action-button') %>
        </div>
        <div class="large-6 medium-6 columns">
            <h2 class="center">Company Details</h2>
        </div>
        <div class="large-3 medium-2 columns">
        </div>
    </div>
    <div class="zurb-row">
        <div class="columns margin-bottom">
            <p>
                <%= "Company Name:" %>
                <%= @builder.company_name %>
            </p>

            <p>
                <%= "Tax ID:" %>
                <%= @builder.tax_id %>
            </p>

            <p>
                <%= "Office Phone:" %>
                <%= @builder.office_phone %>
            </p>

            <p>
                <%= "Website:" %>
                <%= @builder.website %>
            </p>

            <p>
                <%= "Address: " %>
                <%= @builder.address %>
            </p>

            <p>
                <%= "City: " %>
                <%= @builder.city %>
            </p>

            <p>
                <%= "State: " %>
                <%= @builder.state %>
            </p>

            <p>
                <%= "Zipcode: " %>
                <%= @builder.zipcode %>
            </p>

            <p>
                <%= "In Business Since:" %>
                <%= @builder.year_founded %>
            </p>

            <p>
                <%= "Slogan:" %>
                <%= @builder.slogan %>
            </p>

            <p>
                <%= "Logo:" %>
                <%= image_tag(@builder.image.name_url) if @builder.image.present? %>
            </p>
        </div>
    </div>
</div>