<p>
	<%= f.label :name, "Task List Name" %>
	<%= f.text_field(:name) %>
</p>
<%= f.fields_for :tasks do |builder| %>
	<%= render "task_fields", :f => builder %>
<% end %>
<p style="margin-left: 100px;"><%= link_to_add_association "Add", f, :tasks, partial: 'task_fields' %></p>







