<div>
    <%= render(:partial => "layouts/project_mgmt_sub_menu") %>
    <div class="zurb-row main-action-bar">
        <div class="large-3 medium-4 columns">
            <%= link_to("+ New Task List", {:action => 'new'}, :title => 'New Task List', :class => 'add action-button') %>
            <%= link_to("Import Task List", {:action => 'show_import'}, :title => 'Import Task List', :class => 'import action-button') %>
            <%= link_to("Instructions >>", {:action => 'show'}, :title => 'Instructions', :class => 'help action-button') %>
        </div>
        <div class="large-6 medium-6 columns">
            <h1>Task Lists</h1>
        </div>
        <div class="large-3 medium-2 columns">
        </div>
    </div>
    <div class="zurb-row">
        <div class="columns">
            <table class="grid-view margin-bottom responsive" summary="Project List">
                <tr class="header">
                    <th>Actions</th>
                    <th>Name</th>
                </tr>
                <% @tasklists.each do |x| %>
                    <tr>
                        <td class="center">
                            <%= link_to("Show", {:action => 'show', :id => x.id}, :title => 'Show', :class => 'view table-action') %>
                            <%= link_to("Export", {:action => 'show', :id => x.id, :format => 'xls'}, :title => 'Export', :class => 'export table-action') %>
                            <%= link_to("Edit", {:action => 'edit', :id => x.id}, :title => 'Edit', :class => 'edit table-action') %>
                            <%= link_to("Delete", {:action => 'delete', :id => x.id}, :title => 'Delete', :class => 'delete table-action') %>
                        </td>
                        <td><%= x.name %></td>
                    </tr>
                <% end %>
            </table>
        </div>
    </div>
</div>

