<div>
	<%= render(:partial => "layouts/project_mgmt_sub_menu")%>
	<h1>Task Lists</h1>
	<%= link_to("Instructions >>", {:action => 'show'}) %>
	<p>
	<%= link_to("+ New Task List", { :action => 'new'}, class: 'btn') %>
  </p>

  <p>
  <%= link_to("Import Task List", { :action => 'show_import'}, class: 'btn') %>
	</p>

	<table class="grid-view" summary="Project List">
		<tr class="header">
			<th>Actions</th>
			<th>Name</th>
		</tr>
		<% @tasklists.each do |x| %>

		<tr>
			<td class="center">
				<%= link_to("Show", {:action => 'show', :id => x.id}, :class => 'action edit') %>
        <%= link_to("Export", {:action => 'show', :id => x.id, :format => 'xls'}, :class => 'action') %>
				<%= link_to("Edit", {:action => 'edit', :id => x.id}, :class => 'action edit') %>
				<%= link_to("Delete", {:action => 'delete', :id => x.id}, :class => 'action delete') %>
			</td>
			<td><%= x.name%></td>

		</tr>
		<% end %>

	</table>
</div>

