<div>
    <%= render(:partial => "layouts/project_mgmt_sub_menu") %>
    <div class="zurb-row">
        <div class="columns margin-bottom">
            <h2>Details For: <%= @tasklist.name %> </h2>

            <p>
                <%= "Name:" %>
                <%= @tasklist.name %>
            </p>
            <% for task in @tasklist.tasks %>
                <li><%= task.name %></li>
            <% end %>
        </div>
    </div>
</div>