<h2>New Builder Registration</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:multipart => true, class: 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
      <h2>User Details</h2>

      <div class="control-group">

          <%= f.label :first_name, 'First Name', class: 'col-lg-2 control-label' %>
          <div class='controls'>
              <%= f.text_field :first_name %>
          </div>
      </div>
      <div class="control-group">
          <%= f.label :last_name, 'Last Name', class: 'col-lg-2 control-label' %>
          <div class='controls'>
              <%= f.text_field :last_name %>
          </div>
      </div>
      <div class="control-group">
          <%= f.label :email, 'Email', class: 'col-lg-2 control-label' %>
          <div class='controls'>
              <%= f.text_field :email %>
          </div>
      </div>
      <div class="control-group">
          <%= f.label :primary_phone, 'Primary Phone', class: 'col-lg-2 control-label' %>
          <div class='controls'>
              <%= f.text_field :primary_phone %>
          </div>
      </div>
      <div class="control-group">
          <%= f.label :password, 'Password', class: 'col-lg-2 control-label' %>
          <div class='controls'>
              <%= f.password_field :password %>
          </div>
      </div>
  </div>

  <div class="form-inputs">
      <h2>Company Details</h2>

      <div class="control-group">
          <%= label_tag 'builder[company_name]', "Company Name", class: 'col-lg-2 control-label' %>
          <div class="controls">
              <%= text_field_tag 'builder[company_name]' %>
          </div>
      </div>

      <div class="control-group">
          <%= label_tag 'builder[tax_id]', "Tax ID", class: 'col-lg-2 control-label' %>
          <div class="controls">
              <%= text_field_tag 'builder[tax_id]' %>
          </div>
      </div>

      <div class="control-group">
          <%= label_tag 'builder[office_phone]', "Office Phone:", class: 'col-lg-2 control-label' %>
          <div class="controls">
              <%= text_field_tag 'builder[office_phone]' %>
          </div>
      </div>

      <div class="control-group">
          <%= label_tag 'builder[website]', "Website:", class: 'col-lg-2 control-label' %>
          <div class="controls">
              <%= text_field_tag 'builder[website]' %>
          </div>
      </div>

      <div class="control-group">
          <%= label_tag 'builder[address]', "Address:", class: 'col-lg-2 control-label' %>
          <div class="controls">
              <%= text_field_tag 'builder[address]' %>
          </div>
      </div>

      <div class="control-group">
          <%= label_tag 'builder[city]', "City:", class: 'col-lg-2 control-label' %>
          <div class="controls">
              <%= text_field_tag 'builder[city]' %>
          </div>
      </div>

      <div class="control-group">
          <%= label_tag 'builder[state]', "State:", class: 'col-lg-2 control-label' %>
          <div class="controls">
              <%= text_field_tag 'builder[state]' %>
          </div>
      </div>

      <div class="control-group">
          <%= label_tag 'builder[zipcode]', "Zipcode:", class: 'col-lg-2 control-label' %>
          <div class="controls">
              <%= text_field_tag 'builder[zipcode]' %>
          </div>
      </div>

      <div class="control-group">
          <%= label_tag 'builder[year_founded]', "Year Founded:", class: 'col-lg-2 control-label' %>
          <div class="controls">
              <%= text_field_tag 'builder[year_founded]' %>
          </div>
      </div>

      <div class="control-group">
          <%= label_tag 'builder[slogan]', "Slogan:", class: 'col-lg-2 control-label' %>
          <div class="controls">
              <%= text_field_tag 'builder[slogan]' %>
          </div>
      </div>

      <div class="control-group">
          <%= label_tag 'builder[logo]', "Logo:", class: 'col-lg-2 control-label' %>
          <div class="controls">
              <%= file_field_tag 'builder[logo]' %>
          </div>
      </div>
  </div>

  <div class="control-group">
      <div class="controls">
          <%= f.button :submit, "Create", class: 'btn' %>
      </div>
  </div>

<% end %>
