<p>
	<%= f.label :company, "Company" %>
	<%= f.text_field(:company) %>
</p>
<p>
	<%= f.label :trade, "Trade" %>
	<%= f.text_field(:trade) %>
</p>
<p>
	<%= f.label :first_name, "First Name" %>
	<%= f.text_field(:first_name) %>
</p>
<p>
	<%= f.label :last_name, "Last Name" %>
	<%= f.text_field(:last_name) %>
</p>
<p>
	<%= f.label :primary_phone, "Primary Phone" %>
	<%= f.text_field(:primary_phone) %>
</p>
<p>
	<%= f.label :email, "Email" %>
	<%= f.text_field(:email) %>
</p>
<p>
	<%= f.label :secondary_phone, "Secondary Phone" %>
	<%= f.text_field(:secondary_phone) %>
</p>
<p>
	<%= f.label :address, "Address" %>
	<%= f.text_field(:address) %>
</p>
<p>
	<%= f.label :city, "City" %>
	<%= f.text_field(:city) %>
</p>
<p>
	<%= f.label :state, "State" %>
	<%= f.text_field(:state) %>
</p>
<p>
	<%= f.label :zipcode, "Zipcode" %>
	<%= f.text_field(:zipcode) %>
</p>
<p>
	<%= f.label :notes, "Notes" %>
	<%= f.text_area(:notes) %>
</p>



