<div>
  <%= render(:partial => "layouts/people_sub_menu")%>
  <h2>Import / Export</h2>
  

  <h3> Import Subcontractors: </h3>
  <%= form_for @subcontractor, url: {action: 'import'}, multipart: true do |f| %>
  <%= f.file_field :data %>
  <br/>
  <%= submit_tag("Import") %>

  <% end %>
  
  <div>
  
    <h3> Export Subcontractors: </h3>
    <p>
      <%= link_to "CSV", {controller: 'subcontractors', action: 'list', format: 'csv'} %> |
      <%= link_to "Excel", {controller: 'subcontractors', action: 'list', format: 'xls'} %>
    </p>
    
  </div>

</div>