<div>
	<%= render(:partial => "sub_menu")%>
	<h2>Subcontractor Details For: <%= @subcontractor.first_name %> </h2>
	
	<table summary="Estimate detail view">
		
		<tr>
			<th>Company</th>
			<td><%= @subcontractor.company %>
		</tr>
		<tr>
			<th>First Name</th>
			<td><%= @subcontractor.first_name %>
		</tr>
		<tr>
			<th>Last Name</th>
			<td><%= @subcontractor.last_name %>
		</tr>
		<tr>
			<th>Primary Phone</th>
			<td><%= number_to_phone(@subcontractor.primary_phone, area_code: true) %>
		</tr>
		<tr>
			<th>Email</th>
			<td><%= @subcontractor.email %>
		</tr>
		<tr>
			<th>Created At</th>
			<td><%= @subcontractor.created_at %>
		</tr>
		<tr>
			<th>Last Updated</th>
			<td><%= @subcontractor.updated_at %>
		</tr>
	</table>
</div>