<div>
	<%= render(:partial => "layouts/people_sub_menu")%>
	<h2 class="center">Subcontractor: <%= @subcontractor.company || @subcontractor.full_name %> </h2>
	<p>
			<b><%= "Trade:" %></b>
			<%= @subcontractor.trade %>
	</p>
	<p>
			<b><%= "Company:" %></b>
			<%= @subcontractor.company %>
	</p>
	<p>
		<b><%= "First Name:" %></b>
		<%= @subcontractor.first_name %>
	</p>
	<p>
		<b><%= "Last Name:" %></b>
		<%= @subcontractor.last_name %>
	</p>
	<p>
		<b><%= "Primary Phone:" %></b>
		<%= number_to_phone(@subcontractor.primary_phone, area_code: true) %>
		<%= @subcontractor.primary_phone_tag %>
	</p>
	<p>
		<b><%= "Secondary Phone:" %></b>
		<%= number_to_phone(@subcontractor.secondary_phone, area_code: true) %>
		<%= @subcontractor.secondary_phone_tag %>
	</p>
	<p>
		<b><%= "Email:" %></b>
		<%= @subcontractor.email %>
	</p>
	<p>
		<b><%= "Website:" %></b>
		<%= @subcontractor.website %>
	</p>
	<p>
		<b><%= "Address:" %></b>
		<%= @subcontractor.address %>
	</p>
	<p>
		<b><%= "City:" %></b>
		<%= @subcontractor.city %>
	</p>
	<p>
		<b><%= "State:" %></b>
		<%= @subcontractor.state %>
	</p>
	<p>
		<b><%= "Zipcode:" %></b>
		<%= @subcontractor.zipcode %>
	</p>
	<p>
		<b><%= "Notes:" %></b>
		</br>
		<%= @subcontractor.notes %>
	</p>
	<p>
		<b><%= "Created At:" %></b>
		<%= @subcontractor.created_at %>
	</p>
	<p>
		<b><%= "Last Updated:" %></b>
		<%= @subcontractor.updated_at %>
	</p>
	
</div>