<h2>Contact's Info:</h2>
<p>
	<%= f.label :primary_first_name, "First Name" %>
	<%= f.text_field(:primary_first_name) %>
</p>
<p>
	<%= f.label :primary_last_name, "Last Name" %>
	<%= f.text_field(:primary_last_name) %>
</p>
<p>
	<%= f.label :primary_phone1, "Primary Phone" %>
	<%= f.text_field(:primary_phone1) %>
	<%= f.select(:primary_phone1_tag,["Cell", "Office", "Home", "Pager"]) %>
</p>
<p>
	<%= f.label :primary_phone2, "Secondary Phone" %>
	<%= f.text_field(:primary_phone2) %>
	<%= f.select(:primary_phone2_tag,["Cell", "Office", "Home", "Pager"]) %>
</p>
<p>
	<%= f.label :primary_email, "Email" %>
	<%= f.text_field(:primary_email) %>
</p>

<p>
	<%= f.label :address, "Address" %>
	<%= f.text_field(:address) %>
</p>
<p>
	<%= f.label :city, "City" %>
	<%= f.text_field(:city) %>
</p>
<p>
	<%= f.label :state, "State" %>
	<%= f.text_field(:state) %>
</p>
<p>
	<%= f.label :zipcode, "Zipcode" %>
	<%= f.text_field(:zipcode) %>
</p>
<p>
	<%= f.label :notes, "Notes" %>
	<%= f.text_area(:notes) %>
</p>


