<tr class="vendor-rows">
    <td><a href='<%= vendor.id %>'></a><%= vendor.vendor_type %></td>
    <td><%= vendor.company %></td>
    <td><%= vendor.full_name %></td>
    <td><%= number_to_phone(vendor.primary_phone1, :area_code => true) %></td>
    <td><%= vendor.primary_email %></td>
    <td></td>
    <td><%= vendor.notes %></td>
</tr>