<tr class="contact-rows">
    <td><a href='<%= contact.id %>'></a>Other</td>
    <td></td>
    <td><%= contact.full_name %></td>
    <td><%= number_to_phone(contact.primary_phone1, :area_code => true) %></td>
    <td><%= contact.primary_email %></td>
    <td></td>
    <td><%= contact.notes %></td>
</tr>