<%= render :partial => 'shared/errors', :locals => {:obj => @vendor} %>

<h2>Company Info:</h2>
<div class="control-group">
    <%= f.label :vendor_type, "Vendor Type", :class => 'col-lg-2 control-label' %>
    <div class="controls">
        <div class="form-inline">
            <%= f.collection_radio_buttons(:vendor_type, Vendor::TYPES, :presence, :presence) %>
        </div>
    </div>
</div>
<div class="control-group">
    <%= f.label :trade, "Trade", :class => 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.text_field(:trade) %>
    </div>
</div>

<%= fields_for @vendor.company || VendorCompany.new do |co| %>
  <div class="control-group">
      <%= co.label :company_name, "Company Name", :class => 'col-lg-2 control-label' %>
      <div class="controls">
          <%= co.text_field(:company_name) %>
      </div>
  </div>
  <div class="control-group">
      <%= co.label :city, "City", :class => 'col-lg-2 control-label' %>
      <div class="controls">
          <%= co.text_field(:city) %>
      </div>
  </div>
  <div class="control-group">
      <%= co.label :state, "State", :class => 'col-lg-2 control-label' %>
      <div class="controls">
          <%= co.text_field(:state) %>
      </div>
  </div>

<% end %>
<div class="control-group">
    <%= f.label :address, "Address", :class => 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.text_field(:address) %>
    </div>
</div>
<div class="control-group">
    <%= f.label :website, "Website", :class => 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.text_field(:website) %>
    </div>
</div>
<div class="control-group">
    <%= f.label :zipcode, "Zipcode", :class => 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.text_field(:zipcode) %>
    </div>
</div>

<div class="control-group">
    <%= f.label :service_provided, "Service provided", :class => 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.text_field(:service_provided) %>
    </div>
</div>

<div class="control-group">
    <%= f.label :notes, "Notes", :class => 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.text_area(:notes, :size => '40x5') %>
    </div>
</div>

<h2>Primary Contact's Info:</h2>
<%= render(:partial => "shared/profile_fields", :locals => {:f => f, :object => @vendor.profiles[0] || @vendor.profiles.build}) %>

<h2>Secondary Contact's Info:</h2>
<%= render(:partial => "shared/profile_fields", :locals => {:f => f, :object => @vendor.profiles[1] || @vendor.profiles.build}) %>

<h2>Associated Projects</h2>
<%= render(:partial => "shared/associated_projects_fields", :locals => {:f => f, :object => @vendor}) %>