<div>
    <%= render(:partial => "layouts/people_sub_menu") %>
    <div class="zurb-row main-action-bar">
        <div class="large-3 medium-4 columns">
            <span class="trigger help action-button">Instructions >></span>

            <div class="instructions">
                <p>Click on the row of the people you want to edit their information.</p>
            </div>
        </div>
        <div class="large-6 medium-6 columns">
            <h1>All People</h1>
        </div>
        <div class="large-3 medium-2 columns">
        </div>
    </div>
    <div class="zurb-row">
        <div class="columns">
            <%= form_tag('all', :method => 'get', :class => 'form-inline') do %>
                <p>
                    <%= label_tag :query, "Search" %>
                    <%= text_field_tag(:query, @query) %>
                </p>
            <% end %>
        </div>
        <div class="columns">
            <table class="grid-view margin-bottom responsive" summary="Project List">
                <tr class="header">
                    <%= sorted_ths [["Type", "type"],
                                    ["Company", "company"],
                                    ["Main Contact", "full_name"],
                                    ["Primary Phone", "primary_phone"],
                                    ["Email", "email"],
                                    ["Associated Projects", "project_names"],
                                    ["Notes", "notes"]] %>
                </tr>
                <% @people.each do |p| %>
                  <% if p.instance_of? Client %>
                    <%= render(:partial => "tr_client", :locals => {client: p}) %>
                  <% elsif p.instance_of? Vendor %>
                    <%= render(:partial => "tr_vendor", :locals => {vendor: p}) %>
                  <% elsif p.instance_of? Contact %>
                    <%= render(:partial => "tr_contact", :locals => {contact: p}) %>
                  <% end %>
                <% end %>
            </table>
            <%= paginate @people %>
        </div>
    </div>
</div>

<script>
    $(".client-rows").click(function () {
        window.location.href = '/clients/edit/' + $(this).find("a").attr("href");
    });
    $(".client-rows").dblclick(function () {
        window.location.href = '/clients/edit/' + $(this).find("a").attr("href");
    });
    $(".vendor-rows").click(function () {
        window.location.href = '/people/edit_vendor/' + $(this).find("a").attr("href");
    });
    $(".vendor-rows").dblclick(function () {
        window.location.href = '/people/edit_vendor/' + $(this).find("a").attr("href");
    });
    $(".contact-rows").click(function () {
        window.location.href = '/people/edit_contact/' + $(this).find("a").attr("href");
    });
    $(".contact-rows").dblclick(function () {
        window.location.href = '/people/edit_contact/' + $(this).find("a").attr("href");
    });
</script>

