<div>
    <%= render(:partial => "layouts/people_sub_menu") %>
    <div class="zurb-row">
        <div class="columns">
            <h1 class="center">Import / Export</h1>

            <div>
                <h3> Import Vendors: </h3>
                <%= form_for @vendor, :url => {:action => 'import'}, :multipart => true do |f| %>
                    <%= f.file_field :data %>
                    <br/>
                    <%= submit_tag("Import", :class => 'btn') %>
                <% end %>
            </div>
            <div>
                <h3> Export Vendors: </h3>

                <p>
                    <%= link_to "CSV", {:controller => 'people', :action => 'list_vendors', :format => 'csv'} %> |
                    <%= link_to "Excel", {:controller => 'people', :action => 'list_vendors', :format => 'xls'} %>
                </p>
            </div>
        </div>
    </div>
</div>