<div>
    <%= render(:partial => "layouts/people_sub_menu") %>
    <div class="zurb-row main-action-bar">
        <div class="large-3 medium-4 columns">
            <%= link_to("+ New Contact", {:action => 'new_contact'}, :title => 'New Contact', :class => 'add action-button') %>
            <span class="trigger help action-button" title="Instructions">Instructions >></span>

            <div class="instructions">
                <p>Click on the row of the contact you want to edit information.</p>
            </div>
        </div>
        <div class="large-6 medium-6 columns">
            <h1>Other Contacts</h1>
        </div>
        <div class="large-3 medium-2 columns">
        </div>
    </div>
    <div class="zurb-row">
        <div class="columns">
            <%= form_tag('list_contacts', :method => 'get', :class => 'form-inline') do %>
                <p>
                    <%= label_tag :query, "Search" %>
                    <%= text_field_tag(:query, @query) %>
                </p>
            <% end %>
        </div>
        <div class="columns">
            <table class="grid-view margin-bottom responsive" summary="Project List">
                <tr class="header">
                    <%= sorted_ths [["Type", "type"],
                                    ["Main Contact", "full_name"],
                                    ["Primary Phone", "primary_phone"],
                                    ["Email", "email"],
                                    ["Associated Projects", "project_names"],
                                    ["Notes", "notes"]] %>
                </tr>
                <% @contacts.each do |c| %>
                    <tr class="contact-rows">
                        <td><a href='<%= c.id %>'></a>Other</td>
                        <td><%= c.full_name %></td>
                        <td><%= number_to_phone(c.primary_phone1, :area_code => true) %></td>
                        <td><%= c.primary_email %></td>
                        <td></td>
                        <td><%= c.notes %></td>
                    </tr>
                <% end %>
            </table>
            <%= paginate @contacts %>
        </div>
    </div>
</div>

<script>
    $(".contact-rows").click(function () {
        window.location.href = '/people/edit_contact/' + $(this).find("a").attr("href");
    });
    $(".contact-rows").dblclick(function () {
        window.location.href = '/people/edit_contact/' + $(this).find("a").attr("href");
    });
</script>


