<div>
    <%= render(:partial => "layouts/people_sub_menu") %>
    <div class="zurb-row main-action-bar">
        <div class="large-3 medium-4 columns">
            <%= link_to("+ New Vendor", {:action => 'new_vendor'}, :title => 'New Vendor', :class => 'add action-button') %>
            <span class="trigger help action-button" title="Instructions">Instructions >></span>

            <div class="instructions">
                <p>Click on the row of the vendor you want to edit their information.</p>
            </div>
        </div>
        <div class="large-6 medium-6 columns">
            <h1>Vendor List</h1>
        </div>
        <div class="large-3 medium-2 columns">
        </div>
    </div>
    <div class="zurb-row">
        <div class="columns">
            <%= form_tag('list_vendors', :method => 'get', :class => 'form-inline') do %>
                <p>
                    <%= label_tag :query, "Search" %>
                    <%= text_field_tag(:query, @query) %>
                </p>
            <% end %>
        </div>
        <div class="columns">
            <table class="grid-view margin-bottom responsive" summary="Project List">
                <tr class="header">
                    <th>Type</th>
                    <th>Trade</th>
                    <th>Company</th>
                    <th>Main Contact</th>
                    <th>Primary Phone</th>
                    <th>Email</th>
                    <th>Associated Projects</th>
                    <th>Notes</th>
                </tr>
                <% @vendors.each do |v| %>
                    <tr class="rows">
                        <td><a href='<%= v.id %>'></a><%= v.vendor_type %></td>
                        <td><%= v.trade %></td>
                        <td><%= v.company %></td>
                        <td><%= v.full_name %></td>
                        <td><%= number_to_phone(v.primary_phone1, :area_code => true) %></td>
                        <td><%= v.primary_email %></td>
                        <td></td>
                        <td><%= v.notes %></td>
                    </tr>
                <% end %>
            </table>
        </div>
    </div>
</div>

<script>
    $(".instructions").hide();
    $(".trigger").click(function () {
        if ($(".instructions").is(":hidden")) {
            $(".instructions").slideDown("slow");
        }
        else {
            $(".instructions").hide();
        }
    });
    $(".rows").click(function () {
        window.location.href = '/people/edit_vendor/' + $(this).find("a").attr("href");
    });
    $(".rows").dblclick(function () {
        window.location.href = '/people/edit_vendor/' + $(this).find("a").attr("href");
    });
</script>


