<div>
    <%= render(:partial => "layouts/people_sub_menu") %>
    <div class="zurb-row main-action-bar">
        <div class="large-3 medium-4 columns">
            <%= link_to("Edit >>", {:action => 'edit_vendor', :id => @vendor.id}, :title => 'Edit', :class => 'edit-large action-button') %>
            <%= link_to("Delete >>", {:action => 'delete_vendor', :id => @vendor.id}, :title => 'Delete', :class => 'delete-large action-button') %>
        </div>
        <div class="large-6 medium-6 columns">
            <h1 class="center">
                <%= @vendor.vendor_type %> - <%= @vendor.display_name %>
            </h1>
        </div>
        <div class="large-3 medium-2 columns">
        </div>
    </div>
    <div class="zurb-row">
        <div class="columns margin-bottom">
            <h2>Company Info:</h2>

            <p>
                <% if @vendor.vendor_type == 'Subcontractor' %>
                    <b><%= "Trade:" %></b>
                    <%= @vendor.trade %>
                <% end %>
            </p>

            <p>
                <b><%= "Company Name:" %></b>
                <%= @vendor.company_name %>
            </p>

            <p>
                <b><%= "Website:" %></b>
                <%= @vendor.website %>
            </p>

            <p>
                <b><%= "Address:" %></b>
                <%= @vendor.address %>
            </p>

            <p>
                <b><%= "City:" %></b>
                <%= @vendor.city %>
            </p>

            <p>
                <b><%= "State:" %></b>
                <%= @vendor.state %>
            </p>

            <p>
                <b><%= "Zipcode:" %></b>
                <%= @vendor.zipcode %>
            </p>

            <p>
                <b><%= "Notes:" %></b>
                <%= @vendor.notes %>
            </p>

            <h2>Primary Contact's Info:</h2>
            <%= render(:partial => "shared/profile_details", :locals => {:object => @vendor.profiles[0] || @vendor.profiles.build}) %>

            <h2>Secondary Contact's Info:</h2>
            <%= render(:partial => "shared/profile_details", :locals => {:object => @vendor.profiles[1] || @vendor.profiles.build}) %>

            <h2>Associated Projects:</h2>

            <p>
                <ul>
                    <% @vendor.project_names.split(",").each do |name| %>
                      <li><%= name %></li>
                    <% end %>
                </ul>
            </p>

            <p>
                <b><%= "Created At:" %></b>
                <%= @vendor.created_at %>
            </p>

            <p>
                <b><%= "Last Updated:" %></b>
                <%= @vendor.updated_at %>
            </p>
        </div>
    </div>
</div>