<div>
    <%= render(:partial => "layouts/people_sub_menu") %>
    <div class="zurb-row main-action-bar">
        <div class="large-3 medium-4 columns">
            <%= link_to("Edit >>", {:action => 'edit_contact', :id => @contact.id}, :title => 'Edit', :class => 'edit-large action-button') %>
            <%= link_to("Delete >>", {:action => 'delete_contact', :id => @contact.id}, :title => 'Delete', :class => 'delete-large action-button') %>
        </div>
        <div class="large-6 medium-6 columns">
            <h1 class="center">
                <%= @contact.display_name %>
            </h1>
        </div>
        <div class="large-3 medium-2 columns">
        </div>
    </div>
    <div class="zurb-row">
        <div class="columns margin-bottom">
            <h2>Company Info:</h2>

            <p>
                <b><%= "Company Name:" %></b>
                <%= @contact.company %>
            </p>

            <p>
                <b><%= "Website:" %></b>
                <%= @contact.website %>
            </p>

            <p>
                <b><%= "Address:" %></b>
                <%= @contact.address %>
            </p>

            <p>
                <b><%= "City:" %></b>
                <%= @contact.city %>
            </p>

            <p>
                <b><%= "State:" %></b>
                <%= @contact.state %>
            </p>

            <p>
                <b><%= "Zipcode:" %></b>
                <%= @contact.zipcode %>
            </p>

            <p>
                <b><%= "Notes:" %></b>
                <%= @contact.notes %>
            </p>

            <h2>Primary Contact's Info:</h2>
            <%= render(:partial => "shared/profile_details", :locals => {:object => @contact.profiles[0] || @contact.profiles.build}) %>

            <h2>Secondary Contact's Info:</h2>
            <%= render(:partial => "shared/profile_details", :locals => {:object => @contact.profiles[1] || @contact.profiles.build}) %>

            <p>
                <ul>
                    <% @contact.project_names.split(",").each do |name| %>
                      <li><%= name %></li>
                    <% end %>
                </ul>
            </p>

        </div>
    </div>
</div>