<p>
  <%= f.label(:name, 'Template Name') %>
	<%= f.text_field(:name) %>
</p>

<%= f.fields_for :categories do |category| %>
  <%= render('categories', f: category) %>
<% end %>
<p style="margin-left: 40px"><%= link_to_add_association 'Add Category', f, :categories, partial: 'categories' %></p>
