<% content_for :javascript do %>
  <script type='text/javascript'>
    $(document).ready(function () {
      Template.init();
    })
  </script>
<% end %>
<%= render :partial => 'shared/errors', :locals => {:obj => @template} %>

<div class="template-fields">
    <div class="control-group">
        <%= f.label(:name, 'Template Name', class: 'col-lg-2 control-label') %>
        <div class='controls'>
            <%= f.text_field(:name) %>
        </div>
    </div>

    <%= f.fields_for :categories_templates do |ct| %>
      <%= render('categories', f: ct) %>
    <% end %>
    <p style="margin-left: 75px"><%= link_to_add_association 'Add Category', f, :categories_templates, partial: 'categories' %></p>
</div>