<div>
  <%= render(:partial => "layouts/estimating_sub_menu")%>
  <h2>Edit Template</h2>
  <h3><%= notice if notice %></h3>

  <%= form_for @template, url: {action: 'update', id: @template.id} do |f| %>

    <%= render(partial: "new_form", locals: {f: f})%>

    <div class="form-buttons">
      <%= submit_tag("Update") %>
    </div>

  <% end %>

</div>