<div>
	<%= render(partial: "sub_menu")%>
	<h2>Create Template</h2>
	<input type="hidden" id="site_url" value="<%= "http://#{request.raw_host_with_port}" %>">

	<%= form_for @template, url: {action: 'create'} do |f| %>

		<%= render(partial: "new_form", locals: {f: f})%>

		<div class="form-buttons">
			<%= submit_tag("Create Template") %>
		</div>

	<% end %>
</div>
<script>
  $(document).ready(function(){
    $('.remove_fields').first().remove();
  });
</script>