<% content_for :javascript do %>
  <script type='text/javascript'>
    $(document).ready(function () {
      Bid.init();
    })
  </script>
<% end %>
<h2>Bid Info:</h2>

<%= f.hidden_field(:estimate_id) %>

<div class="control-group">
    <%= f.label :categories_template, "Category", class: 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.select(:category_id, grouped_bid_category_options(@bid.estimate), {:selected => @bid.category.try(:id), :include_blank => true}, :data => {:remote => true, :url => url_for(:action => "show_estimate_items", :estimate_id => @bid.estimate.id, :id => @bid.id)}) %>
    </div>
</div>
<div class="control-group">
    <%= f.label :vendor, "Vendor", class: 'col-lg-2 control-label' %>
    <div class="controls">
        <%= hidden_field_tag :payer, @bid.vendor.try(:display_name), data: {url: people_autocomplete_name_path(type: Vendor.name)} %>
        <%= f.hidden_field :vendor_id, class: 'payer-id' %>
    </div>
</div>
<div class="control-group">
    <%= f.label :bid_amount, "Amount", class: 'col-lg-2 control-label' %>
    <div class="controls">
        <span id="bid-amount" class="inline"></span>
    </div>
</div>
<div class="control-group">
    <%= f.label :notes, "Notes", class: 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.text_area(:notes, size: '40x5') %>
    </div>
</div>
<div class="control-group">
    <%= f.label :chosen, "Commit Bid", class: 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.check_box(:chosen) %>
    </div>
</div>
<div id="item-placeholder">
      <% if @bid.estimate.kind =="Cost Plus Bid" %>
        <%= render(:partial => "bids/cost_plus_bid/bid_item", :locals => {:bid => @bid, :items => @bid.items, :co_items => @bid.co_items}) %>
      <% else %>
        <%= render(:partial => "bid_item", :locals => {:bid => @bid, :items => @bid.items, :co_items => @bid.co_items}) %>
      <% end %>
</div>




