<div>
	<%= render(:partial => "sub_menu")%>
	<h2>Architect Details For: <%= @architect.first_name %> </h2>
	
	<table summary="Estimate detail view">
		
		<tr>
			<th>Company</th>
			<td><%= @architect.company %>
		</tr>
		<tr>
			<th>First Name</th>
			<td><%= @architect.first_name %>
		</tr>
		<tr>
			<th>Last Name</th>
			<td><%= @architect.last_name %>
		</tr>
		<tr>
			<th>Primary Phone</th>
			<td><%= @architect.primary_phone %>
		</tr>
		<tr>
			<th>Email</th>
			<td><%= @architect.email %>
		</tr>
		<tr>
			<th>Website</th>
			<td><%= @architect.website %>
		</tr>
		<tr>
			<th>Address</th>
			<td><%= @architect.address %>
		</tr>
		<tr>
			<th>City</th>
			<td><%= @architect.city %>
		</tr>
		<tr>
			<th>State</th>
			<td><%= @architect.state %>
		</tr>
		<tr>
			<th>Zipcode</th>
			<td><%= @architect.zipcode %>
		</tr>
		<tr>
			<th>Notes</th>
			<td><%= @architect.notes %>
		</tr>
		<tr>
			<th>Created At</th>
			<td><%= @architect.created_at %>
		</tr>
		<tr>
			<th>Last Updated</th>
			<td><%= @architect.updated_at %>
		</tr>
	</table>
</div>