<div>
	<%= render(:partial => "sub_menu")%>
	<h2 class="center">Architect: <%= @architect.company || @architect.full_name %> </h2>
	<p>
			<b><%= "Company:" %></b>
			<%= @architect.company %>
	</p>
	<p>
		<b><%= "First Name:" %></b>
		<%= @architect.first_name %>
	</p>
	<p>
		<b><%= "Last Name:" %></b>
		<%= @architect.last_name %>
	</p>
	<p>
		<b><%= "Primary Phone:" %></b>
		<%= number_to_phone(@architect.primary_phone, area_code: true) %>
		<%= @architect.primary_phone_tag %>
	</p>
	<p>
		<b><%= "Secondary Phone:" %></b>
		<%= number_to_phone(@architect.secondary_phone, area_code: true) %>
		<%= @architect.secondary_phone_tag %>
	</p>
	<p>
		<b><%= "Email:" %></b>
		<%= @architect.email %>
	</p>
	<p>
		<b><%= "Website:" %></b>
		<%= @architect.website %>
	</p>
	<p>
		<b><%= "Address:" %></b>
		<%= @architect.address %>
	</p>
	<p>
		<b><%= "City:" %></b>
		<%= @architect.city %>
	</p>
	<p>
		<b><%= "State:" %></b>
		<%= @architect.state %>
	</p>
	<p>
		<b><%= "Zipcode:" %></b>
		<%= @architect.zipcode %>
	</p>
	<p>
		<b><%= "Notes:" %></b>
		</br>
		<%= @architect.notes %>
	</p>
	<p>
		<b><%= "Created At:" %></b>
		<%= @architect.created_at %>
	</p>
	<p>
		<b><%= "Last Updated:" %></b>
		<%= @architect.updated_at %>
	</p>
</div>