<div>
    <%= render(:partial => "layouts/accounting_sub_menu") %>
    <div class="zurb-row main-action-bar">
        <div class="large-3 medium-4 columns">
            &nbsp;
        </div>
        <div class="large-6 medium-6 columns">
            <h1>Project Expense Report</h1>
        </div>
        <div class="large-3 medium-2 columns">
        </div>
    </div>
    <div class="zurb-row">
        <div class="columns">
            <%= form_tag({:action => 'export_project_expense_report'}, remote: true, class: 'form-inline') do |f| %>
                <%= label_tag :project_id, 'Project', class: 'col-lg-2 control-label' %>
                <%= select_tag(:project_id, options_for_select(@builder.projects.collect { |p| [p.name, p.id] }), :include_blank => true, class: "range-picker") %>
              <div class="daterangepickerSet" style="display: inline-block">
                  <%= label_tag :date_range, 'Date Range', class: 'col-lg-2 control-label' %>
                  <%= select_tag(:date_range, options_for_select([["Current Month", "current_month"], ["Current Quarter", "current_quarter"], ["Current Year", "current_year"]]), :include_blank => true, class: "range-picker") %>
                  <%= label_tag :from_date, 'From Date', class: 'col-lg-2 control-label' %>
                  <%= text_field_tag(:from_date, nil, class: 'from_date') %>
                  <%= hidden_field_tag(:from_date, nil, id: 'from_date_hidden') %>
                  <%= label_tag :to_date, 'To Date', class: 'col-lg-2 control-label' %>
                  <%= text_field_tag(:to_date, nil, class: 'to_date') %>
                  <%= hidden_field_tag(:to_date, nil, id: 'to_date_hidden') %>
              </div>
              <%= submit_tag "Create", class: 'btn' %>
            <% end %>
        </div>
        <div class="zurb-row">
            <div class="columns">
                <div class="pl-report-placeholder"></div>
            </div>
        </div>
    </div>
</div>



