<% if client %>
  <div class="zurb-row">

      <div class="large-6 medium-6 columns">
          <p>
              <strong>Company</strong>
              <%= client.company_name %>
          </p>

          <p>
              <strong>Website</strong>
              <%= client.website %>
          </p>

          <p>
              <strong>Lead Source</strong>
              <%= client.lead_source %>
          </p>

          <p>
              <strong>Address</strong>
              <%= client.address %>
          </p>

          <p>
              <strong>City</strong>
              <%= client.city %>
          </p>

          <p>
              <strong>State</strong>
              <%= client.state %>
          </p>

          <p>
              <strong>Zipcode</strong>
              <%= client.zipcode %>
          </p>
      </div>
      <div class="large-4 medium-4 columns">
          <%= render(:partial => "shared/profile_account_details", :locals => {:object => client.profiles[0] || client.profiles.build}) %>
      </div>
      <div class="large-2 medium-2 columns">
          <div class="more-actions">
              <div class="btn-group">
                  <%= link_to "Print", {:action => 'show_account', :type => Client.name, :id => client.id, project_id: project.try(:id), :format => :pdf}, :target => '_blank', class: 'btn' %>
                  <%= link_to "Email", {:action => 'show_account_email', :type => Client.name, :id => client.id, project_id: project.try(:id)}, :target => '_blank', class: 'btn' %>
              </div>
          </div>
      </div>
  </div>
  <div class="zurb-row">
      <div class="columns">
          <p>
              <strong>Notes</strong>
              <%= client.notes %>
          </p>
      </div>
  </div>
  <%= render(:partial => "accounting/accounts/table_transactions", :locals => {:transactions => transactions, :balance => balance }) %>
<% end %>