<%= form_tag('vendor_accounts', :method => 'get', :remote => true, :class => 'form-horizontal search_people') do %>
  <div class="control-group">
      <%= label_tag :term, "Search"%>
      <div class="full-width">
          <%= select_tag(:type, options_for_select(["All", "Active"], params[:type] || "All")) %>
          <%= text_field_tag(:term, params[:term]) %>
      </div>
  </div>
<% end %>

<table class="grid-view responsive" summary="Vendor List">
    <tr class="header">
        <th>Name</th>
        <th>Balance</th>
    </tr>

    <% vendors.each do |vendor| %>
      <tr class="clickable person" id="<%= vendor.id %>">
          <td>
              <% if vendor.has_projects? %>
                <%= link_to "", {:action => "list_projects", :id => vendor.id, type: Vendor.name}, {:remote => true, :class => 'expander collapsed'} %>
              <% else %>
                <div class="indent">&nbsp;</div>
              <% end %>
              <%= vendor.display_name %>
              <%= link_to "Show Vendor", {:action => "show_account", :id => vendor.id, type: Vendor.name}, {:remote => true, :style => 'display: none', :class => 'clickable-link'} %>
          </td>
          <td class="right">
              <%= number_to_currency(vendor.balance) %>
          </td>
      </tr>

    <% end %>
</table>
<%= paginate vendors, :remote => true, params: {action: "vendor_accounts"} %>