<h2>User Details</h2>
	<p>
		<%= u.label :authority, "Authority Level" %>
		<%= u.select(:authority, ["Owner", "Admin", "Accountant", "Payroll Mgr", "Accounts Receivable Mgr", "Accounts Payable Mgr", 
		"Project Mgr", "Estimator", "Salesman" ], {:include_blank => true}) %>
	</p>
	<p>
		<%= u.label :first_name, "First Name" %>
		<%= u.text_field(:first_name) %>
	</p>
	<p>
		<%= u.label :last_name, "Last Name" %>
		<%= u.text_field(:last_name) %>
	</p>
	<p>
		<%= u.label :email, "Email" %>
		<%= u.text_field(:email) %>
	</p>
	<p>
		<%= u.label :primary_phone, "Primary Phone" %>
		<%= u.text_field(:primary_phone) %>
	</p>
	<p>
		<%= u.label :password, "Password" %>
		<%= u.text_field(:password) %>
	</p>
