<h2>User Details</h2>
	<p>
		<%= u.label :first_name, "First Name" %>
		<%= u.text_field(:first_name) %>
	</p>
	<p>
		<%= u.label :last_name, "Last Name" %>
		<%= u.text_field(:last_name) %>
	</p>
	<p>
		<%= u.label :email, "Email" %>
		<%= u.text_field(:email) %>
	</p>
	<p>
		<%= u.label :primary_phone, "Primary Phone" %>
		<%= u.text_field(:primary_phone) %>
	</p>
	<p>
		<%= u.label :password, "Password" %>
		<%= u.password_field(:password) %>
	</p>
<h2>Company Details</h2>
	<p>
		<%= b.label :company_name, "Company Name" %>
		<%= b.text_field :company_name %>
	</p>
	<p>
		<%= b.label :tax_id, "Tax ID" %>
		<%= b.text_field :tax_id %>
	</p>
	<p>
		<%= b.label :office_phone, "Office Phone:" %>
		<%= b.text_field :office_phone %>
	</p>
	<p>
		<%= b.label :website,"Website:" %>
		<%= b.text_field :website %>
	</p>
	<p>
		<%= b.label :address,"Address: " %>
		<%= b.text_field :address %>
	</p>
	<p>
		<%= b.label :city,"City: " %>
		<%= b.text_field :city %>
	</p>
	<p>
		<%= b.label :state,"State: " %>
		<%= b.text_field :state %>
	</p>
	<p>
		<%= b.label :zipcode,"Zipcode: " %>
		<%= b.text_field :zipcode %>
	</p>
	<p>
		<%= b.label :year_founded,"Year Founded:" %>
		<%= b.text_field :year_founded %>
	</p>
  <p>
      <%= b.label :slogan, "Slogan:"%>
      <%= b.text_field(:slogan) %>
  </p>
  <p>
      <%= b.label :logo, "Logo:"%>
      <%= b.file_field :logo %>
  </p>





