<div>
    <%= render(:partial => "layouts/company_sub_menu") %>
    <div class="zurb-row main-action-bar">
        <div class="large-3 medium-4 columns">
            <%= link_to("Show >>", {:action => 'show', :id => @user.id}, :title => 'View', :class => 'view-large action-button') %>
            <%= link_to("Delete >>", {:action => 'delete', :id => @user.id}, :title => 'Edit', :class => 'delete-large action-button') %>
        </div>
        <div class="large-6 medium-6 columns">
            <h1 class="center">
                Edit User Info
            </h1>
        </div>
        <div class="large-3 medium-2 columns">
        </div>
    </div>
    <div class="zurb-row">
        <div class="columns">
            <%= form_for @user, :url => {:action => 'update', :id => @user.id}, :html => {:class => 'form-horizontal'} do |f| %>
                <% if @user.errors.any? %>
                    <div id="errorExplanation">
                        <h2><%= pluralize(@user.errors.count, "Error") %> prohibited
                            this user from being saved:</h2>
                        <ul>
                            <% @user.errors.full_messages.each do |msg| %>
                                <li><%= msg %></li>
                            <% end %>
                        </ul>
                    </div>
                <% end %>
                <%= render(:partial => "form", :locals => {:f => f}) %>
                <div class="control-group">
                    <div class='controls'>
                        <%= submit_tag("Update", :class => 'btn') %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>
