<p>
	<%= f.label :company, "Company" %>
	<%= f.text_field(:company) %>
</p>
<p>
	<%= f.label :first_name, "First Name" %>
	<%= f.text_field(:first_name) %>
</p>
<p>
	<%= f.label :last_name, "Last Name" %>
	<%= f.text_field(:last_name) %>
</p>
<p>
	<%= f.label :primary_phone, "Primary Phone" %>
	<%= f.text_field(:primary_phone) %>
</p>
<p>
	<%= f.label :email, "Email" %>
	<%= f.text_field(:email) %>
</p>
<p>
	<%= f.label :lead_source, "Lead Source" %>
	<%= f.text_field(:lead_source) %>
</p>
<p>
	<%= f.label :notes, "Notes" %>
	<%= f.text_area(:notes) %>
</p>



