<div>
    <%= render(:partial => "layouts/people_sub_menu") %>
    <div class="zurb-row main-action-bar">
        <div class="large-3 medium-4 columns">
            <%= link_to("+ New Client", {:action => 'new'}, :class => 'add action-button') %>
            <span class="trigger help action-button">Instructions >></span>

            <div class="instructions">
                <p>Click on the row of the client you want to edit their information.</p>
            </div>
        </div>
        <div class="large-6 medium-6 columns">
            <h1>Client List</h1>
        </div>
        <div class="large-3 medium-2 columns">
        </div>
    </div>
    <div class="zurb-row">
        <div class="columns">
            <%= form_tag('list', :method => 'get', :class => 'form-inline') do %>
                <p>
                    <%= label_tag :query, "Search" %>
                    <%= text_field_tag(:query, @query) %>
                </p>
            <% end %>
        </div>
        <div class="columns">
            <table class="grid-view margin-bottom responsive" summary="Project List">
                <tr class="header">
                    <th>Actions</th>
                    <th>Company</th>
                    <th>Client Name</th>
                    <th>Primary Phone</th>
                    <th>Email</th>
                    <th>Associated Projects</th>
                    <th>Lead Source</th>
                    <th>Notes</th>
                </tr>
                <% @clients.each do |client| %>
                    <tr class="client-rows">
                        <td class="center">
                            <%= link_to("Edit", {:action => 'edit', :id => client.id}, :title => 'Edit', :class => 'edit table-action', :style => 'display: none;') %>
                            <%= link_to("Delete", {:action => 'delete', :id => client.id}, :title => 'Delete', :class => 'delete table-action') %>
                        </td>
                        <td><%= client.company %></td>
                        <td><%= client.full_name %></td>
                        <td><%= number_to_phone(client.primary_phone, :area_code => true) %></td>
                        <td><%= client.email %></td>
                        <td>
                            <% client.projects.each do |project| %>
                                <%= project.name %>
                                </br>
                            <% end %>
                        </td>
                        <td><%= client.lead_source %></td>
                        <td><%= client.notes %></td>
                    </tr>
                <% end %>
            </table>
            <%= paginate @clients %>
        </div>
    </div>
</div>

<script>
    $(".client-rows").click(function () {
        window.location.href = $(this).find("a.edit").attr("href");
    });
    $(".client-rows").dblclick(function () {
        window.location.href = $(this).find("a.edit").attr("href");
    });
</script>
