<div>
    <%= render(:partial => "layouts/people_sub_menu") %>
    <div class="zurb-row main-action-bar">
        <div class="large-3 medium-4 columns">
            <%= link_to("Edit >>", {:action => 'edit', :id => @client.id}, :title => 'Edit', :class => 'edit-large action-button') %>
            <%= link_to("Delete >>", {:action => 'delete', :id => @client.id}, :title => 'Delete', :class => 'delete-large action-button') %>
        </div>
        <div class="large-6 medium-6 columns">
            <h1 class="center">
                <%= @client.display_name %>
            </h1>
        </div>
        <div class="large-3 medium-2 columns">
        </div>
    </div>
    <div class="zurb-row">
        <div class="columns margin-bottom">
            <h2>Company Info</h2>
            <p>
                <b><%= "Company:" %></b>
                <%= @client.company %>
            </p>

            <p>
                <b><%= "Address:" %></b>
                <%= @client.address %>
            </p>

            <p>
                <b><%= "City:" %></b>
                <%= @client.city %>
            </p>

            <p>
                <b><%= "State:" %></b>
                <%= @client.state %>
            </p>

            <p>
                <b><%= "Zipcode:" %></b>
                <%= @client.zipcode %>
            </p>

            <p>
                <b><%= "Lead Source:" %></b>
                <%= @client.lead_source %>
            </p>

            <p>
                <b><%= "Notes:" %></b>
                </br>
                <%= @client.notes %>
            </p>

            <h2>Primary Contact's Info</h2>
            <%= render(:partial => "shared/profile_details", :locals => {:object => @client.profiles[0] || @client.profiles.build}) %>

            <h2>Secondary Contact's Info</h2>
            <%= render(:partial => "shared/profile_details", :locals => {:object => @client.profiles[1] || @client.profiles.build}) %>

            <h2>Associated Projects:</h2>
            <p>
                <ul>
                    <% @client.project_names.split(",").each do |name| %>
                      <li><%= name %></li>
                    <% end %>
                </ul>
            </p>

            <p>
                <b><%= "Created At:" %></b>
                <%= @client.created_at %>
            </p>

            <p>
                <b><%= "Last Updated:" %></b>
                <%= @client.updated_at %>
            </p>
        </div>
    </div>
</div>