<div>
	<%= render(:partial => "sub_menu")%>
	<h2>Client Details For: <%= @client.first_name %> </h2>
	
	<table summary="Estimate detail view">
		
		<tr>
			<th>Company</th>
			<td><%= @client.company %>
		</tr>
		<tr>
			<th>First Name</th>
			<td><%= @client.first_name %>
		</tr>
		<tr>
			<th>Last Name</th>
			<td><%= @client.last_name %>
		</tr>
		<tr>
			<th>Primary Phone</th>
			<td><%= number_to_phone(@client.primary_phone, area_code: true) %>
		</tr>
		<tr>
			<th>Secondary Phone</th>
			<td><%= number_to_phone(@client.secondary_phone, area_code: true) %>
		</tr>
		<tr>
			<th>Email</th>
			<td><%= @client.email %>
		</tr>
		<tr>
			<th>Lead Source</th>
			<td><%= @client.lead_source %>
		</tr>
		<tr>
			<th>Created At</th>
			<td><%= @client.created_at %>
		</tr>
		<tr>
			<th>Last Updated</th>
			<td><%= @client.updated_at %>
		</tr>
	</table>
</div>