<tr class="clickable <% if t.reconciled%> unclickable <% end %>">
    <td class="center">
        <%= t.date %>
        <%= link_to("Edit", {:controller => 'accounting', :action => 'edit_invoice', :id => t.transactionable.invoice_id}, :class => 'action edit clickable-link', :style => 'display: none') %>
    </td>
    <td>Invoice</td>
    <td class="center"><%= t.transactionable.invoice.reference %></td>
    <td></td>
    <td></td>
    <td class="right"><%= price_tag(t.amount) %></td>
    <td class="center action-container">
        <%= check_box_tag("#{t.class.name}_#{t.id}", t.id, t.reconciled, :data => {:remote => true, :url => url_for(:action => "reconcile", :id => t.id)}) %>
    </td>
    <td class="right"><%= price_tag(balance) %></td>
</tr>