<table>
	<tr>
		<th>Date Last Contacted</th>
		<td>
			<%= c.text_field(:last_contacted, class: 'datepicker', :value => c.object.try(:last_contacted).try(:strftime, '%m-%d-%Y')) %>
        	<%= c.hidden_field(:last_contacted, id: 'lead_last_contacted_hidden', :value => c.object.try(:last_contacted).try(:strftime, '%Y-%m-%d')) %>
	</tr>
	<tr>
		<th>First Name</th>
		<td><%= c.text_field(:first_name) %>
	</tr>
	<tr>
		<th>Last Name</th>
		<td><%= c.text_field(:last_name) %>
	</tr>
	<tr>
		<th>Primary Phone</th>
		<td><%= c.text_field(:primary_phone) %>
	</tr>
	<tr>
		<th>Secondary Phone</th>
		<td><%= c.text_field(:secondary_phone) %>
	</tr>
	<tr>
		<th>Email</th>
		<td><%= c.text_field(:email) %>
	</tr>
	<tr>
		<th>Lead Source</th>
		<td><%= c.text_field(:lead_source) %>
	</tr>
	<tr>
		<th>Notes</th>
		<td><%= p.text_area(:lead_notes) %>
	</tr>
</table>