<div>
    <%= render(:partial => "layouts/leads_sub_menu") %>
    <h2>Update Lead</h2>
    <%= form_for @project, :url => {:action => 'update', :id => @project.id}, html: {class: ' form-horizontal'} do |p| %>
      <%= fields_for @client do |c| %>


        <%= render(:partial => "lead_form", :locals => {:c => c, :p => p}) %>

        <div class="control-group">
            <div class="controls">
                <%= submit_tag("Update Lead", class: 'btn') %>
            </div>
        </div>

      <% end %>
    <% end %>
</div>