<div>
    <%= render(:partial => "layouts/leads_sub_menu") %>
    <div class="zurb-row main-action-bar">
        <div class="large-3 medium-4 columns">
            <span class="trigger help action-button">Instructions >></span>

            <div class="instructions">
                <p>Click on the row of the project you want to edit information.</p>
            </div>
        </div>
        <div class="large-6 medium-6 columns">
            <h1>Past Leads</h1>
        </div>
        <div class="large-3 medium-2 columns">
        </div>
    </div>
    <div class="zurb-row">
        <div class="columns">
            <table class="grid-view margin-bottom responsive" summary="Lead List">
                <tr class="header">
                    <th>Actions</th>
                    <th>Lead Stage</th>
                    <th>Project Name</th>
                    <th>Last Contacted</th>
                    <th>Client Name</th>
                    <th>Primary Phone</th>
                    <th>Email</th>
                    <th>Project Type</th>
                    <th>Exp. Revenue</th>
                    <th>Lead Source</th>
                    <th>Notes</th>
                </tr>
                <% @projects.each do |lead| %>
                    <% client = Client.find(lead.client_id) %>
                    <tr class="project-rows">
                        <td class="center table-action-bar">
                            <%= link_to("Edit", {:action => 'edit', :id => lead.id}, :title => 'Edit', :class => 'edit table-action', :style => 'display: none;') %>
                            <%= link_to("Delete", {:action => 'delete', :id => lead.id}, :title => 'Delete', :class => 'delete table-action') %>
                        </td>
                        <td><%= lead.lead_stage %></td>
                        <td><%= lead.name %></td>
                        <td class="center"><%= client.last_contacted %></td>
                        <td><%= client.display_name %></td>
                        <td><%= number_to_phone(client.main_primary_phone, :area_code => true) %></td>
                        <td><%= client.main_email %></td>
                        <td><%= lead.project_type %></td>
                        <td>$<%= number_with_delimiter(lead.revenue) %></td>
                        <td><%= client.lead_source %></td>
                        <td><%= lead.lead_notes %></td>
                    </tr>
                <% end %>
            </table>
        </div>
    </div>
</div>

<script>

    $(".project-rows").click(function () {
        window.location.href = $(this).find("a.edit").attr("href");
    });
    $(".project-rows").dblclick(function () {
        window.location.href = $(this).find("a.edit").attr("href");
    });
</script>

