<%= render :partial => 'shared/errors', :locals => {:obj => @specification} %>

<h2>Specification Info:</h2>

<%= f.hidden_field(:estimate_id) %>
<div class="control-group">
    <%= f.label :category, "Category", class: 'col-lg-2 control-label' %>
    <div class="controls">
        <%= select(:category, :id, @builder.categories.raw.order(:name).collect { |s| [s.name, s.id] }) %>
    </div>
</div>
<div class="control-group">
    <%= f.label :name, "Name", class: 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.text_field(:name) %>
    </div>
</div>
<div class="control-group">
    <%= f.label :description, "Notes", class: 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.text_area(:description, size: '40x5') %>
    </div>
</div>





