<h2>Bid Info:</h2>

<div class="control-group">
    <%= f.label :categories_template, "Category", class: 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.select(:category_id, grouped_bid_category_options(project), {:selected => @bid.category.try(:id), :include_blank => true}, :data => {:remote => true, :url => url_for(:action => "show_project_items", :project_id => project.id, :bid_id => @bid.id)}) %>
    </div>
</div>
<div class="control-group">
    <%= f.label :vendor, "Vendor", class: 'col-lg-2 control-label' %>
    <div class="controls">
        <%= autocomplete_field :vendor, :name, autocomplete_vendor_name_accounting_index_path, :value => @bid.vendor.try(:display_name), :id_element => "#bid_vendor_id", :update_elements => {} %>
        <%= f.hidden_field :vendor_id, :value => @bid.vendor.try(:id) %>
    </div>
</div>
<div class="control-group">
    <%= f.label :bid_amount, "Amount", class: 'col-lg-2 control-label' %>
    <div class="controls">
        <span id="bid-amount" class="inline"></span>
    </div>
</div>
<div class="control-group">
    <%= f.label :notes, "Notes", class: 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.text_area(:notes, size: '40x5') %>
    </div>
</div>
<div class="control-group">
    <%= f.label :chosen, "Commit Bid", class: 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.check_box(:chosen) %>
    </div>
</div>
<div id="item-placeholder">
    <% estimate = @bid.project.estimates.first %>
    <% if estimate.kind =="Cost Plus Bid" %>
      <%= render(:partial => "projects/cost_plus_bid/bid_item", :locals => {:bid => @bid, :items => @bid.items, :co_items => @bid.co_items}) %>
    <% else %>
      <%= render(:partial => "bid_item", :locals => {:bid => @bid, :items => @bid.items, :co_items => @bid.co_items}) %>
    <% end %>
</div>




