<table class="grid-view item-list" summary="Items List">
    <thead>
    <tr class="header">
        <th>Item Name</th>
        <th>Description</th>
        <th class="amount">Estimated Costs</th>
        <th class="margin">Margin</th>
        <th>Bid Amount</th>
    </tr>
    </thead>
    <tbody>
    <% if defined?(categories_template) && categories_template.present? %>
      <% categories_template.items.each do |item| %>
        <tr>
            <td><%= item.name %></td>
            <td><%= item.description %></td>
            <td>$<%= item.estimated_cost %></td>
            <td>$<%= item.margin %></div></td>
            <td>
                $<%= text_field_tag 'item[][uncommitted_cost]', (bid.item_amount(item.id) if (defined? bid) && bid.present?) %>
                <%= hidden_field_tag 'item[][id]', item.id %>
            </td>
        </tr>

      <% end %>
    <% end %>
    </tbody>
</table>