<h2>Bid Info:</h2>

<p>
	<%= f.label :categories_template, "Category" %>
  <%= f.select(:categories_template_id, @project.estimates.any? ? @project.estimates.first.template.categories_templates.sort_by { |c| c.category.name }.map { |c| [c.category.name, c.id] } : Array.new, {:include_blank => true}, :data => {:remote => true, :url => url_for(:action => "show_categories_template_items")}) %>
</p>
<p>
	<%= f.label :vendor, "Vendor" %>
  <%= autocomplete_field :vendor, :name,  autocomplete_vendor_name_accounting_index_path, :value => @bid.vendor.try(:display_name) , :id_element => "#bid_vendor_id", :update_elements => {} %>
  <%= f.hidden_field :vendor_id, :value => @bid.vendor.try(:id)  %>
</p>
<p>
	Amount
	<span id="bid-amount" class="inline"></span>
</p>
<p>
	<%= f.label :notes, "Notes" %>
	<%= f.text_area(:notes) %>
</p>
<p>
	<%= f.label :chosen, "Chosen" %>
	<%= f.check_box(:chosen) %>
</p>




