<tr class="nested-fields co-category">
    <td colspan="7">
        <%= f.hidden_field :id %>
        <%= f.select :category_id, @categories.map{ |category| [category.name, category.id]}, {prompt: "Select Category"}, class: "change_order_categories" %>
    </td>
    <td>
        <%= link_to_remove_association("Delete", f, style: "margin-left: 30px") %>
    </td>
</tr>
<%= f.fields_for :items do |item| %>
  <%= render('change_order_items', f: item) %>
<% end %>
<tr id="tr-change_order-item-add">
    <td></td>
    <td colspan="7">
        <%= link_to_add_association 'Add Item', f, :items, partial: 'change_order_items', "data-association-insertion-traversal" => "closest", "data-association-insertion-node" => "tr#tr-change_order-item-add", :"data-association-insertion-method" => "before" %>
    </td>
</tr>