<tr class="nested-fields co-item">
    <td></td>
    <td>
        <% item_id = @items.select { |i| i.name == f.object.name }.first.try(:id) %>
        <%= f.select :id, @items.map { |item| [item.name, item.id] }, {prompt: "Select Item", :selected => item_id}, {:class => 'change-order-items', "data-select-url" => url_for(:controller => 'projects', :action => 'show_item')} %>
        <%= f.hidden_field :name, :class => 'name' %>
        <%= f.hidden_field :unit, :class => 'unit' %>
    </td>
    <td>
        <%= f.text_field :description, :class => 'description' %>
    </td>
    <td>
        <%= f.text_field :qty, :class => 'inline-table-input co-factor qty' %>
    </td>
    <td>
        $<%= f.text_field :estimated_cost, :class => 'inline-table-input co-factor estimated_cost' %>
    </td>
    <td>
        $<%= f.text_field :margin, :class => 'inline-table-input co-factor margin' %>
    </td>
    <td class="item-total right"></td>
    <td>
        <%= link_to_remove_association("Delete", f, style: "margin-left: 30px") %>
    </td>
</tr>