<table>
    <h2>Change Order info:</h2>

    <tr>
        <th>Category</th>
        <td><%= f.select(:categories_template_id, @project.estimates.any? ? @project.estimates.first.template.categories_templates.sort_by { |c| c.category.name }.map { |c| [c.category.name, c.id] } : Array.new, {:include_blank => true}) %></td>
    </tr>
    <tr>
        <th>Description</th>
        <td><%= f.text_field :description , :size => 100 %></td>
    </tr>
    <tr>
        <th>Cost</th>
        <td><%= f.text_field :cost %></td>
    </tr>
    <tr>
        <th>Margin</th>
        <td><%= f.text_field :margin %></td>
    </tr>
    <tr>
        <th>Notes</th>
        <td><%= f.text_area :notes %></td>
</tr>
</table>
