<% content_for :javascript do %>
  <script type='text/javascript'>
    $(document).ready(function () {
      ChangeOrder.init();
    })
  </script>
<% end %>

<div class="control-group">
    <%= f.label :name, 'Name', class: 'col-lg-2 control-label' %>
    <div class="controls"><%= f.text_field :name %></div>
</div>
<div class="control-group">
    <%= f.label :lg, 'Approved', class: 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.check_box :approved,  disabled: f.object.undestroyable? %>
        <% if f.object.undestroyable? %>
          <div class="help-block">
              (Cannot be disapproved once containing items which are added to an invoice or a bill)
          </div>
        <% end %>
    </div>
</div>
<div class="control-group">
    <%= f.label :notes, 'Notes', class: 'col-lg-2 control-label' %>
    <div class="controls"><%= f.text_area :notes, size: '40x5' %></div>
</div>
<% estimate = @change_order.project.committed_estimate %>
<% if estimate.kind =="Cost Plus Bid" %>
  <%= render('projects/cost_plus_bid/change_order_table_items', f: f) %>
<% else %>
  <%= render('change_order_table_items', f: f) %>
<% end %>

