<table>
    <tr>
        <th>Name</th>
        <td><%= f.text_field :name %></td>
    </tr>
    <tr>
        <th>Approved</th>
        <td><%= f.check_box :approved %></td>
    </tr>
    <tr>
        <th>Notes</th>
        <td><%= f.text_area :notes %></td>
    </tr>
</table>
<br/>

<table class="grid-view item-list" summary="Items List">
    <thead>
    <tr class="header">
        <th>Category</th>
        <th>Item Name</th>
        <th>Description</th>
        <th>Qty</th>
        <th>Rate</th>
        <th>Margin</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody id="item-lines">
    <%= f.fields_for :change_orders_categories do |ct| %>
      <%= render('change_order_categories', f: ct) %>
    <% end %>
      <tr id="tr-change_order-category-add"  class="co-category">
          <td colspan="7">
              <%= link_to_add_association 'Add Category', f, :change_orders_categories, partial: 'change_order_categories', "data-association-insertion-node" => "tr#tr-change_order-category-add", :"data-association-insertion-method" => "before"%>
          </td>
      </tr>
    </tbody>
</table>


