<h3>Project Info</h3>

<div class="control-group">
    <%= p.label :name, 'Project Name', :class => 'col-lg-2 control-label' %>
    <div class='controls'><%= p.text_field(:name) %></div>
</div>

<div class="control-group">
    <%= p.label :status, 'Project Status', :class => 'col-lg-2 control-label' %>
    <div class='controls'><%= p.select(:status, ['Current Project', 'Past Project', 'Current Lead']) %></div>
</div>
<div class="control-group">
    <%= p.label :project_type, 'Project Type', :class => 'col-lg-2 control-label' %>
    <div class='controls'><%= p.select(:project_type, ["Commercial: Addition", "Commercial: New Construction", "Commercial: Remodel", "Residential:  Addition", "Residential:  Design/Build", "Residential:  New Construction", "Residential:  Remodel"]) %></div>
</div>
<div class="control-group">
    <%= p.label :start_date, 'Start Date', :class => 'col-lg-2 control-label' %>
    <div class='controls'>
        <%= p.text_field(:start_date, :class => 'datepicker', :value => p.object.try(:start_date).try(:strftime, '%m-%d-%Y')) %>
        <%= p.hidden_field(:start_date, :id => 'project_start_date_hidden', :value => p.object.try(:start_date).try(:strftime, '%Y-%m-%d')) %>
    </div>
</div>
<div class="control-group">
    <%= p.label :deadline, 'Deadline', :class => 'col-lg-2 control-label' %>
    <div class='controls'>
        <%= p.text_field(:deadline, :class => 'datepicker', :value => p.object.try(:deadline).try(:strftime, '%m-%d-%Y')) %>
        <%= p.hidden_field(:deadline, :id => 'project_deadline_hidden', :value => p.object.try(:deadline).try(:strftime, '%Y-%m-%d')) %>
    </div>
</div>
<div class="control-group">
    <%= p.label :revenue, 'Anticipated Revenue', :class => 'col-lg-2 control-label' %>
    <div class='controls'><%= p.text_field(:revenue) %></div>
</div>
<div class="control-group">
    <%= p.label :project_notes, 'Notes', :class => 'col-lg-2 control-label' %>
    <div class='controls'><%= p.text_area(:project_notes, :size => '40x5') %></div>
</div>

<h3>Client Info</h3>
<div class="control-group">
    <%= p.label :client_id, 'Client', :class => 'col-lg-2 control-label' %>
    <div class='controls'>
        <%= p.select(:client_id, @builder.clients.active.collect { |s| [s.main_full_name, s.id] }, {:include_blank => true}) %>
    </div>
</div>
	