	<table summary="Project form fields">
		<tr>
			<th>Project Name</th>
			<td><%= p.text_field(:name) %>
		</tr>
		<tr>
			<th>Project Type</th>
			<td><%= p.select(:project_type, ["Commercial: Addition", "Commercial: New Construction", "Commercial: Remodel", "Residential:  Addition", "Residential:  Design/Build","Residential:  New Construction", "Residential:  Remodel"]) %>
		</tr>
		<tr>
			<th>Start Date</th>
			<td><%= p.date_select(:start_date, :order => [:month, :day, :year], :include_blank => true) %>
		</tr>
		<tr>
			<th>Deadline</th>
			<td><%= p.date_select(:deadline, :order => [:month, :day, :year], :include_blank => true) %>
		</tr>
		<tr>
			<th>Next Tasks</th>
			<td><%= p.text_field(:next_tasks) %>
		</tr>
		<tr>
			<th>Anticipated Revenue</th>
			<td><%= p.text_field(:revenue) %>
		</tr>
		<tr>
			<th>Notes</th>
			<td><%= p.text_area(:project_notes) %>
		</tr>
	</table>
	