<table class="grid-view item-list" summary="Items List">
    <thead>
    <tr class="header">
        <th>Category</th>
		    <th>Item</th>
        <th>Description</th>
        <th class="amount">Estimated Costs</th>
        <th class="amount">Committed Costs</th>
        <th class="amount">Actual Costs</th>
        <th class="margin">Estimated Profit</th>
        <th class="price">Committed Profit</th>
        <th>Actual Profit</th>
    </tr>
    </thead>
    <tbody>
    <%- template.categories_templates.each do |category_template| %>
      <%= render :partial => 'tr_category', :locals => {:category_template => category_template}  %>
    <% end %>
    <tr class="total-change-order change_order">
        <td colspan=3>
            CHANGE ORDERS
        </td>
        <td></td>
        <td class="right"><%= price_tag(template.categories_templates.map{|c| c.co(:committed_cost)}.compact.sum) %></td>
        <td></td>
        <td></td>
        <td class="right"><%= price_tag(template.categories_templates.map{|c| c.co(:committed_profit)}.compact.sum)%></td>
        <td></td>
    </tr>
    <tr class="total">
        <td colspan=3>
            GRAND TOTAL
        </td>
        <td class="right"><%= price_tag(template.categories_templates.map { |c| c.total(:amount) }.compact.sum, "total-amount") %></td>
        <td class="right"><%= price_tag(template.categories_templates.map { |c| c.total(:committed_cost) }.compact.sum) %></td>
        <td class="right"><%= price_tag(template.categories_templates.map { |c| c.total(:actual_cost) }.compact.sum) %></td>
        <td class="right"><%= price_tag(template.categories_templates.map { |c| c.total(:margin) }.compact.sum, "total-margin") %></td>
        <td class="right"><%= price_tag(template.categories_templates.map { |c| c.total(:committed_profit) }.compact.sum) %></td>
        <td class="right"><%= price_tag(template.categories_templates.map { |c| c.total(:actual_profit) }.compact.sum) %></td>
    </tr>
    </tbody>
</table>