<tr class="change_order change_order_category_<%= category_template.category.id %> id="change_order_<%= co.id %>">
<td>
</td>
<td>
    <%= co.name %>
</td>
<td>
    <%= co.description %>
</td>
<td>

</td>
<td>
    <%= price_tag(co.committed_cost) %>
</td>
<td>
</td>
<td>
</td>
<td>
    <%= price_tag(co.committed_profit) %>
</td>
<td>
</td>
</tr>