<tr class="item item_category_<%= category_template.category.id %> id="item_<%= item.id %>">
  <td>
	</td>
	<td>
        <%= item.name %>
    </td>
    <td>
        <%= item.description %>
    </td>
    <td class="right">
        <%= price_tag(item.amount, "amount") %>
    </td>
    <td class="right">
        <%= price_tag(item.committed_cost) %>
    </td>
    <td class="right">
        <%= price_tag(item.actual_cost) %>
    </td>
    <td class="right">
        <%= price_tag(item.margin, "margin") %>
    </td>
    <td class="right">
        <%= price_tag(item.committed_profit) %>
    </td>
    <td class="right">
        <%= price_tag(item.actual_profit) %>
    </td>
</tr>