<tr class="category" id="category_<%= category_template.category.id %>">
    <td colspan=9>
        <h3>
            <%= category_template.category.name %>
        </h3>
    </td>
</tr>
<% category_template.items.each do |item| %>
  <%= render :partial => 'tr_item', :locals => {:item => item, :category_template => category_template} %>
<% end %>
<% category_template.change_orders.each do |co| %>
  <%= render :partial => 'tr_change_order', :locals => {:co => co, :category_template => category_template} %>
<% end %>
<% category_template.purchase_orders.where(:chosen => true).first.try(:items).try(:each) do |item| %>
  <%= render :partial => 'tr_item', :locals => {:item => item, :category_template => category_template} %>
<% end %>
<tr class="subtotal item_category_<%= category_template.category.id %>">
    <td colspan=3>
        <div class="category-name"><%= category_template.category.name + ' '%>Subtotal</div> 
    </td>
    <td class="right"><%= price_tag(category_template.items.map(&:amount).compact.sum, "subtotal-amount") %></td>
    <td class="right"><%= price_tag(category_template.items.map(&:committed_cost).compact.sum + category_template.change_orders.map(&:committed_cost).compact.sum) if category_template.items.map(&:committed_cost).compact.any? || category_template.change_orders.map(&:committed_cost).compact.any? %></td>
    <td class="right"><%= price_tag(category_template.items.map(&:actual_cost).compact.sum) if category_template.items.map(&:actual_cost).compact.any? %></td>
    <td class="right"><%= price_tag(category_template.items.compact.map(&:margin).sum, "subtotal-margin") %></td>
    <td class="right"><%= price_tag(category_template.items.map(&:committed_profit).compact.sum + category_template.change_orders.map(&:committed_profit).compact.sum) if category_template.items.map(&:committed_profit).compact.any? || category_template.change_orders.map(&:committed_profit).compact.any? %></td>
    <td class="right"><%= price_tag(category_template.items.map(&:actual_profit).compact.sum) if category_template.items.map(&:actual_profit).compact.any? %></td>
</tr>