<tr class="category" id="category_<%= category_template.category.id %>">
    <td colspan=9>
        <h3>
            <%= category_template.category.name %>
        </h3>
    </td>
</tr>
<% category_template.items.each do |item| %>
  <%= render :partial => 'tr_item', :locals => {:item => item, :category_template => category_template} %>
<% end %>
<% category_template.change_orders.each do |co| %>
  <%= render :partial => 'tr_change_order', :locals => {:co => co, :category_template => category_template} %>
<% end %>
<% category_template.po.try(:items).try(:each) do |item| %>
  <%= render :partial => 'tr_item', :locals => {:item => item, :category_template => category_template} %>
<% end %>
<% if category_template.po.try(:shipping).present? %>
  <%= render :partial => 'tr_shipping', :locals => {:shipping => category_template.po.shipping} %>
<% end %>
<tr class="subtotal item_category_<%= category_template.category.id %>">
    <td colspan=3>
        <div class="category-name"><%= category_template.category.name + ' '%>Subtotal</div> 
    </td>
    <td class="right"><%= price_tag(category_template.total(:amount), "subtotal-amount") %></td>
    <td class="right"><%= price_tag(category_template.total(:committed_cost)) %></td>
    <td class="right"><%= price_tag(category_template.total(:actual_cost)) %></td>
    <td class="right"><%= price_tag(category_template.total(:margin), "subtotal-margin") %></td>
    <td class="right"><%= price_tag(category_template.total(:committed_profit)) %></td>
    <td class="right"><%= price_tag(category_template.total(:actual_profit)) %></td>
</tr>