<% purchased = item.purchase_order_id.present? ? "purchased" : "" %>
<tr class="item item_category_<%= category_template.category.id %> <%= purchased %>" id="item_<%= item.id %> ">
  <td>
	</td>
	<td>
        <%= item.name %>
    </td>
    <td>
        <%= item.description %>
    </td>
    <td class="right">
        <%= price_tag(item.amount, "amount budget-estimated-cost") %>
    </td>
    <td class="right">
        <%= price_tag(item.committed_cost, "budget-committed-cost") %>
    </td>
    <td class="right">
        <%= price_tag(item.actual_cost, "budget-actual-cost") %>
    </td>
    <td class="right">
        <%= price_tag(item.margin, "margin budget-estimated-profit") %>
    </td>
    <td class="right">
        <%= price_tag(item.committed_profit, "budget-committed-profit") %>
    </td>
    <td class="right">
        <%= price_tag(item.actual_profit, "budget-actual-profit") %>
    </td>
</tr>