<tr class="item item_category_<%= category_template.category.id %> <% if item.change_order? %> change_order <% end%>" id="item_<%= item.id %>">
  <td>
	</td>
	<td>
        <%= item.name %>
    </td>
    <td>
        <%= item.description %>
    </td>
    <td>
        $<div class="amount"><%= number_to_price(item.amount) %></div>
    </td>
    <td>
        $<div><%= number_to_price(item.committed_cost) %></div>
    </td>
    <td>
        $<div><%= number_to_price(item.actual_cost) %></div>
    </td>
    <td>
        $<div class="margin"><%= number_to_price(item.margin) %></div>
    </td>
    <td>
        $<div><%= number_to_price(item.committed_profit) %></div>
    </td>
    <td>
        $<div><%= number_to_price(item.actual_profit) %></div>
    </td>
</tr>