<tr class="item item_category_<%= category_template.category.id %>" id="item_<%= item.id %>">
  <td>
	</td>
	<td>
        <%= item.name %>
    </td>
    <td>
        <%= item.description %>
    </td>
    <td>
        $<div class="amount"><%= item.amount %></div>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
        $<div class="margin"><%= item.margin %></div>
    </td>
    <td>
    </td>
    <td>
    </td>
</tr>