<div>
	<%= render(:partial => "layouts/project_mgmt_sub_menu")%>
	<h1>Bids for: <%= @project.name%></h1>
	</br>
	<p class="trigger">Instructions >></p>
	<div class="instructions">
		<p>Default paragraph. </p>
	</div>
	
	</br>
	</br>

		<%= link_to("Add Bid >>", {:action => 'new_bid', :id => @project.id}, :class => 'action vew') %>
	</br>
	</br>
		<%@total_costs = 0 %>
		<table class="grid-view" summary="Project List">
			<tr class="header">
				<th>Actions</th>
				<th>Category</th>
				<th>Vendor</th>
				<th>Notes</th>
				<th>Amount</th>
				<th>Committed</th>
				
			</tr>
			<% @bids.each do |bid| %>

			<tr>
				<td class="center">
					<%= link_to("Edit", {:action => 'edit_bid', :id => bid.id}, :class => 'action edit') %>
					<%= link_to("Delete", {:action => 'delete_bid', :id => bid.id}, :class => 'action edit') %>
				</td>
				<td><%= bid.categories_template.category.name %></td>
				<td><%= bid.vendor.full_name if bid.vendor.present? %></td>
				<td><%= bid.notes %></td>
				<td class="right"><%= number_to_currency(bid.total_amount) %></td>
				<td class="center"><%= bid.chosen %></td>
				
				<% 
					if bid.chosen == true
						@total_costs = @total_costs + bid.total_amount
					end
				%>
			</tr>
			<% end %>
		</table>
		<h2 class="right">Total Committed Costs = <%= number_to_currency(@total_costs) %></h2>
		
</div>