<div>
    <%= render(:partial => "layouts/project_mgmt_sub_menu") %>
    <div class="zurb-row main-action-bar">
        <div class="large-3 medium-4 columns">
            <%= link_to("+ New Bid", {:action => 'new_bid', :id => @project.id}, :class => 'add action-button') %>
            <span class="trigger help action-button">Instructions >></span>

            <div class="instructions">
                <p>Default paragraph. </p>
            </div>
        </div>
        <div class="large-6 medium-6 columns">
            <h1>Bids for: <%= @project.name %></h1>
        </div>
        <div class="large-3 medium-2 columns">
        </div>
    </div>
    <div class="zurb-row">
        <div class="columns">
            <% @total_costs = 0 %>
            <table class="grid-view" summary="Project List">
                <tr class="header">
                    <th>Actions</th>
                    <th>Category</th>
                    <th>Vendor</th>
                    <th>Amount</th>
                    <th>Committed</th>
                    <th>Notes</th>
                </tr>
                <% @bids.each do |bid| %>
                    <tr>
                        <td class="center">
                            <%= link_to("Edit", {:action => 'edit_bid', :id => bid.id}, :class => 'edit table-action') %>
                            <%= link_to("Delete", {:action => 'delete_bid', :id => bid.id}, :class => 'delete table-action') %>
                        </td>
                        <td><%= bid.category.name %></td>
                        <td><%= bid.vendor.try(:display_name) %></td>
                        <td class="right"><%= number_to_currency(bid.total_amount) %></td>
                        <td class="center"><%= bid.chosen %></td>
                        <td><%= bid.notes %></td>
                        <%
                           if bid.chosen == true
                             @total_costs = @total_costs + bid.total_amount.to_f
                           end
                        %>
                    </tr>
                <% end %>
            </table>
            <h3 class="right">Total Committed Costs = <%= number_to_currency(@total_costs) %></h3>
        </div>
    </div>
</div>