<div>
    <%= render(:partial => "layouts/project_mgmt_sub_menu")%>
    <h1>Change Orders for: <%= @project.name%></h1>
    </br>
    <p class="trigger">Instructions >></p>
    <div class="instructions">
        <p>Default paragraph. </p>
    </div>

    </br>
    </br>

    <%= link_to("Add Change Order >>", {:action => 'new_change_order', :id => @project.id}, :class => 'action vew') %>
    </br>
    </br>
    <table class="grid-view" summary="Project List">
        <tr class="header">
            <th>Actions</th>
            <th>Name</th>
            <th>Notes</th>
        </tr>
        <% @change_orders.each do |co| %>

          <tr>
              <td class="center">
                  <%= link_to("Edit", {:action => 'edit_change_order', :id => co.id}, :class => 'action edit') %>
                  <%= link_to("Delete", {:action => 'delete_change_order', :id => co.id}, :class => 'action edit') %>
              </td>
              <td><%= co.name %></td>
              <td><%= co.notes %></td>
          </tr>
        <% end %>
    </table>

</div>