<div>
    <%= render(:partial => "layouts/project_mgmt_sub_menu") %>
    <div class="zurb-row">
        <div class="columns">
            <h2>Delete Change Order</h2>
            <%= form_for(:change_order, :url => {:action => 'destroy_change_order', :id => @change_order.id}) do |f| %>
                <p>Are you sure you want to delete this change order?</p>
                <% if @change_order.has_paid_item? %>

                <% end %>
                <% if @change_order.errors.any? %>
                    <div id="errorExplanation">
                        <h2><%= pluralize(@change_order.errors.count, "Error") %> prohibited this change order from
                            being deleted:</h2>
                        <ul>
                            <% @change_order.errors.full_messages.each do |msg| %>
                                <li><%= msg %></li>
                            <% end %>
                        </ul>
                    </div>
                <% end %>
                <div class="form-buttons">
                    <%= submit_tag("Delete", :class => 'btn',
                                   :data => @change_order.has_paid_item? ? {:title => "Confirmation", :confirm => "This change order has 1 or more corresponding bills or payments associated with it.
                                   Deleting this change order will permanently destroy all of its related bills and payments. <br/>
                                   Do you want to continue?"} : {}) %>
                </div>
            <% end %>
        </div>
    </div>
</div>