<div>
	<%= render(:partial => "layouts/project_mgmt_sub_menu")%>
	<h2>Edit Bid</h2>
	
	<%= form_for @bid, :url => {:action => 'update_bid', :id => @bid.id} do |f| %>
	
	<% if @bid.errors.any? %>
	  <div id="errorExplanation">
	    <h2><%= pluralize(@bid.errors.count, "Error") %> prohibited
	      this post from being saved:</h2>
	    <ul>
	    <% @bid.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	    </ul>
	  </div>
	  <% end %>
	<%= render(:partial => "bid_form", :locals => {:f => f})%>
      <%= render(:partial => "bid_item", :locals => {:bid => @bid, :categories_template => @bid.categories_template, :co_items => @bid.categories_template.template.estimate.project.co_items(@bid.categories_template.category)}) %>
	<% end %>

  <div class="form-buttons">
        <%= submit_tag("Update", :data => {:form => ".edit_bid"}) %>
  </div>
	
</div>