<div>
	<%= render(:partial => "lead_sub_menu")%>
	<h2>Update Project</h2>
	<%= form_for @project, :url => {:action => 'update_project', :id => @project.id} do |p| %>
	<%= fields_for @client do |c| %>
	
	
	<%= render(:partial => "project_form", :locals => {:c => c, :p => p })%>
	
	<div class="form-buttons">
		<%= submit_tag("Update") %>
	</div>

	<% end %>
	<% end %>
</div>