<div>
    <%= render(:partial => "layouts/project_mgmt_sub_menu") %>
    <div class="zurb-row main-action-bar">
        <div class="large-3 medium-4 columns">
            <span class="trigger help action-button">Instructions >></span>

            <div class="instructions">
                <p>Click on the row of the project you want to edit information.</p>
            </div>
        </div>
        <div class="large-6 medium-6 columns">
            <h1>Current Projects</h1>
        </div>
        <div class="large-3 medium-2 columns">
        </div>
    </div>
    <div class="zurb-row">
        <div class="columns">
            <table class="grid-view margin-bottom responsive" summary="Project List">
                <tr class="header">
                    <th>Actions</th>
                    <th>Project</th>
                    <th>Type</th>
                    <th>Start Date</th>
                    <th>Progress</th>
                    <th>Deadline</th>
                    <th>Schedule Variance</th>
                    <th>Next 5 Tasks</th>
                    <th>Notes</th>
                </tr>
                <% @projects.each do |project| %>
                    <tr id="project_<%= project.id %>" class="project-rows">
                        <td class="center">
                            <%= link_to("Tasks", {:action => 'tasklist', :id => project.id}, :title => 'Tasks', :class => 'task-list table-action') %>
                            <%= link_to("Bids", {:action => 'bids', :id => project.id}, :title => 'Bids', :class => 'bid table-action') %>
                            <%= link_to("Budget", {:action => 'budget', :id => project.id}, :title => 'Budget', :class => 'budget table-action') %>
                            <%= link_to("COs", {:action => 'change_orders', :id => project.id}, :title => 'COs', :class => 'change-order table-action') %>
                            <%= link_to("Specs", {:action => 'specifications', :id => project.id}, :title => 'Specs', :class => 'specs table-action') %>
                            <%= link_to("Edit", {:action => 'edit_project', :id => project.id}, :title => 'Edit', :class => 'edit table-action', :style => 'display: none;') %>
                        </td>
                        <td><a href='<%= project.id %>'></a><%= project.name %></td>
                        <td><%= project.project_type %></td>
                        <td><%= project.start_date %></td>
                        <td class="center">
                            <div class="percentage"><%= number_to_percentage(project.current_progress, :precision => 2) %></div>
                        </td>
                        <td><%= project.deadline %></td>
                        <td><%= project.schedule_variance %></td>
                        <td class="tasklist">
                            <%= render(:partial => "checkable_tasks", :locals => {:project => project}) %>
                        </td>
                        <td><%= project.project_notes %></td>
                    </tr>
                <% end %>
            </table>
        </div>
    </div>
</div>

<script>
    $('.table-action, .task, .tasklist, input[type="checkbox"]').click(function (event) {
        event.stopPropagation();
    });
    $('.table-action, .task, .tasklist, input[type="checkbox"]').dblclick(function (event) {
        event.stopPropagation();
    });
    $(".project-rows").click(function () {
        window.location.href = $(this).find("a.edit").attr("href");
    });
    $(".project-rows").dblclick(function () {
        window.location.href = $(this).find("a.edit").attr("href");
    });
</script>

