<div>
	<%= render(:partial => "lead_sub_menu")%>
	<h2>Create Lead</h2>
	<%= form_for(:project, :url => {:action => 'create'}) do |p| %>
	<%= fields_for @client do |c| %>
	<table summary="Lead form fields">
		<tr>
			<th>Project Name</th>
			<td><%= p.text_field(:name) %>
		</tr>
		<tr>
			<th>Lead Stage</th>
			<td><%= p.select(:lead_stage, ["1. New", "2. Made Contact", "3. Made Appointment", "4. Estimating", "5. Sent Estimate", "6. Sent Contract"]) %>
		</tr>
		
		<tr>
			<th>Project Type</th>
			<td><%= p.select(:project_type, ["Commercial: Addition", "Commercial: New Construction", "Commercial: Remodel", "Residential:  Addition", "Residential:  Design/Build","Residential:  New Construction", "Residential:  Remodel"], {:include_blank => true}) %>
		</tr>
		
		<tr>
			<th>Date Last Contacted</th>
			<td><%= c.date_select(:last_contacted, :order => [:month, :day, :year], :include_blank => true) %>
		</tr>
		<tr>
			<th>First Name</th>
			<td><%= c.text_field(:first_name) %>
		</tr>
		<tr>
			<th>Last Name</th>
			<td><%= c.text_field(:last_name) %>
		</tr>
		<tr>
			<th>Primary Phone</th>
			<td><%= c.text_field(:primary_phone) %>
		</tr>
		<tr>
			<th>Secondary Phone</th>
			<td><%= c.text_field(:secondary_phone) %>
		</tr>
		<tr>
			<th>Email</th>
			<td><%= c.text_field(:email) %>
		</tr>
		<tr>
			<th>Anticipated Revenue</th>
			<td><%= p.text_field(:revenue) %>
		</tr>
		<tr>
			<th>Lead Source</th>
			<td><%= c.text_field(:lead_source) %>
		</tr>
		<tr>
			<th>Notes</th>
			<td><%= p.text_area(:lead_notes) %>
		</tr>
	</table>
	
	<div class="form-buttons">
		<%= submit_tag("Create Lead") %>
	</div>
	
	<% end %>
	<% end %>
	
</div>