<div>
    <%= render(:partial => "layouts/project_mgmt_sub_menu") %>
    <div class="zurb-row">
        <div class="columns">
            <h2>Add New Change Order</h2>
            <%= form_for @change_order, :url => {:action => 'create_change_order', :id => @project.id}, :html => {:class => 'form-horizontal'} do |f| %>
                <% if @change_order.errors.any? %>
                    <div id="errorExplanation">
                        <h2><%= pluralize(@change_order.errors.count, "Error") %> prohibited
                            this change order from being saved:</h2>
                        <ul>
                            <% @change_order.errors.full_messages.each do |msg| %>
                                <li><%= msg %></li>
                            <% end %>
                        </ul>
                    </div>
                <% end %>
                <%= render(:partial => "change_order_form", :locals => {:f => f}) %>
                <%= submit_tag "Save", :class => 'btn' %>
            <% end %>
        </div>
    </div>
</div>