<div>
    <%= render(:partial => "layouts/project_mgmt_sub_menu") %>
    <div class="zurb-row">
        <div class="columns">
            <% @client.projects.each do |project| %>
                <h2>Lead Details For: <%= project.name %></h2>
                <table summary="Lead detail view">
                    <tr>
                        <th>Project Name</th>
                        <td><%= project.name %>
                    </tr>
                    <tr>
                        <th>Created</th>
                        <td><%= project.created_at %>
                    </tr>
                    <tr>
                        <th>Last Updated</th>
                        <td><%= project.updated_at %>
                    </tr>
                    <tr>
                        <th>Lead Stage</th>
                        <td><%= project.lead_stage %>
                    </tr>
                    <tr>
                        <th>Project Type</th>
                        <td><%= project.project_type %>
                    </tr>

                    <tr>
                        <th>Date Last Contacted</th>
                        <td><%= @client.last_contacted %>
                    </tr>
                    <tr>
                        <th>First Name</th>
                        <td><%= @client.first_name %>
                    </tr>
                    <tr>
                        <th>Last Name</th>
                        <td><%= @client.last_name %>
                    </tr>
                    <tr>
                        <th>Primary Phone</th>
                        <td><%= @client.primary_phone %>
                    </tr>
                    <tr>
                        <th>Secondary Phone</th>
                        <td><%= @client.secondary_phone %>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td><%= @client.email %>
                    </tr>
                    <tr>
                        <th>Anticipated Revenue</th>
                        <td><%= project.revenue %>
                    </tr>
                    <tr>
                        <th>Lead Source</th>
                        <td><%= @client.lead_source %>
                    </tr>
                    <tr>
                        <th>Notes</th>
                        <td><%= project.lead_notes %>
                    </tr>
            <% end %>
            </table>
        </div>
    </div>
</div>