<div>
    <%= render(:partial => "layouts/project_mgmt_sub_menu") %>
    <div class="zurb-row main-action-bar">
        <div class="large-3 medium-4 columns">
            <%= link_to("Edit >>", {:action => 'edit_project', :id => @project.id}, :title => 'Edit', :class => 'edit-large action-button') %>
        </div>
        <div class="large-6 medium-6 columns">
        </div>
        <div class="large-3 medium-2 columns">
        </div>
    </div>
    <div class="zurb-row">
        <div class="columns margin-bottom">
            <% @client.projects.each do |project| %>
              <h2>Lead Details For: <%= project.name %></h2>

              <p>
                  <b>Project Name:</b>
                  <%= project.name %>
              </p>

              <p>
                  <b>Created:</b>
                  <%= project.created_at %>
              </p>

              <p>
                  <b>Last Updated:</b>
                  <%= project.updated_at %>
              </p>

              <p>
                  <b>Lead Stage:</b>
                  <%= project.lead_stage %>
              </p>

              <p>
                  <b>Project Type:</b>
                  <%= project.project_type %>
              </p>

              <h3>Client info:</h3>

              <p>
                  <b>Date Last Contacted:</b>
                  <%= @client.last_contacted %>
              </p>


              <h4>Primary Contact's Info:</h4>
              <%= render(:partial => "shared/profile_details", :locals => {:object => @client.profiles[0] || @client.profiles.build}) %>

              <h4>Secondary Contact's Info:</h4>
              <%= render(:partial => "shared/profile_details", :locals => {:object => @client.profiles[1] || @client.profiles.build}) %>
              <p>
                  <b>Lead Source:</b>
                  <%= @client.lead_source %>
              </p>

              <p>
                  <b>Anticipated Revenue:</b>
                  <%= project.revenue %>
              </p>

              <p>
                  <b>Notes:</b>
                  <%= project.lead_notes %>
              </p>

            <% end %>
        </div>
    </div>
</div>