<%- change_order ||= nil
    @change_order = change_order if change_order.present?
    @builder = @change_order.builder
    @client = @change_order.project.client
    def pdf_image_tag(image, options = {})
      options[:src] = File.expand_path(Rails.root) + '/public' + image
      tag(:img, options)
    end
%>
<% content_for :head do %>
  <div class="left-header">
      <%= pdf_image_tag(@builder.logo_url, :width => "200") if @builder.logo? %>
      <div class="address">
          <%= @builder.address %>
      </div>
      <div class="phone">
          <%= @builder.office_phone %>
      </div>
      <div class="website">
          <%= @builder.website %>
      </div>
      <div class="slogan">
      <%= "#{@builder.slogan}" if @builder.slogan.present? %>
      </div>
  </div>
  <div class="right-header">
      <table class="top">
          <tr>
              <td>Change Order</td>
          </tr>
          <tr>
              <td>Date</td>
          </tr>
          <tr>
              <td><%= @change_order.created_at.try(:strftime, "%m/%d/%Y")%>&nbsp;</td>
          </tr>
          <tr>
              <td><%= @change_order.name %></td>
          </tr>
      </table>
      <table class="bottom">
          <tr>
              <td>Name / Address</td>
          </tr>
          <tr>
              <td>
                  <%= @client.full_name %>
                  <br/>
                  <%= @client.address %>
                  <br/>
                  <%= @client.city %> <%= ", #{@client.state}" if @client.state.present? %> <%=", #{@client.zipcode}" if @client.zipcode.present? %>
              </td>
          </tr>
      </table>
  </div>
<% end %>

<table class="item-list splitForPrint">
    <thead>
        <tr class="header">
            <th>Description</th>
            <th>Quantity</th>
            <th>Unit</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <%- total = 0
            amount = 0
            margin = 0
        %>
        <%- @change_order.change_orders_categories.each do |co_category| %>
            <%- subtotal = co_category.items.map(&:price).sum
                subamount = co_category.items.map(&:amount).sum
                submargin = co_category.items.map(&:margin).sum
                total+= subtotal
                amount+= subamount
                margin+= submargin
            %>
            <tr class="tr-category">
                <td class="td-category left-bold">
                    <%= co_category.category.name %>
                </td>
                <td></td><td></td><td></td>
            </tr>
            <% co_category.items.each do |item| %>
                <tr class="item item_category_<%= co_category.category.id %>" id="item_<%= item.id %>">
                    <td class="description">
                        <%= item.description %>
                    </td>
                    <td class="quantity">
                        <%= item.qty %>
                    </td>
                    <td class="unit"><%= item.unit %></td>
                    <td>
                        $<%= number_with_precision(item.price, precision: 2) %>
                    </td>
                </tr>
            <% end %>
            <tr>
                <td class="td-subtotal left-bold">
                    <%= co_category.category.name %> Subtotal
                </td>
                <td></td><td></td><td class="right-bold">$<%= number_with_precision(subtotal, precision: 2) %></td>
            </tr>
        <% end %>
            <tr class="tr-footer">
                <td colspan="3" class="right-bold">
                    TOTAL
                </td>
                <td>$<%= number_with_precision(total, precision: 2) %></td>
            </tr>
    </tbody>
</table>