<h2>Company Info:</h2>
<div class="control-group">
    <%= f.label :company, "Vendor Type", :class => 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.radio_button(:vendor_type, "Architect") %>
        <%= f.label :company, "Architect" %>
        <%= f.radio_button(:vendor_type, "Engineer") %>
        <%= f.label :company, "Engineer" %>
        <%= f.radio_button(:vendor_type, "Subcontractor") %>
        <%= f.label :company, "Subcontractor" %>
        <%= f.radio_button(:vendor_type, "Supplier") %>
        <%= f.label :company, "Supplier" %>
    </div>
</div>
<div class="control-group">
    <%= f.label :trade, "Trade", :class => 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.text_field(:trade) %>
    </div>
</div>
<div class="control-group">
    <%= f.label :company, "Company Name", :class => 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.text_field(:company) %>
    </div>
</div>
<div class="control-group">
    <%= f.label :website, "Website", :class => 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.text_field(:website) %>
    </div>
</div>
<div class="control-group">
    <%= f.label :address, "Address", :class => 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.text_field(:address) %>
    </div>
</div>
<div class="control-group">
    <%= f.label :city, "City", :class => 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.text_field(:city) %>
    </div>
</div>
<div class="control-group">
    <%= f.label :state, "State", :class => 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.text_field(:state) %>
    </div>
</div>
<div class="control-group">
    <%= f.label :zipcode, "Zipcode", :class => 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.text_field(:zipcode) %>
    </div>
</div>
<h2>Primary Contact's Info:</h2>
<div class="control-group">
    <%= f.label :primary_first_name, "First Name", :class => 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.text_field(:primary_first_name) %>
    </div>
</div>
<div class="control-group">
    <%= f.label :primary_last_name, "Last Name", :class => 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.text_field(:primary_last_name) %>
    </div>
</div>
<div class="control-group">
    <%= f.label :primary_phone1, "Primary Phone", :class => 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.text_field(:primary_phone1) %>
        <%= f.select(:primary_phone1_tag, ["Cell", "Office", "Home"]) %>
    </div>
</div>
<div class="control-group">
    <%= f.label :primary_phone2, "Secondary Phone", :class => 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.text_field(:primary_phone2) %>
        <%= f.select(:primary_phone2_tag, ["Cell", "Office", "Home"]) %>
    </div>
</div>
<div class="control-group">
    <%= f.label :primary_email, "Email", :class => 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.text_field(:primary_email) %>
    </div>
</div>
<h2>Secondary Contact's Info:</h2>
<div class="control-group">
    <%= f.label :secondary_first_name, "First Name", :class => 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.text_field(:secondary_first_name) %>
    </div>
</div>
<div class="control-group">
    <%= f.label :secondary_last_name, "Last Name", :class => 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.text_field(:secondary_last_name) %>
    </div>
</div>
<div class="control-group">
    <%= f.label :secondary_phone1, "Primary Phone", :class => 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.text_field(:secondary_phone1) %>
        <%= f.select(:secondary_phone1_tag, ["Cell", "Office", "Home"]) %>
    </div>
</div>
<div class="control-group">
    <%= f.label :secondary_phone2, "Secondary Phone", :class => 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.text_field(:secondary_phone2) %>
        <%= f.select(:secondary_phone2_tag, ["Cell", "Office", "Home"]) %>
    </div>
</div>
<div class="control-group">
    <%= f.label :secondary_email, "Email", :class => 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.text_field(:secondary_email) %>
    </div>
</div>
<div class="control-group">
    <%= f.label :notes, "Notes", :class => 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.text_area(:notes, :size => '40x5') %>
    </div>
</div>
