<div>
    <%= render(:partial => "layouts/people_sub_menu") %>
    <div class="zurb-row">
        <div class="columns">
            <h2>Delete Vendor</h2>
            <%= form_for(:vendor, :url => {:action => 'destroy', :id => @vendor.id}) do |f| %>
                <p>Are you sure you want to delete this vendor?</p>

                <p class="reference-name"><%= @vendor.company %></p>

                <p class="reference-name"><%= @vendor.full_name %></p>

                <div class="control-group">
                    <div class='controls'>
                        <%= submit_tag("Delete", :class => 'btn') %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>