<%
   change_order_item = item.change_orders_category_id.present? ? "change_order" : ""
   object_name = purchasable.class.name.underscore
   purchasable_object = purchasable.purchasable_item(item.id)
   text_field_display = purchasable_object ? "" : "none"
   value_display = purchasable_object ? "none" : ""
%>
<tr class="item <%= change_order_item %>" id="item_<%= item.id %> ">
    <td class="center">
        <%= check_box_tag 'item-chosen', purchasable_object ? item.id : "", purchasable_object.present? %>
        <%= hidden_field_tag "#{object_name}[#{object_name.pluralize}_items_attributes][][id]", purchasable_object.try(:id) %>
        <%= hidden_field_tag "#{object_name}[#{object_name.pluralize}_items_attributes][][item_id]", item.id %>
        <%= hidden_field_tag "#{object_name}[#{object_name.pluralize}_items_attributes][][_destroy]", !purchasable_object.present? %>

    </td>
    <td>
        <%= item.name %>
    </td>
    <td>
        <%= item.description %>
    </td>
    <td>
        <%= text_area_tag "#{object_name}[#{object_name.pluralize}_items_attributes][][memo]", purchasable_object.try(:memo), {:class => "text-field", :style => "display: #{text_field_display}", :size => '10x2'} %>
    </td>

    <td class="right light-blue">
        <div class="text-field" style="display: <%= text_field_display %>">
            $<%= text_field_tag "#{object_name}[#{object_name.pluralize}_items_attributes][][actual_cost]", purchasable_object.try(:actual_cost) || item.estimated_cost * item.qty, :class => "actual-amount input-mini", :size => 10 %>
        </div>
    </td>

    <td class="right"><%= price_tag(item.amount, 'amount') %></td>
</tr>