<%@total_costs = 0 %>
<table class="grid-view" summary="Bill List">
    <tr class="header">
        <th>Actions</th>
        <th>Bill #</th>
        <th>PO #</th>
        <th>Due Date</th>
        <th>Project</th>
        <th>Category</th>
        <th>Vendor</th>
        <th>Amount</th>
        <th>Notes</th>

    </tr>
    <% bills.each do |b| %>

      <tr>
          <td class="center">
              <% unless b.purchase_order.present? || b.readonly? %>
                <%= link_to("Edit", {:action => 'edit_bill', :id => b.id}, :class => 'action edit') %>
                <%= link_to("Delete", {:action => 'delete_bill', :id => b.id}, :class => 'action edit') %>
              <% end %>
          </td>
          <td class="center"><%= b.id %></td>
          <td class="center"><%= link_to b.purchase_order_id, {:action => 'edit_purchase_order', :id => b.purchase_order_id}, :target => "_blank" if b.purchase_order.present? %></td>
          <td class="center"><%= b.source(:due_date) %></td>
          <td><%= b.source(:project).name %></td>
          <td><%= b.source(:categories_template).category.name %></td>
          <td><%= b.source(:vendor).try(:display_name) %></td>
          <td class="right"><%= number_to_currency(b.source(:total_amount)) %></td>
          <td><%= b.source(:notes) %></td>
      </tr>
    <% end %>
</table>