<table class="grid-view data-tables" id="bill-list" summary="Bill List">
    <thead>
    <tr class="header">
        <%= sorted_ths [["Billed Date", "billed_date"],
                        ["Due Date", "due_date"],
                        ["Bill #", "id"],
                        ["PO #", "purchase_order_id"],
                        ["Project", "project_name"],
                        ["Category", "category_name"],
                        ["Payor", "payer_name"],
                        ["Amount", "amount"],
                        ["Notes", "vnotes"]] %>
    </tr>
    </thead>
    <tbody>
    <% bills.each do |b| %>
        <tr class="clickable <%= b.full_paid? ? "unclickable" : "" %>">
            <td class="center">
                <%= b.billed_date %>
                    <% if b.generated? %>
                        <% if b.purchase_order_id %>
                            <%= link_to("Edit", {:action => 'edit_purchase_order', :id => b.purchase_order_id}, :class => 'action edit clickable-link', :style => 'display: none') %>
                        <% end %>
                    <% else %>
                        <%= link_to("Edit", {:action => 'edit_bill', :id => b.id}, :class => 'action edit clickable-link', :style => 'display: none') %>
                    <% end %>
            </td>
            <td class="center">
                <%= b.source(:due_date) %>
            </td>
            <td class="center">
                <%= b.id %>
            </td>
            <td class="center"><%= link_to b.purchase_order_id, {:action => 'edit_purchase_order', :id => b.purchase_order_id}, :target => "_blank" if b.purchase_order.present? %></td>
            <td><%= b.project_name %></td>
            <td><%= b.category_name %></td>
            <td><%= b.payer_name %></td>
            <td class="right"><%= number_to_currency(b.cached_total_amount) %></td>
            <td><%= b.vnotes %></td>
        </tr>
    <% end %>
    </tbody>
</table>
<%= paginate bills %>