<% content_for :javascript do %>
  <script type='text/javascript'>
    $(document).ready(function () {
      Bill.init();
    })
  </script>
<% end %>

<%= form_for @bill, :url => {:action => @bill.new_record? ? 'create_bill' : 'update_bill', :id => @bill.id}, :remote => true, :html => {:class => 'bill-form form-horizontal'} do |f| %>
    <% if @bill.errors.any? %>
        <div id="errorExplanation">
            <h2><%= pluralize(@bill.errors.count, "Error") %> prohibited
                this bill from being saved:</h2>
            <ul>
                <% @bill.errors.full_messages.each do |msg| %>
                    <li><%= msg.html_safe %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <%= hidden_field_tag :original_url, params[:original_url] || @original_url %>
    <% job_costed_display = @bill.job_costed ? "" : "none"
       un_job_costed_display = @bill.job_costed ? "none" : ""
    %>
    <div class="row">
        <div class="span6">
            <div class="control-group">
                <%= f.label :vendor_id, "Vendor", class: 'col-lg-2 control-label' %>
                <div class="controls">
                    <%= autocomplete_field :vendor, :name, autocomplete_vendor_name_accounting_index_path, :value => @bill.vendor.try(:display_name), :id_element => "##{@bill.class.name.underscore}_vendor_id", :update_elements => {} %>
                    <%= f.hidden_field :vendor_id, :value => @bill.vendor.try(:id) %>
                </div>
            </div>
            <div class="control-group">
                <%= f.label :job_costed, "Job Costed", class: 'col-lg-2 control-label' %>
                <div class="controls">
                    <%= f.check_box :job_costed %>
                </div>
            </div>
            <div class="control-group job_costed" style="display: <%= job_costed_display %>">
                <%= f.label :project_id, "Project", class: 'col-lg-2 control-label' %>
                <div class="controls"><%= f.select(:project_id, @builder.projects.current_project.collect { |s| [s.name, s.id] }, {:include_blank => true}, :data => {:remote => true, :url => url_for(:action => "show_project_categories_template", :id => @bill.id, :type => @bill.class.name)}) %></div>
            </div>
            <div class="control-group job_costed" style="display: <%= job_costed_display %>">
                <%= f.label :category_id, "Category", class: 'col-lg-2 control-label' %>
                <div class="controls">
                    <div id="categories_template-placeholder">
                        <% categories_template = @bill.categories_template.present? ? @bill.categories_template : CategoriesTemplate.new %>
                        <%= f.select(:category_id, grouped_category_options(@bill.project), {:selected => categories_template.category_id, :include_blank => true},
                                     :data => {:remote => true, :url => url_for(:action => "show_category_items", :id => @bill.id, :type => @bill.class.name, :project_id => @bill.project.try(:id))}) %>
                    </div>
                </div>
            </div>
            <% unless @bill.new_record? %>
                <div class="control-group">
                    <%= f.label :purchasable_id, "#{@bill.class.name.underscore.humanize} #", class: 'col-lg-2 control-label' %>
                    <div class="controls"><%= @bill.id %></div>
                </div>
            <% end %>
            <div class="control-group">
                <%= f.label :billed_date, "Billed Date", class: 'col-lg-2 control-label' %>
                <div class="controls">
                    <%= f.text_field(:billed_date, class: 'datepicker', :value => f.object.try(:billed_date).try(:strftime, '%m-%d-%Y')) %>
                    <%= f.hidden_field(:billed_date, id: 'purchasable_billed_date_hidden', :value => f.object.try(:billed_date).try(:strftime, '%Y-%m-%d')) %>
                </div>
            </div>
            <div class="control-group">
                <%= f.label :due_date, "Due Date", class: 'col-lg-2 control-label' %>
                <div class="controls">
                    <%= f.text_field(:due_date, class: 'datepicker', :value => f.object.try(:due_date).try(:strftime, '%m-%d-%Y')) %>
                    <%= f.hidden_field(:due_date, id: 'purchasable_date_hidden', :value => f.object.try(:due_date).try(:strftime, '%Y-%m-%d')) %>
                </div>
            </div>
            <div class="control-group">
                <%= f.label :notes, "Notes", class: 'col-lg-2 control-label' %>
                <div class="controls"><%= f.text_area(:notes, size: '40x5') %></div>
            </div>
        </div>
        <% if @bill.new_record? %>
            <div class="span6">
                <div class="control-group">
                    <%= f.label :create_payment, "Create Payment Simultaneously", class: 'col-lg-2 control-label' %>
                    <div class="controls">
                        <%= f.check_box :create_payment, :class => 'toggle', :target => '#payment-from-bill' %>
                    </div>
                </div>
                <div id="payment-from-bill" style="<% unless @bill.create_payment == "1" %> display: none <% end %>">
                    <div class="control-group">
                        <%= label_tag 'payment[account_id]', "Account", class: 'col-lg-2 control-label' %>
                        <div class="controls">
                            <%= hidden_field_tag('payment[account_id]', nil, :class => "to_select2", :data => {:source => select2_bank_accounts_json}) %>
                        </div>
                    </div>
                    <div class="control-group">
                        <%= label_tag 'payment[method]', "Type", class: 'col-lg-2 control-label' %>
                        <div class="controls"><%= select_tag('payment[method]', options_for_select(Payment::METHODS), {:include_blank => true}) %></div>
                    </div>
                    <div class="control-group">
                        <%= label_tag 'payment[date]', "Payment Date", class: 'col-lg-2 control-label' %>
                        <div class="controls">
                            <%= text_field_tag('payment[date]', nil, class: 'datepicker') %>
                            <%= hidden_field_tag('payment[date]', nil, id: 'payment_due_date_hidden') %>
                        </div>
                    </div>
                    <div class="control-group">
                        <%= label_tag 'payment[reference]', "Reference #", class: 'col-lg-2 control-label' %>
                        <div class="controls"><%= text_field_tag 'payment[reference]' %></div>
                    </div>
                    <div class="control-group">
                        <%= label_tag 'payment[memo]', "Payment Memo", class: 'col-lg-2 control-label' %>
                        <div class="controls"><%= text_area_tag('payment[memo]') %></div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>

  <div class="job_costed" id="item-placeholder" style="display: <%= job_costed_display %>">
      <%= render(:partial => "bill_items", :locals => {:f => f, :purchasable => @bill, :categories_template => @bill.categories_template}) %>
  </div>
  <div class="un_job_costed" style="display: <%= un_job_costed_display %>">
      <%= render(:partial => "accounting/un_job_costed_bills/bill_items", :locals => {:f => f}) %>
  </div>
<% end %>