<table class="grid-view data-tables" id="deposit-list" summary="Payment List" cellspacing="0">
    <thead>
    <tr class="header">
        <th>Reference #</th>
        <th>Deposit Date</th>
        <th>Deposit to</th>
        <th>Amount</th>
        <th>Notes</th>
    </tr>
    </thead>
    <tbody>
    <% deposits.each do |deposit| %>
      <tr class="clickable">
          <td>
              <%= deposit.reference %>
              <%= link_to("Edit", {:action => 'edit_deposit', :id => deposit.id}, :class => 'action edit clickable-link', style: 'display: none') %>
          </td>
          <td class="center">
              <%= deposit.date %>
          </td>
          <td><%= deposit.account_name %></td>
          <td class="right"><%= price_tag(deposit.cached_total_amount) %></td>
          <td><%= deposit.notes %></td>
      </tr>
    <% end %>
    </tbody>

</table>
<%= paginate deposits %>