<table class="grid-view" summary="Bill List">
    <tr class="header">
        <th></th>
        <th>Date Received</th>
        <th>Receipt #</th>
        <th>Client</th>
        <th>Amount</th>

    </tr>
    <% receipts.sort_by { |x| x.received_at || Date.new(0) }.reverse.each do |receipt| %>
      <%
         if receipt.deposit_receipt(@deposit.id).present?
           text_field_display = ""
           value_display = "none"
           billed_amount = receipt.deposit_receipt(@deposit.id).amount
         else
           text_field_display = "none"
           value_display = ""
           billed_amount = receipt.billed? ? receipt.remaining_amount : receipt.amount
         end
      %>
      <tr>
          <td class="center">
              <%= check_box_tag 'receipt-chosen', receipt.deposit_receipt(@deposit.id).present? ? receipt.id : "", receipt.deposit_receipt(@deposit.id).present? %>
                <%= hidden_field_tag "deposit[deposits_receipts_attributes][][id]", receipt.deposit_receipt(@deposit.id).try(:id) %>
              <%= hidden_field_tag "deposit[deposits_receipts_attributes][][receipt_id]", receipt.id %>
              <%= hidden_field_tag 'deposit[deposits_receipts_attributes][][_destroy]', !receipt.deposit_receipt(@deposit.id).present? %>
          </td>
          <td class="center"><%= receipt.received_at %></td>
          <td class="center"><%= receipt.id %></td>
          <td><%= receipt.payer_name %></td>
          <td class="right">
              <div class="text-field " style="display: <%= text_field_display %>">
                  $<%= text_field_tag 'deposit[deposits_receipts_attributes][][amount]', billed_amount, :class => "input-small", :size => 10, :disabled => true %>
              </div>
              <div class="value-field" style="display: <%= value_display %>">
                  <%= price_tag(billed_amount) %>
              </div>
          </td>
      </tr>
    <% end %>
    <tr>
        <td class="strong" colspan="4">Total</td>
        <td class="right" id="deposit-amount"></td>
    </tr>
</table>