<% changed = item.change_orders_category.present? ? "change_order" : ""
   is_billable = item.billable?(@invoice.id)
   billable = is_billable ? '' : 'unclickable'
   invoiceable = item.invoiceable(@invoice.id)
 %>
<tr class="item item_category_<%= category.id %> <%= changed %> <%= billable %>" id="item_<%= item.id %>">
  <td>
      <% if is_billable %>
        <%= check_box_tag 'item-chosen', invoiceable.present? ? item.id : "", invoiceable.present?, class: "chosen" %>
          <%= hidden_field_tag "invoice[invoices_items_attributes][][id]", invoiceable.try(:id) %>
        <%= hidden_field_tag "invoice[invoices_items_attributes][][item_id]", item.id %>
        <%= hidden_field_tag 'invoice[invoices_items_attributes][][_destroy]', !invoiceable.present?, class: "destroy" %>
      <% end %>
	</td>
  <td></td>
	<td>
        <%= item.name %>
    </td>
    <td>
        <%= item.description %>
    </td>
    <td class="right">
        <%= price_tag(item.price, "amount") %>
    </td>
    <td class="right">
        <%= price_tag(item.prior_amount(@invoice.id), "prior-amount") %>
    </td>
    <td class="right">
        <% if is_billable %>
            <div class="text-field" <% unless invoiceable.present? %> style="display: none" <% end %>>
                $<%= text_field_tag 'invoice[invoices_items_attributes][][amount]', invoiceable.try(:amount) || item.billable_amount, :class => "input-mini invoice-amount" %>
            </div>
        <% end %>
    </td>
</tr>