<% content_for :javascript do %>
  <script type='text/javascript'>
    $(document).ready(function () {
    Invoice.init();
    })
  </script>
<% end %>

<div class="f-left">
    <%= render :partial => 'shared/errors', :locals => {:obj => @invoice} %>

    <div class="control-group">
        <%= f.label :estimate_id, "Estimate", class: 'col-lg-2 control-label' %>
        <div class="controls">
            <%= f.select(:estimate_id, @estimates = @builder.estimates.commitments.collect { |s| [s.project.name, s.id] }, {:include_blank => true}) %>
            <%= link_to "", url_for(:action => "show_estimate_items", :invoice_id => @invoice.id, :invoice => {:estimate_id => @invoice.estimate_id}), :id => "hidden_estimate_link", :remote => true, :style => "display: none" %>
        </div>
    </div>
    <div class="control-group">
        <%= f.label :invoice_date, "Invoice Date", class: 'col-lg-2 control-label' %>
        <div class="controls">
            <%= f.text_field(:invoice_date, class: 'datepicker', :value => f.object.try(:invoice_date).try(:strftime, '%m-%d-%Y')) %>
            <%= f.hidden_field(:invoice_date, id: 'invoice_invoice_date_hidden', :value => f.object.try(:invoice_date).try(:strftime, '%Y-%m-%d')) %>
        </div>
    </div>
    <div class="control-group">
        <%= f.label :sent_date, "Sent Date", class: 'col-lg-2 control-label' %>
        <div class="controls">
            <%= f.text_field(:sent_date, class: 'datepicker', :value => f.object.try(:sent_date).try(:strftime, '%m-%d-%Y')) %>
            <%= f.hidden_field(:sent_date, id: 'invoice_sent_date_hidden', :value => f.object.try(:sent_date).try(:strftime, '%Y-%m-%d')) %>
        </div>
    </div>
    <div class="control-group">
        <%= f.label :reference, "Invoice #", class: 'col-lg-2 control-label' %>
        <div class="controls"><%= f.text_field(:reference, :value => f.object.new_record? ? Invoice.maximum(:reference).to_i + 1 : f.object.try(:reference)) %></div>
    </div>
    <div class="control-group clearboth cost-plus-bid" style="display: <%= @invoice.estimate.try(:cost_plus_bid?) ? "" : "none" %>">
        <%= label_tag :date_rage, "Billed date range", class: 'col-lg-2 control-label' %>
        <div class="controls">
            <div class="input-group">
                <input type="text" name="reservation" id="reservation">
                <%= f.hidden_field :bill_from_date, :value => @invoice.bill_from_date %>
                <%= f.hidden_field :bill_to_date, :value => @invoice.bill_to_date %>
            </div>
        </div>
    </div>
</div>
<div id="invoice-items-placeholder">
    <% unless @invoice.new_record? %>
      <% if @invoice.estimate.try(:cost_plus_bid?) %>
        <%= render(:partial => 'accounting/cost_plus_bid/invoice_template',
                   :locals => {:template => @invoice.try(:estimate).try(:template),
                               :from_date => @invoice.bill_from_date,
                               :to_date => @invoice.bill_to_date}) %>
      <% else %>
        <%= render(:partial => "invoice_template", :locals => {:template => @invoice.try(:estimate).try(:template)}) %>
      <% end %>
    <% end %>
</div>
