<tr class="category" id="category_<%= category_template.category.id %>">
    <td colspan=7>
        <h3>
            <%= category_template.category.name %>
        </h3>
    </td>
</tr>
<% category_template.items.each do |item| %>
  <%= render :partial => 'invoice_tr_item', :locals => {:item => item, :category_template => category_template} %>
<% end %>
<% category_template.template.estimate.project.co_items(category_template.category).try(:each) do |item| %>
  <%= render :partial => 'invoice_tr_item', :locals => {:item => item, :category_template => category_template} %>
<% end %>
<tr class="subtotal item_category_<%= category_template.category.id %>">
    <td colspan=4>
        <div class="category-name"><%= category_template.category.name + ' '%>Subtotal</div> 
    </td>
    <td class="right"><div class="subtotal-amount"></div></td>
    <td class="right"><div class="subtotal-prior-amount"></div></td>
    <td class="right"><div class="subtotal-invoice-amount"></div></td>
</tr>