<tr class="item item_category_<%= category.id %>" id="item_<%= item.id %>">
    <td class="description">
        <%= item.description %>
    </td>
    <td>
        <%= price_tag(item.price, "amount") %>
    </td>
    <td>
        <%= price_tag(item.prior_amount(@invoice.id), "prior-amount") %>
    </td>
    <td>
        <%= price_tag(item.invoiceable(@invoice.id).try(:amount), "invoice-amount") %>
    </td>
</tr>