<% content_for :javascript do %>
  <script type='text/javascript'>
    $(document).ready(function () {
    Payment.init();
    })
  </script>
<% end %>

<% if @payment.errors.any? %>
  <div id="errorExplanation">
      <h2><%= pluralize(@payment.errors.count, "Error") %> prohibited
          this payment from being saved:</h2>
      <ul>
          <% @payment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
      </ul>
  </div>
<% end %>

<div class="control-group">
    <%= f.label :vendor_id, "Payor", class: 'col-lg-2 control-label' %>
    <div class="controls">
        <%= hidden_field_tag :payer, f.object.payer.try(:display_name), data: {url: people_autocomplete_name_path} %>
        <%= f.hidden_field :payer_id, class: 'payer-id' %>
        <%= f.hidden_field :payer_type, class: 'payer-type' %>
        <%= link_to "", url_for(:action => "show_people_bills"), :id => "hidden_people_link", :remote => true, :style => "display: none" %>
    </div>
</div>
<div class="control-group">
    <%= f.label :account_id, "Account", class: 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.hidden_field(:account_id, :include_blank => true, :class => "to_select2", :data => {:source => select2_bank_accounts_json}) %>
    </div>
</div>
<div class="control-group">
    <%= f.label :method, "Type", class: 'col-lg-2 control-label' %>
    <div class="controls"><%= f.select(:method, Payment::METHODS, {:include_blank => true}) %></div>
</div>
<div class="control-group">
    <%= f.label :reference, "Reference #", class: 'col-lg-2 control-label' %>
    <div class="controls"><%= f.text_field(:reference) %></div>
</div>
<div class="control-group">
    <%= f.label :date, "Date", class: 'col-lg-2 control-label' %>
    <div class="controls">
      <%= f.text_field(:date, class: 'datepicker', :value => f.object.try(:date).try(:strftime, '%m-%d-%Y')) %>
      <%= f.hidden_field(:date, id: 'payment_date_hidden', :value => f.object.try(:date).try(:strftime, '%Y-%m-%d')) %>
    </div>
</div>
<div class="control-group">
    <%= f.label :memo, "Memo", class: 'col-lg-2 control-label' %>
    <div class="controls"><%= f.text_field(:memo) %></div>
</div>

<div id="bill-placeholder">
    <%= render(:partial => "payment_bills", :locals => {:f => f, :bills => @bills}) %>
</div>