<% vendors =  Vendor.has_unpaid_bills(session[:builder_id])
   (vendors<< @payment.vendor).uniq! unless @payment.new_record?
%>

<% if @payment.errors.any? %>
  <div id="errorExplanation">
      <h2><%= pluralize(@payment.errors.count, "Error") %> prohibited
          this payment from being saved:</h2>
      <ul>
          <% @payment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
      </ul>
  </div>
<% end %>

<div class="control-group">
    <%= f.label :vendor_id, "Vendor", class: 'col-lg-2 control-label' %>
    <div class="controls"><%= f.select(:vendor_id, vendors.collect { |s| [s.display_name, s.id] }, {:include_blank => true}, :data => {:remote => true, :url => url_for(:action => "show_vendor_bills", :payment_id => @payment.id)}) %></div>
</div>
<div class="control-group">
    <%= f.label :account_id, "Account", class: 'col-lg-2 control-label' %>
    <div class="controls"><%= f.select(:account_id, Account.where("builder_id = ?", session[:builder_id]).collect { |s| [s.name, s.id] }, {:include_blank => true}) %></div>
</div>
<div class="control-group">
    <%= f.label :method, "Type", class: 'col-lg-2 control-label' %>
    <div class="controls"><%= f.select(:method, Payment::METHODS, {:include_blank => true}) %></div>
</div>
<div class="control-group">
    <%= f.label :reference, "Reference #", class: 'col-lg-2 control-label' %>
    <div class="controls"><%= f.text_field(:reference) %></div>
</div>
<div class="control-group">
    <%= f.label :date, "Date", class: 'col-lg-2 control-label' %>
    <div class="controls"><%= f.date_select(:date, {}, {class: 'input-medium'}) %></div>
</div>
<div class="control-group">
    <%= f.label :memo, "Memo", class: 'col-lg-2 control-label' %>
    <div class="controls"><%= f.text_field(:memo) %></div>
</div>

<div id="bill-placeholder">
    <%= render(:partial => "payment_bills", :locals => {:f => f, :bills => @bills}) %>
</div>