<table>
    <tr>
        <th><%= f.label :vendor_id, "Vendor" %></th>
        <td><%= f.select(:vendor_id, Vendor.has_unpaid_bills(session[:builder_id]).collect { |s| [s.display_name, s.id] }, {:include_blank => true}, :data => {:remote => true, :url => url_for(:action => "show_vendor_bills", :payment_id => @payment.id)}) %></td>
    </tr>
    <tr>
        <th><%= f.label :account_id, "Account" %></th>
        <td><%= f.select(:account_id, Account.where("builder_id = ?", session[:builder_id]).collect { |s| [s.name, s.id] }, {:include_blank => true}) %></td>
    </tr>
    <tr>
        <th><%= f.label :method, "Type" %></th>
        <td><%= f.select(:method, Payment::METHODS, {:include_blank => true}) %></td>
    </tr>
    <tr>
        <th><%= f.label :reference, "Reference #" %></th>
        <td><%= f.text_field(:reference) %></td>
    </tr>
    <tr>
        <th><%= f.label :date, "Date" %></th>
        <td><%= f.date_select(:date) %></td>
    </tr>
    <tr>
        <th>Memo</th>
        <td><%= f.text_field(:memo) %></td>
    </tr>
</table>

<div id="bill-placeholder">
    <%= render(:partial => "payment_bills", :locals => {:f => f, :bills => @bills}) %>
</div>