<table class="grid-view data-tables" id="payment-list" summary="Payment List" cellspacing="0">
    <thead>
    <tr class="header">
        <th>Paid</th>
        <th>Reference #</th>
        <th>Payee</th>
        <th>Type</th>
        <th>Account</th>
        <th>Amount</th>
        <th>Memo</th>
    </tr>
    </thead>
    <tbody>
    <% @payments.each do |payment| %>
      <tr class="clickable">
          <td class="center">
              <%= payment.date %>
              <%= link_to("Edit", {:action => 'edit_payment', :id => payment.id}, :class => 'action edit clickable-link', style: 'display: none') %>
          </td>
          <td>
              <%= payment.reference %>
          </td>
          <td><%= payment.vendor.try(:display_name) %></td>
          <td><%= payment.method %></td>
          <td><%= payment.account.try(:name) %></td>
          <td class="right"><%= price_tag(payment.amount) %></td>
          <td><%= payment.memo %></td>
      </tr>
    <% end %>
    </tbody>

</table>