<table class="grid-view scrollable" summary="Payment List">
    <thead>
    <tr class="header">
        <th>Reference #</th>
        <th>Date</th>
        <th>Payee</th>
        <th>Type</th>
        <th>Account</th>
        <th>Amount</th>
        <th>Memo</th>
    </tr>
    </thead>
    <tbody>
    <% @payments.each do |payment| %>
      <tr class="clickable">
          <td>
              <%= payment.reference %>
              <%= link_to("Edit", {:action => 'edit_payment', :id => payment.id}, :class => 'action edit clickable-link', style: 'display: none') %>
          </td>
          <td class="center"><%= payment.date %></td>
          <td><%= payment.vendor.try(:display_name) %></td>
          <td><%= payment.method %></td>
          <td><%= payment.account.name %></td>
          <td class="right"><%= price_tag(payment.amount) %></td>
          <td><%= payment.memo %></td>
      </tr>
    <% end %>
    </tbody>

</table>