<% r_account = @builder.revenue_account
   c_account = @builder.cost_of_goods_sold_account
   e_account = @builder.expenses_account
   gross_profit = r_account.balance(options).to_f - c_account.balance(options).to_f
   net_profit = gross_profit -  e_account.balance(options).to_f
%>

<table class="splitForPrint report">
    <tbody>
    <%= render(:partial => "accounting/tr_account_balance.html.erb", :locals => {account: r_account, options: options}) %>
    <%= render(:partial => "accounting/tr_account_balance.html.erb", :locals => {account: c_account, options: options}) %>
    <tr>
        <td class="name">Gross Profit</td>
        <td class="amount calculate"><%= price_tag gross_profit %></td>
    </tr>
    <%= render(:partial => "accounting/tr_account_balance.html.erb", :locals => {account: e_account, options: options}) %>
    <tr>
        <td class="name">Net Profit</td>
        <td class="amount calculate"><%= price_tag net_profit %></td>
    </tr>
    </tbody>
</table>