<tr class="item item_category_<%= category_id %> purchased" data-id="<%= item.id %>" data-name="<%= item.name %>"  data-description="<%= item.description %>">
    <td class="center"><%= link_to "x", "#", :class => 'remove-item btn' %></td>
    <td></td>
    <td>
        <%= item.name %>
        <%= hidden_field_tag 'purchase_order[purchase_orders_categories_templates_attributes][][items_attributes][][name]', item.name %>
        <%= hidden_field_tag "purchase_order[purchase_orders_categories_templates_attributes][][items_attributes][][id]", item.purchased? ? item.id : nil %>
        <%= hidden_field_tag "purchase_order[purchase_orders_categories_templates_attributes][][items_attributes][][_destroy]", false %>
    </td>
    <td>
        <%= text_field_tag 'purchase_order[purchase_orders_categories_templates_attributes][][items_attributes][][description]', item.description, :class => "text-field" %>
    </td>
    <td>
        <%= text_area_tag 'purchase_order[purchase_orders_categories_templates_attributes][][items_attributes][][bill_memo]', item.bill_memo, {:size => '10x1'} %>
    </td>
    <td class="right">
        <%= text_field_tag 'purchase_order[purchase_orders_categories_templates_attributes][][items_attributes][][qty]', item.qty, :class => "text-field input-mini" %>
    </td>
    <td class="right">
        $<%= text_field_tag 'purchase_order[purchase_orders_categories_templates_attributes][][items_attributes][][estimated_cost]', item.estimated_cost(true), :class => "text-field input-mini" %>
    </td>
    <td class="right light-blue">
        <div class="actual-amount-placeholder">
            <%= price_tag item.amount(true), 'actual-amount' %>
            <%= hidden_field_tag 'purchase_order[purchase_orders_categories_templates_attributes][][items_attributes][][actual_cost]', item.actual_cost %>
        </div>
    </td>
    <td class="right">
        <div class="post-tax-actual-amount"></div>
    </td>
    <td class="right">
        <%= price_tag(0, "amount") %>
    </td>
</tr>