<%@total_costs = 0 %>
<table class="grid-view" summary="Purchase Order List">
    <tr class="header">
        <th>Actions</th>
        <th>PO #</th>
        <th>Date</th>
        <th>Project</th>
        <th>Category</th>
        <th>Vendor</th>
        <th>Amount</th>
        <th>Notes</th>

    </tr>
    <% purchase_orders.each do |po| %>

      <tr>
          <td class="center">
              <%= link_to("Edit", {:action => 'edit_purchase_order', :id => po.id}, :class => 'action edit') %>
              <%= link_to("Delete", {:action => 'delete_purchase_order', :id => po.id}, :class => 'action edit') %>
          </td>
          <td class="center"><%= po.number %></td>
          <td class="center"><%= po.date.try(:strftime, "%m/%d/%Y") %></td>
          <td><%= po.project.name %></td>
          <td><%= po.categories_template.category.name %></td>
          <td><%= po.vendor.try(:full_name)%></td>
          <td class="right"><%= number_to_currency(po.total_amount) %></td>
          <td><%= po.notes %></td>
      </tr>
    <% end %>
</table>