<tr class="purchased">
    <td class="center"><%= link_to raw("<button type=\"button\">-</button>"), "#", :class => 'remove-item' %></td>
    <td>
        <%= item.name %>
        <%= hidden_field_tag 'items[][name]', item.name %>
    </td>
    <td>
        <%= item.description %>
        <%= hidden_field_tag 'items[][description]', item.description %>
    </td>
    <td class="right">
        <%= text_field_tag 'items[][qty]', item.qty, :class => "text-field", :size => 10 %>
    </td>
    <td class="right">
        $<%= text_field_tag 'items[][estimated_cost]', item.estimated_cost(true), :class => "text-field", :size => 10 %>
    </td>
    <td class="right light-blue">
        <div class="actual-amount-placeholder">
            <%= price_tag item.amount(true), 'actual-amount' %>
            <%= hidden_field_tag 'items[][actual_cost]', item.actual_cost %>
        </div>
    </td>
    <% if type == PurchaseOrder.name %>
      <td class="right">
          <div class="post-tax-actual-amount"></div>
      </td>
    <% end %>
    <td class="right">
        <%= price_tag 0 %>
    </td>
</tr>