<table class="grid-view data-tables" id="po-list" summary="Purchase Order List">
    <thead>
        <tr class="header">
            <th>Order Date</th>
            <th>PO #</th>
            <th>Project</th>
            <th>Category</th>
            <th>Vendor</th>
            <th>Amount</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
    <% purchase_orders.each do |po| %>

      <tr <% unless po.has_bill_full_paid? %> class="clickable" <% else %> class="unclickable" <% end %>>
          <td class="center">
              <%= po.date %>
              <% unless po.has_bill_full_paid? %>
                <%= link_to("Edit", {:action => 'edit_purchase_order', :id => po.id}, :class => 'action edit clickable-link', style: 'display:none') %>
              <% end %>
          </td>
          <td class="center">
              <%= po.id %>
          </td>
          <td><%= po.project.name %></td>
          <td><%= po.categories_template.category.name %></td>
          <td><%= po.vendor.try(:display_name)%></td>
          <td class="right"><%= number_to_currency(po.total_amount) %></td>
          <td><%= po.notes %></td>
      </tr>
    <% end %>
    </tbody>
</table>