<% content_for :javascript do %>
  <script type='text/javascript'>
    $(document).ready(function () {
    PurchaseOrder.init();
    })
  </script>
<% end %>
<%= render :partial => 'shared/errors', :locals => {:obj => purchase_order} %>

<div class="row">
    <div class="span6">
        <div class="control-group">
            <%= f.label :payer_name, "Payor", class: 'col-lg-2 control-label' %>
            <div class="controls">
                <%= hidden_field_tag :payer, purchase_order.payer.try(:display_name), data: {url: people_autocomplete_name_path} %>
                <%= f.hidden_field :payer_id, class: 'payer-id' %>
                <%= f.hidden_field :payer_type, class: 'payer-type' %>
            </div>
        </div>
        <div class="control-group">
            <%= f.label :estimate_id, "Project", class: 'col-lg-2 control-label' %>
            <div class="controls">
                <%= f.select(:estimate_id,
                             @builder.estimates.current_project.commitments.collect { |s| [s.project.name, s.id] },
                             {:include_blank => true},
                             :data => {:remote => true, :url => url_for(:action => "show_estimate_categories_template", :id => purchase_order.id, :type => purchase_order.class.name)}) %>
            </div>
        </div>
        <% unless purchase_order.new_record? %>
          <div class="control-group">
              <%= f.label :purchasable_id, "Purchase order #", class: 'col-lg-2 control-label' %>
              <div class="controls"><%= purchase_order.id %></div>
          </div>
        <% end %>

        <div class="control-group">
            <%= f.label :date, "Order Date", class: 'col-lg-2 control-label' %>
            <div class="controls">
                <%= f.text_field(:date, class: 'datepicker', :value => f.object.try(:date).try(:strftime, '%m-%d-%Y')) %>
                <%= f.hidden_field(:date, id: 'purchasable_date_hidden', :value => f.object.try(:date).try(:strftime, '%Y-%m-%d')) %>
            </div>
        </div>
        <div class="control-group">
            <%= f.label :due_date, "Due Date", class: 'col-lg-2 control-label' %>
            <div class="controls">
                <%= f.text_field(:due_date, class: 'datepicker', :value => f.object.try(:due_date).try(:strftime, '%m-%d-%Y')) %>
                <%= f.hidden_field(:due_date, id: 'purchasable_due_date_hidden', :value => f.object.try(:due_date).try(:strftime, '%Y-%m-%d')) %>
            </div>
        </div>
        <div class="control-group">
            <%= f.label :sales_tax_rate, "Sales Tax Rate", class: 'col-lg-2 control-label' %>
            <div class="controls"><%= f.text_field :sales_tax_rate %>(%)</div>
        </div>
        <div class="control-group">
            <%= f.label :notes, "Notes", class: 'col-lg-2 control-label' %>
            <div class="controls"><%= f.text_area(:notes, size: '40x5') %></div>
        </div>
    </div>
</div>