<table>
    <h2>Purchase Order Info:</h2>
    <tr>
        <th><%= f.label :vendor_id, "Vendor" %></th>
        <td>
            <%= autocomplete_field :vendor, :name,  autocomplete_vendor_name_accounting_index_path, :value => @purchase_order.vendor.try(:display_name) , :id_element => "#purchase_order_vendor_id", :update_elements => {} %>
            <%= f.hidden_field :vendor_id, :value => @purchase_order.vendor.try(:id)  %>
        </td>
    </tr>
    <tr>
        <th><%= f.label :project_id, "Project" %></th>
        <td><%= f.select(:project_id, Project.where("builder_id = ? AND status ='Current Project'", session[:builder_id]).collect { |s| [s.name, s.id] }, {:include_blank => true}, :data => {:remote => true, :url => url_for(:action => "show_project_categories_template", :id => @purchase_order.id)}) %></td>
    </tr>
    <tr>
        <th><%= f.label :categories_template_id, "Category" %></th>
        <td>
            <div id="categories_template-placeholder">
                <%= f.select(:categories_template_id, @purchase_order.project.try(:estimates).try(:any?) ? @purchase_order.project.estimates.first.template.categories_templates.sort_by { |c| c.category.name }.map { |c| [c.category.name, c.id] } : Array.new, {:include_blank => true}, :data => {:remote => true, :url => url_for(:action => "show_categories_template_items", :id => @purchase_order.id)}) %>
            </div>
        </td>
    </tr>
    <% unless @purchase_order.new_record? %>
        <tr>
            <th>PO #</th>
            <td><%= @purchase_order.id %></td>
        </tr>
    <% end  %>
    <tr>
        <th><%= f.label :date, "Date" %></th>
        <td><%= f.date_select :date %></td>
    </tr>
    <tr>
        <th><%= f.label :notes, "Notes" %></th>
        <td><%= f.text_area(:notes) %></td>
    </tr>
</table>