<% content_for :javascript do %>
  <script type='text/javascript'>
    $(document).ready(function () {
      Receipt.init();
    })
  </script>
<% end %>

<%= form_for(@receipt, :url => {:action => @receipt.new_record? ? 'create_receipt' : 'update_receipt', :id => @receipt.id}, :remote => true, :html => {:class => 'form-horizontal'}) do |f| %>
  <%= render :partial => 'shared/errors', :locals => {:obj => @receipt} %>
  <%= hidden_field_tag :original_url, params[:original_url] || @original_url %>

  <%
     uninvoiced_display = @receipt.uninvoiced ? "" : "none"
     client_receipt_display = @receipt.client_receipt ? "" : "none"
     job_costed_display = @receipt.client_receipt && @receipt.job_costed ? "" : "none"
     estimates = @receipt.client ? @receipt.client.projects.has_estimate.map(&:committed_estimate).collect { |s| [s.project.name, s.id] } : []
  %>

  <div class="span6" id="receipt-kind" data-kind="<%= @receipt.kind %>">
      <div class="control-group">
          <%= f.label :kind, 'Type', class: 'col-lg-2 control-label' %>
          <div class="controls">
              <%= f.collection_radio_buttons(:kind, Receipt::NEW_TYPES, :first, :last) %>
          </div>
      </div>
      <div class="control-group uninvoiced receipt-kind" style="display: <%= uninvoiced_display %>">
          <%= f.label :payer_name, "Payor", class: 'col-lg-2 control-label' %>
          <div class="controls">
              <%= hidden_field_tag "receipt[payor]", @receipt.payer.try(:display_name) || @receipt.payor, data: {url: people_autocomplete_name_path} %>
              <%= f.hidden_field :payer_id, class: 'payer-id' %>
              <%= f.hidden_field :payer_type, class: 'payer-type' %>
          </div>
      </div>

      <div class="control-group client_receipt receipt-kind client-select" style="display: <%= client_receipt_display %>">
          <%= f.label :client_id, "Client", class: 'col-lg-2 control-label' %>
          <div class="controls">
              <%= hidden_field_tag "client_name", @receipt.client.try(:display_name), data: {url: people_autocomplete_name_path(type: Client.name)} %>
              <%= f.hidden_field :client_id, class: 'payer-id' %>
              <%= link_to "", "", :id => "hidden_client_link", :remote => true, :style => "display: none", :data => {template_url: url_for(:action => "show_receipt_invoices", :receipt_id => @receipt.id)} %>
          </div>
      </div>
      <div class="control-group">
          <%= f.label :method, "Payment Type", class: 'col-lg-2 control-label' %>
          <div class="controls"><%= f.select(:method, Receipt::METHODS, {:include_blank => true}) %></div>
      </div>
      <div class="control-group client_receipt receipt-kind" style="display: <%= client_receipt_display %>">
          <%= f.label :job_costed, "Job Costed", class: 'col-lg-2 control-label' %>
          <div class="controls"><%= f.check_box :job_costed %></div>
      </div>
      <div class="control-group client_receipt job_costed receipt-kind estimate-select" style="display: <%= job_costed_display %>">
          <%= f.label :estimate_id, "Project", class: 'col-lg-2 control-label' %>
          <div class="controls estimate-placeholder">
              <%= f.select(:estimate_id, estimates, {:include_blank => true}) %>
          </div>
      </div>
      <div class="control-group">
          <%= f.label :reference, "Reference #", class: 'col-lg-2 control-label' %>
          <div class="controls"><%= f.text_field(:reference) %></div>
      </div>
      <div class="control-group">
          <%= f.label :received_at, "Date Received", class: 'col-lg-2 control-label' %>
          <div class="controls">
              <%= f.text_field(:received_at, class: 'datepicker', :value => f.object.try(:received_at).try(:strftime, '%m-%d-%Y')) %>
              <%= f.hidden_field(:received_at, id: 'receipt_received_date_hidden', :value => f.object.try(:received_at).try(:strftime, '%Y-%m-%d')) %>
          </div>
      </div>
      <div class="client_receipt control-group receipt-kind" style="display: <%= client_receipt_display %>">
          <%= f.label :applied_amount, "Amount", class: 'col-lg-2 control-label' %>
          <div class="controls">
              <%= f.text_field :applied_amount, value: @receipt.amount %>
          </div>
      </div>
      <div class="control-group">
          <%= f.label :notes, "Notes", class: 'col-lg-2 control-label' %>
          <div class="controls"><%= f.text_area(:notes, :size => '10x3') %></div>
      </div>
  </div>

  <% if @receipt.new_record? %>
    <%= render(:partial => 'accounting/create_deposit', :locals => {:create_deposit => @create_deposit}) %>
  <% end %>

  <div class="uninvoiced receipt-kind" style="display: <%= uninvoiced_display %>">
      <%= render(:partial => 'accounting/uninvoiced_receipts/receipts_items', :locals => {:f => f}) %>
  </div>
  <div class="client_receipt receipt-kind" style="display: <%= client_receipt_display %>">
      <div id="receipt-invoices-placeholder">
          <%= render(:partial => "receipt_invoices", :locals => {:f => f, :invoices => @receipt.to_bill_invoices}) %>
      </div>
      <div class="control-group">
          <%= label_tag :previous_client_balance, 'Previous Client Balance', class: 'col-lg-2 control-label' %>
          <div class="controls">
              <div class="previous_client_balance">
                  <% if @receipt.client.present? %>
                    <%= price_tag(@receipt.client.balance({from_date: '1900-01-01', to_date: @receipt.new_record? ? Time.now : (@receipt.received_at - 1)})) %>
                  <% end %>
              </div>
          </div>
      </div>
      <div class="control-group">
          <%= label_tag :new_client_balance, 'New Client Balance', class: 'col-lg-2 control-label' %>
          <div class="controls">
              <div class="new_client_balance">
              </div>
          </div>
      </div>
  </div>
  <div class="form-buttons clearboth">
      <%= submit_tag(@receipt.new_record? ? "Create" : "Save", :class => 'btn') %>
  </div>
<% end %>