<table class="grid-view" summary="Invoice List">
    <tr class="header">
        <th>Invoice #</th>
        <th>Invoiced Date</th>
        <th>Sent Date</th>
        <th>Project</th>
        <th>Previously Billed</th>
        <th>Remaining Balance</th>
        <th>Amount</th>

    </tr>
    <% invoices.each do |i| %>
      <%
         remaining_amount = i.remaining_amount.presence||i.amount
         billed_amount = i.receipt_invoice(@receipt.id).amount if i.receipt_invoice(@receipt.id).present?
      %>
      <tr class="invoice-row">
          <td class="center">
              <%= i.reference %>
          </td>
          <td class="center"><%= i.invoice_date %></td>
          <td class="center"><%= i.sent_date %></td>
          <td><%= i.estimate.project.name %></td>
          <td class="right unpaid-amount">
              <%= price_tag(i.billed_amount) %>
          </td>
          <td class="right">
              <%= price_tag(remaining_amount) %>
              <div class="remaining-amount" style="display: none">
                  <%= billed_amount.to_f + remaining_amount %>
              </div>
          </td>
          <td class="right">
              <div class="value-field">
                  <div class="billed-amount">

                  </div>
              </div>
          </td>
      </tr>
    <% end %>
    <tr class="total xlarge">
        <td colspan="6">TOTALS</td>
        <td class="right">
            <div class="total-billed-amount">

            </div>
        </td>
    </tr>
</table>