<% content_for :javascript do %>
  <script type='text/javascript'>
    $(document).ready(function () {
    Receipt.init();
    })
  </script>
<% end %>

<%= form_for(@receipt, :url => {:action => @receipt.new_record? ? 'create_receipt' : 'update_receipt', :id => @receipt.id}, :remote => true, :html => {:class => 'form-horizontal'}) do |f| %>
  <% if @receipt.errors.any? %>
    <div id="errorExplanation">
        <h2><%= pluralize(@receipt.errors.count, "Error") %> prohibited
            this receipt from being saved:</h2>
        <ul>
            <% @receipt.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
  <% end %>
  <%= hidden_field_tag :original_url, params[:original_url] || @original_url %>

  <%
     all_clients = @builder.clients.active
     clients = all_clients.has_unbilled_invoices
     clients << @receipt.client if @receipt.client
     clients.uniq!
     invoices= @receipt.invoices
     invoices+= @receipt.client.invoices.unbilled if @receipt.client
     invoices.uniq!
     uninvoiced_display = @receipt.uninvoiced ? "" : "none"
     invoiced_display = @receipt.invoiced ? "" : "none"
     client_credit_display = @receipt.client_credit ? "" : "none"
     invoiced_client_credit_display = @receipt.invoiced || @receipt.client_credit ? "" : "none"
  %>

  <div class="span6" id="receipt-kind" data-kind="<%= @receipt.kind %>">
      <div class="control-group">
          <%= f.label :kind, 'Type', class: 'col-lg-2 control-label' %>
          <div class="controls">
              <%= f.collection_radio_buttons(:kind, Receipt::TYPES, :first, :last) %>
          </div>
      </div>
      <div class="control-group uninvoiced receipt-kind" style="display: <%= uninvoiced_display %>">
          <%= f.label :payer_name, "Payor", class: 'col-lg-2 control-label' %>
          <div class="controls">
              <%= hidden_field_tag "receipt[payor]", @receipt.payer.try(:display_name) || @receipt.payor, data: {url: people_autocomplete_name_path} %>
              <%= f.hidden_field :payer_id, class: 'payer-id' %>
              <%= f.hidden_field :payer_type, class: 'payer-type' %>
          </div>
      </div>

      <div class="control-group invoiced client_credit receipt-kind client-select" style="display: <%= invoiced_client_credit_display %>">
          <%= f.label :client_id, "Client", class: 'col-lg-2 control-label' %>
          <div class="controls">
          </div>
          <script id="invoiced-client-select" type="text/html">
              <%= f.select(:client_id, clients.collect { |s| [s.main_full_name, s.id] }, {:include_blank => true}, :data => {:remote => true, :url => url_for(:action => "show_client_invoices", :receipt_id => @receipt.id)}) %>
          </script>
          <script id="client_credit-client-select" type="text/html">
              <%= f.select(:client_id, all_clients.collect { |s| [s.main_full_name, s.id] }, {:include_blank => true}) %>
          </script>
      </div>
      <div class="control-group">
          <%= f.label :method, "Payment Type", class: 'col-lg-2 control-label' %>
          <div class="controls"><%= f.select(:method, Receipt::METHODS, {:include_blank => true}) %></div>
      </div>
      <div class="control-group">
          <%= f.label :reference, "Reference #", class: 'col-lg-2 control-label' %>
          <div class="controls"><%= f.text_field(:reference) %></div>
      </div>
      <div class="control-group">
          <%= f.label :received_at, "Date Received", class: 'col-lg-2 control-label' %>
          <div class="controls">
              <%= f.text_field(:received_at, class: 'datepicker', :value => f.object.try(:received_at).try(:strftime, '%m-%d-%Y')) %>
              <%= f.hidden_field(:received_at, id: 'receipt_received_date_hidden', :value => f.object.try(:received_at).try(:strftime, '%Y-%m-%d')) %>
          </div>
      </div>
      <div class="client_credit control-group receipt-kind" style="display: <%= client_credit_display %>">
          <%= f.label :received_at, "Amount", class: 'col-lg-2 control-label' %>
          <div class="controls">
              <%= f.text_field(:credit_amount) %>
          </div>
      </div>
      <div class="control-group">
          <%= f.label :notes, "Notes", class: 'col-lg-2 control-label' %>
          <div class="controls"><%= f.text_area(:notes, :size => '10x3') %></div>
      </div>
  </div>

  <% if @receipt.new_record? %>
    <div class="span6">
        <div class="control-group">
            <%= f.label :create_deposit, "Create Deposit Simultaneously", class: 'col-lg-2 control-label' %>
            <div class="controls">
                <%= f.check_box :create_deposit, :class => 'toggle', :target => '#deposit-from-receipt' %>
            </div>
        </div>
        <div id="deposit-from-receipt" style="<% unless @receipt.create_deposit == "1" %> display: none
            <% end %>">
            <div class="control-group">
                <%= label_tag 'deposit[account_id]', "Deposit To", class: 'col-lg-2 control-label' %>
                <div class="controls">
                    <%= hidden_field_tag('deposit[account_id]', nil, :class => "to_select2", :data => {:source => select2_bank_accounts_json}) %>
                </div>
            </div>
            <div class="control-group">
                <%= label_tag 'deposit[date]', "Deposit Date", class: 'col-lg-2 control-label' %>
                <div class="controls">
                    <%= text_field_tag('deposit[date]', nil, class: 'datepicker') %>
                    <%= hidden_field_tag('deposit[date]', nil, id: 'deposit_date_hidden') %>
                </div>
            </div>
            <div class="control-group">
                <%= label_tag 'deposit[reference]', "Reference #", class: 'col-lg-2 control-label' %>
                <div class="controls"><%= text_field_tag 'deposit[reference]' %></div>
            </div>
            <div class="control-group">
                <%= label_tag 'deposit[notes]', "Deposit Notes", class: 'col-lg-2 control-label' %>
                <div class="controls"><%= text_area_tag('deposit[notes]') %></div>
            </div>
        </div>
    </div>
  <% end %>
  <div class="uninvoiced receipt-kind" style="display: <%= uninvoiced_display %>">
      <%= render(:partial => 'accounting/uninvoiced_receipts/receipts_items', :locals => {:f => f}) %>
  </div>
  <div class="invoiced receipt-kind" id="receipt-invoices-placeholder" style="display: <%= invoiced_display %>">
      <%= render(:partial => "receipt_invoices", :locals => {:f => f, :invoices => invoices}) %>
  </div>
  <div class="form-buttons clearboth">
      <%= submit_tag(@receipt.new_record? ? "Create" : "Save", :class => 'btn') %>
  </div>
<% end %>