<div>
	<%= render(:partial => "sub_menu")%>
	<h1>Accounts</h1>
	<%= link_to("Instructions >>", {:action => 'show'}) %>
	</br>
	</br>
	<%= link_to("Add New Accounts >>", {:controller => 'accounts', :action => 'new'}) %>
	</br>
	</br>
	<%= link_to("Make Transfers >>", {:action => 'show'}) %>
	</br>
	</br>
	<%= link_to("Reconcile >>", {:action => 'show'}) %>
	</br>
	</br>
	
</div>



