<div>
    <%= render(:partial => "layouts/accounting_sub_menu") %>
    <div class="zurb-row main-action-bar">
        <div class="large-3 medium-4 columns">
            <%= link_to("+ Bill", {:action => 'new_bill'}, :id => 'add-bill', :class => 'add action-button') %>
            <span class="trigger help action-button">Instructions >></span>

            <div class="instructions">
                <p>Click on the row of the bill you want to edit their information.</p>
            </div>
        </div>
        <div class="large-6 medium-6 columns">
            <h1>Bills</h1>
        </div>
        <div class="large-3 medium-2 columns">
        </div>
    </div>
    <div class="zurb-row">
        <div class="columns margin-bottom">
            <div class="paid-status">
                <%= form_tag('bills', :method => 'get', :class => 'form-inline') do %>
                  <%= label_tag :query, "Search" %>
                  <%= text_field_tag(:query, @query) %>
                  <%= label_tag :type, "Type" %>
                  <input id="all_bills" name="type" type="radio" value="" <% if @type.blank? %> checked="checked" <% end %> onchange="this.form.submit()">
                  <label for="all_bills">All</label>
                  <input id="paid_bills" name="type" type="radio" value="paid" <% if @type =="paid" %> checked="checked" <% end %> onchange="this.form.submit()">
                  <label for="paid_bills">Paid</label>
                  <input id="unpaid_bills" name="type" type="radio" value="unpaid" <% if @type =="unpaid" %> checked="checked" <% end %> onchange="this.form.submit()">
                  <label for="unpaid_bills">Unpaid</label>
                  <input id="late_bills" name="type" type="radio" value="late" <% if @type =="late" %> checked="checked" <% end %>  onchange="this.form.submit()">
                  <label for="late_bills">Late</label>
                <% end %>
            </div>
            <%= render(:partial => "bills", :locals => {:bills => @bills}) %>
        </div>
    </div>
</div>