<div>
    <%= render(:partial => "layouts/accounting_sub_menu")%>
    <h2>Edit Bill</h2>
    <%= link_to("Delete", {:action => 'delete_bill', :id => @purchasable.id}, :class => 'btn btn-danger f-right') %>
    <%= form_for @purchasable, :url => {:action => 'update_bill', :id => @purchasable.id}, html: {class: 'edit_bill form-horizontal'} do |f| %>
                      
      <% if @purchasable.errors.any? %>
        <div id="errorExplanation">
            <h2><%= pluralize(@purchasable.errors.count, "Error") %> prohibited
                this bill from being saved:</h2>
            <ul>
                <% @purchasable.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
      <% end %>
      <%= render(:partial => "purchasable_form", :locals => {:f => f, :purchasable => @purchasable}) %>
      <%= render(:partial => "purchasable_items", :locals => {:f => f, :purchasable => @purchasable, :categories_template => @purchasable.categories_template}) %>

    <% end %>

    <div class="form-buttons">
        <%= submit_tag("Save", :data => {:form => ".edit_bill"}, class: 'btn') %>
        <%= link_to("Cancel", :action => 'bills') %>
    </div>

</div>