<div>
    <%= render(:partial => "layouts/accounting_sub_menu") %>

    <div class="zurb-row">
        <div class="columns margin-bottom">
            <h2>Edit Purchase Order</h2>
            <%= link_to("Delete", {:action => 'delete_purchase_order', :id => @purchase_order.id}, :class => 'btn btn-danger f-right') %>
            <%= form_for @purchase_order, :url => {:action => 'update_purchase_order', :id => @purchase_order.id}, :remote => true, html: {class: 'purchasable-form form-horizontal'} do |f| %>

              <%= render(:partial => "purchase_order_form", :locals => {:f => f, :purchase_order => @purchase_order}) %>
              <div id="table-placeholder">
                  <%= render(:partial => "purchase_order_table", :locals => {:purchase_order => @purchase_order}) %>
              </div>

            <% end %>

            <div class="form-buttons">
                <%= submit_tag("Save", :data => {:form => ".purchasable-form"}, class: 'btn') %>
                <%= link_to("Cancel", :action => 'purchase_orders') %>
            </div>
        </div>
    </div>
</div>