<div>
    <%= render(:partial => "layouts/accounting_sub_menu") %>
    <div class="zurb-row">
        <div class="columns margin-bottom">
            <h2>Edit Bill</h2>
            <%= link_to("Delete", {:action => 'delete_bill', :id => @bill.id}, :class => 'btn btn-danger f-right') %>
            <div id="bill-form">
                <%= render(:partial => "bill_form") %>
            </div>
            <div class="form-buttons">
                <%= submit_tag("Save & New", :data => {:form => ".purchasable-form", :original_url => "#{url_for(:action => "new_bill")}"}, :class => 'btn') %>
                <%= link_to("Cancel", {:action => 'bills'}, :class => 'btn') %>
                <%= submit_tag("Save & Close", :data => {:form => ".purchasable-form"}, :class => 'btn') %>
            </div>
        </div>
    </div>
</div>