<%- invoice ||= nil
    @invoice = invoice if invoice.present?
    @builder = @invoice.builder
    @client = @invoice.estimate.project.client
%>
<% content_for :head do %>
  <%= render(:partial => "shared/company_info") %>
  <div class="right-header">
      <table class="top">
          <tr>
              <td>Invoice #<%= @invoice.reference %></td>
          </tr>
          <tr>
              <td>Created Date</td>
          </tr>
          <tr>
              <td>
                  <%= @invoice.created_at.strftime("%m/%d/%Y") %>
              </td>
          </tr>
          <tr>
              <td><%= @invoice.estimate.project.name %></td>
          </tr>
      </table>
      <table class="bottom">
          <tr>
              <td>Name / Address</td>
          </tr>
          <tr>
              <td>
                  <%= @client.display_name %>
                  <br/> &nbsp;
                  <%= @client.address %>
                  <br/> &nbsp;
                  <%= @client.city %> <%= ", #{@client.state}" if @client.state.present? %> <%=", #{@client.zipcode}" if @client.zipcode.present? %>
              </td>
          </tr>
      </table>
  </div>
<% end %>
<% if @invoice.estimate.try(:cost_plus_bid?) %>
  <%= render(:partial => 'accounting/cost_plus_bid/invoice_template',
             :locals => {:template => @invoice.try(:estimate).try(:template),
                         :from_date => @invoice.bill_from_date,
                         :to_date => @invoice.bill_to_date}) %>
<% else %>
  <%= render(:partial => "accounting/invoice_template", :locals => {:invoice => @invoice}) %>
<% end %>
