<%- invoice ||= nil
    @invoice = invoice if invoice.present?
    @builder = @invoice.builder
    @client = @invoice.estimate.project.client
%>
<% content_for :head do %>
  <div class="left-header">
      <%= pdf_image_tag(@builder.logo_url, :width => "200") if @builder.logo? %>
      <div class="address">
          <%= @builder.address %>
      </div>
      <div class="phone">
          <%= @builder.office_phone %>
      </div>
      <div class="website">
          <%= @builder.website %>
      </div>
      <div class="slogan">
      <%= "#{@builder.slogan}" if @builder.slogan.present? %>
      </div>
  </div>
  <div class="right-header">
      <table class="top">
          <tr>
              <td>Invoice</td>
          </tr>
          <tr>
              <td>Date</td>
          </tr>
          <tr>
              <td>
                  Created Date: <%= @invoice.created_at.strftime("%m/%d/%Y") %>
                  <br/>
                  Sent Date: <%= @invoice.sent_date.try(:strftime, "%m/%d/%Y") %>
              </td>
          </tr>
          <tr>
              <td><%= @invoice.estimate.project.name %></td>
          </tr>
      </table>
      <table class="bottom">
          <tr>
              <td>Name / Address</td>
          </tr>
          <tr>
              <td>
                  <%= @client.full_name %>
                  <br/>
                  <%= @client.address %>
                  <br/>
                  <%= @client.city %> <%= ", #{@client.state}" if @client.state.present? %> <%=", #{@client.zipcode}" if @client.zipcode.present? %>
              </td>
          </tr>
      </table>
  </div>
<% end %>

<table class="item-list splitForPrint">
    <thead>
        <tr class="header">
            <th>Description</th>
            <th>Estimated Amount</th>
            <th>Previously Invoiced</th>
            <th>This Invoice</th>
        </tr>
    </thead>
    <tbody>
        <%- @invoice.estimate.template.categories_templates.each do |category_template| %>
            <tr class="tr-category category" id="category_<%= category_template.category.id %>">
                <td class="td-category left-bold">
                    <%= category_template.category.name %>
                </td>
                <td></td><td></td><td></td>
            </tr>
            <% category_template.items.each do |item| %>
              <%= render :partial => 'accounting/invoice_tr_item', :locals => {:item => item, :category_template => category_template} %>
            <% end %>
            <% category_template.co_items.try(:each) do |item| %>
              <%= render :partial => 'accounting/invoice_tr_item', :locals => {:item => item, :category_template => category_template} %>
            <% end %>
            <tr>
                <td class="td-subtotal left-bold">
                    <%= category_template.category.name %> Subtotal
                </td>
                <td class="right-bold"><div class="subtotal-amount"></div></td>
                <td class="right-bold"><div class="subtotal-prior-amount"></div></td>
                <td class="right-bold"><div class="subtotal-invoice-amount"></div></td>
            </tr>
        <% end %>
            <tr class="tr-footer">
                <td class="right-bold">
                    TOTAL
                </td>
                <td class="right-bold"><div class="total-amount"></div></td>
                <td class="right-bold"><div class="total-prior-amount"></div></td>
                <td class="right-bold"><div class="total-invoice-amount"></div></td>
            </tr>
    </tbody>
</table>