<div>
    <%= render(:partial => "layouts/accounting_sub_menu") %>
    <div class="zurb-row">
        <div class="columns">
            <h1 class="center">New Invoice</h1>
            <%= form_for(@invoice, :url => {:action => 'create_invoice'}, :html => {:class => 'form-horizontal'}) do |f| %>
                <%= hidden_field_tag :original_url, params[:original_url] || @original_url %>
                <%= render(:partial => "invoice_form", :locals => {:f => f}) %>
                <div class="form-buttons">
                    <%= submit_tag("Create", :class => 'btn') %>
                </div>
            <% end %>
        </div>
    </div>
</div>