<div>
	<%= render(:partial => "layouts/accounting_sub_menu")%>
	<h1>Accounts Payable</h1>
	<%= link_to("Instructions >>", {:action => 'show'}) %>
	</br>
	</br>
	
	<h3>Create</h3>
	<%= link_to("Create Payment >>", {:action => 'payments'}) %>
	</br>
	</br>
	<%= link_to("Create Bill >>", {:action => 'bills'}) %>
	</br>
	</br>
	<%= link_to("Create Purchase Order >>", {:action => 'purchase_orders'}) %>
	</br>
	</br>
	
	
	
	<h3>History</h3>
	<%= link_to("Payment History >>", {:action => 'payment_history'}) %>
	</br>
	</br>
	<%= link_to("Bill History >>", {:action => 'show'}) %>
	</br>
	</br>
	<%= link_to("Purchase Order History >>", {:action => 'show'}) %>
	</br>
	</br>
	
	
	
</div>



