<div id="payables">
	<%= render(:partial => "layouts/accounting_sub_menu")%>
	<h1>Accounts Payable</h1>
	<%= link_to("Instructions >>", {:action => 'show'}) %>
	</br>
  <h3>Recent Payments</h3>
  <%= link_to("All Payments >>", {:action => 'payments'}) %>
  <%= render(:partial => "payments", :locals => {:payments => @payments}) %>

  <h3>Recent Bills</h3>
  <%= link_to("All Bills >>", {:action => 'bills'}) %>
  <%= render(:partial => "bills", :locals => {:bills => @bills}) %>

  <h3>Recent POs</h3>
  <%= link_to("All POs >>", {:action => 'purchase_orders'}) %>
  <%= render(:partial => "purchase_orders", :locals => {:purchase_orders => @purchase_orders}) %>
	
</div>



