<div>
	<%= render(:partial => "sub_menu")%>
	<h1>Accounts Payable</h1>
	<%= link_to("Instructions >>", {:action => 'show'}) %>
	</br>
	</br>
	<%= link_to("Purchase Orders >>", {:action => 'show'}) %>
	</br>
	</br>
	<%= link_to("Bills >>", {:action => 'show'}) %>
	</br>
	</br>
	<%= link_to("Payments >>", {:action => 'show'}) %>
	</br>
	</br>
	
</div>



