<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<META http-equiv="X-UA-Compatible" content="IE=8">
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<%= wicked_pdf_javascript_include_tag "toword" -%>
<STYLE type="text/css">
  body {
    margin-top: 0px;
    margin-left: 0px;
  }

  #page_1 {
    position: relative;
    overflow: hidden;
    margin: 84px 0px 59px 0px;
    padding: 0px;
    border: none;
    width: 816px;
  }

  #page_1 #id_1 {
    border: none;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    border: none;
    width: 816px;
    overflow: hidden;
  }

  #page_1 #id_2 {
    border: none;
    margin: 243px 0px 0px 48px;
    padding: 0px;
    border: none;
    width: 708px;
    overflow: hidden;
  }

  .ft0 {
    font: 1px 'Arial';
    line-height: 1px;
  }

  .ft1 {
    font: 13px 'Arial';
    line-height: 16px;
  }

  .p0 {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
  }

  .p1 {
    text-align: right;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
  }

  .p2 {
    text-align: right;
    padding-right: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
  }

  .p3 {
    text-align: left;
    padding-left: 48px;
    margin-top: 14px;
    margin-bottom: 0px;
  }

  .p4 {
    text-align: left;
    padding-left: 96px;
    margin-top: 16px;
    margin-bottom: 0px;
  }

  .p5 {
    text-align: left;
    padding-left: 96px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .p6 {
    text-align: right;
    padding-right: 59px;
    margin-top: 3px;
    margin-bottom: 0px;
  }

  .p7 {
    text-align: left;
    padding-left: 32px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
  }

  .p71 {
    text-align: left;
    padding-left: 264px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
  }

  .p8 {
    text-align: right;
    padding-right: 122px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
  }

  .td0 {
    padding: 0px;
    margin: 0px;
    width: 313px;
    vertical-align: bottom;
  }

  .td1 {
    padding: 0px;
    margin: 0px;
    width: 294px;
    vertical-align: bottom;
  }

  .td2 {
    padding: 0px;
    margin: 0px;
    width: 287px;
    vertical-align: bottom;
  }

  .td3 {
    padding: 0px;
    margin: 0px;
    width: 268px;
    vertical-align: bottom;
  }

  .td4 {
    padding: 0px;
    margin: 0px;
    width: 319px;
    vertical-align: bottom;
  }

  .td5 {
    padding: 0px;
    margin: 0px;
    width: 390px;
    vertical-align: bottom;
  }

  .td6 {
    padding: 0px;
    margin: 0px;
    width: 376px;
    vertical-align: bottom;
  }

  .td7 {
    padding: 0px;
    margin: 0px;
    width: 332px;
    vertical-align: bottom;
  }

  .tr0 {
    height: 19px;
  }

  .tr1 {
    height: 45px;
  }

  .tr2 {
    height: 17px;
  }

  .tr3 {
    height: 20px;
  }

  .tr4 {
    height: 61px;
  }

  .tr5 {
    height: 16px;
  }

  .t0 {
    width: 607px;
    margin-left: 128px;
    font: 13px 'Arial';
  }

  .t1 {
    width: 555px;
    margin-left: 80px;
    margin-top: 124px;
    font: 13px 'Arial';
  }

  .t2 {
    width: 709px;
    margin-left: 48px;
    margin-top: 236px;
    font: 13px 'Arial';
  }

  .t3 {
    width: 708px;
    font: 13px 'Arial';
  }

  .to-words {
    display: inline;
    font: 13px 'Arial';
  }

  .inline {
    display: inline;
  }

  .capitalize {
    text-transform: capitalize;
    display: inherit;
    font: 13px 'Arial';
  }

</STYLE>
<script type="text/javascript">
  $(document).ready(function () {
    $(".to-words").each(function () {
      $(this).html(toWords($(this).text()));
    });
  });
</script>
</HEAD>

<BODY>
<div id="page_1">
    <div id="id_1">
        <table cellpadding="0" cellspacing="0" class="t0">
            <tr>
                <td class="tr0 td0"><p class="p0 ft0">&nbsp;</p></td>
                <td class="tr0 td1">
                    <p class="p1 ft1" style="margin-bottom: 1px"><%= @payment.date.strftime("%m/%d/%Y") %></p></td>
            </tr>
            <tr>
                <td class="tr1 td0"><p class="p0 ft1" style="margin-bottom: 3px"><%= @payment.payer.display_name %></p>
                </td>
                <td class="tr1 td1">
                    <p class="p2 ft1" style="margin-bottom: 1px; padding-right: 11px">**<%= price(@payment.total_amount) %></p>
                </td>
            </tr>
        </table>
        <p class="p3 ft1"><span class="to-words"><%= price(@payment.total_amount) %></span>*****************************************************
        </p>
        <div style="height: 48px">
        <p class="p4 ft1"><%= @payment.payer.display_name %></p>

        <p class="p5 ft1"><%= @payment.payer.address %></p>

        <p class="p5 ft1"><%= @payment.payer.city %> <%= ", #{@payment.payer.state}" if @payment.payer.state.present? %> <%= ", #{@payment.payer.zipcode}" if @payment.payer.zipcode.present? %></p>
        </div>
        <table cellpadding="0" cellspacing="0" class="t2" style="margin-top: 124px">
            <tr>
                <td class="tr2 td4"><p class="p7 ft1"><%= @payment.payer.display_name %></p></td>
                <td class="tr2 td5"><p class="p8 ft1"><%= @payment.date.strftime("%m/%d/%Y") %></p></td>
            </tr>
            <tr>
                <td class="tr0 td4" style="position: absolute">
                    <% @payment.bills.each do |b| %>
                      <% if b.notes.present? %>
                        <p class="p71"><%= b.notes %></p>
                      <% end %>
                    <% end %>
                </td>
                <td class="tr0 td5"><p class="p1 ft1"><%= price(@payment.total_amount) %></p></td>
            </tr>
        </table>
        <table cellpadding="0" cellspacing="0" class="t2">
            <tr>
                <td class="tr3 td4"><p class="p0 ft1"><%= @payment.account.name %></p></td>
                <td class="tr3 td5"><p class="p1 ft1"><%= price(@payment.total_amount) %></p></td>
            </tr>
            <tr>
                <td class="tr4 td4"><p class="p7 ft1"><%= @payment.payer.display_name %></p></td>
                <td class="tr4 td5"><p class="p8 ft1"><%= @payment.date.strftime("%m/%d/%Y") %></p></td>
            </tr>
            <tr>
                <td class="tr0 td4" style="position: absolute">
                    <% @payment.bills.each do |b| %>
                      <% if b.notes.present? %>
                        <p class="p71"><%= b.notes %></p>
                      <% end %>
                    <% end %>
                </td>
                <td class="tr0 td5"><p class="p1 ft1"><%= price(@payment.total_amount) %></p></td>
            </tr>
        </table>
    </div>
    <div id="id_2">
        <table cellpadding="0" cellspacing="0" class="t3">
            <tr>
                <td class="tr5 td6"><p class="p0 ft1"><%= @payment.account.name %></p></td>
                <td class="tr5 td7">
                    <p class="p1 ft1" style="padding-right: -3px"><%= price(@payment.total_amount) %></p></td>
            </tr>
        </table>
    </div>
</div>
</BODY>
</HTML>
