<div id="receivables">
    <%= render(:partial => "layouts/accounting_sub_menu")%>
    <h1>Accounts Receivables</h1>
    <%= link_to("Instructions >>", {:action => 'show'}) %>
    </br>
    <h3>Recent Invoices</h3>
    <%= link_to("All Invoices >>", {:action => 'invoices'}, class: 'btn') %>
    <%= link_to("+ Invoice", {:action => 'new_invoice'}, :id => 'add-invoice', :class => 'action vew btn') %>
    <%= render(:partial => "invoices", :locals => {:invoices => @invoices}) %>

    <h3>Recent Receipts</h3>
    <%= link_to("All Receipts >>", {:action => 'receipts'}, class: 'btn') %>
    <%= link_to("+ Receipt", {:action => 'new_receipt'}, :id => 'add-receipt', :class => 'action vew btn') %>
    <%= render(:partial => "receipts", :locals => {:receipts => @receipts}) %>

    <h3>Recent Deposits</h3>
    <%= link_to("All Deposits >>", {:action => 'deposits'}, class: 'btn') %>
    <%= link_to("+ Deposit", {:action => 'new_deposit'}, :id => 'add-deposit', :class => 'action vew btn') %>
    <%= render(:partial => "deposits", :locals => {:deposits => @deposits}) %>

</div>







