<div>
	<%= render(:partial => "sub_menu")%>
	<h1>Accounts Receivable</h1>
	<%= link_to("Instructions >>", {:action => 'show'}) %>
	</br>
	</br>
	<%= link_to("Invoices >>", {:action => 'show'}) %>
	</br>
	</br>
	<%= link_to("Payments >>", {:action => 'show'}) %>
	</br>
	</br>
	<%= link_to("Deposits >>", {:action => 'show'}) %>
	</br>
	</br>
	
	
</div>



