<div>
    <%= render(:partial => "layouts/accounting_sub_menu") %>
    <div class="zurb-row main-action-bar">
        <div class="large-3 medium-4 columns">
            <%= link_to("+ Receipt", {:action => 'new_receipt'}, :id => 'add-receipt', :class => 'add action-button') %>
            <span class="trigger help action-button">Instructions >></span>

            <div class="instructions">
                <p>Click on the row of the receipt you want to edit their information.</p>
            </div>
        </div>
        <div class="large-6 medium-6 columns">
            <h1>Receipts</h1>
        </div>
        <div class="large-3 medium-2 columns">
        </div>
    </div>
    <div class="zurb-row">
        <div class="columns">
            <div class="button-group">
                <%= form_tag('receipts', :method => 'get', :class => 'form-inline') do %>
                  <p>
                      <%= label_tag :query, "Search" %>
                      <%= text_field_tag(:query, @query) %>
                  </p>
                <% end %>
            </div>
            <%= render(:partial => "receipts", :locals => {:receipts => @receipts}) %>
        </div>
    </div>
</div>

