<div class="control-group">
    <%= f.label :company, "Company", class: 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.text_field(:company) %>
    </div>
</div>
<div class="control-group">
    <%= f.label :first_name, "First Name", class: 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.text_field(:first_name) %>
    </div>
</div>
<div class="control-group">
    <%= f.label :last_name, "Last Name", class: 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.text_field(:last_name) %>
    </div>
</div>
<div class="control-group">
    <%= f.label :primary_phone, "Primary Phone", class: 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.text_field(:primary_phone) %>
        <%= f.select(:primary_phone_tag, ["Cell", "Office", "Home"]) %>
    </div>
</div>
<div class="control-group">
    <%= f.label :secondary_phone, "Secondary Phone", class: 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.text_field(:secondary_phone) %>

        <%= f.select(:secondary_phone_tag, ["Cell", "Office", "Home"]) %>
    </div>
</div>
<div class="control-group">
    <%= f.label :email, "Email", class: 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.text_field(:email) %>
    </div>
</div>
<div class="control-group">
    <%= f.label :address, "Address", class: 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.text_field(:address) %>
    </div>
</div>
<div class="control-group">
    <%= f.label :city, "City", class: 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.text_field(:city) %>
    </div>
</div>
<div class="control-group">
    <%= f.label :state, "State", class: 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.text_field(:state) %>
    </div>
</div>
<div class="control-group">
    <%= f.label :zipcode, "Zipcode", class: 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.text_field(:zipcode) %>
    </div>
</div>
<div class="control-group">
    <%= f.label :lead_source, "Lead Source", class: 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.text_field(:lead_source) %>
    </div>
</div>
<div class="control-group">
    <%= f.label :notes, "Notes", class: 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.text_area :notes, :size => "40x5" %>
    </div>
</div>


