<div>
	<%= render(:partial => "layouts/prospecting_sub_menu")%>
	<h1 class="center">
		<% if @prospect.company == '' %>
			<%= @prospect.full_name %>
		<% else %>
			<%= @prospect.company %>
		<% end %>
	</h1>
	
	<%= link_to("Edit >>", {:action => 'edit', :id => @prospect.id}) %>
	</br>
	</br>
	<%= link_to("Delete >>", {:action => 'delete', :id => @prospect.id}) %>
		<p>
			<b><%= "Company:" %></b>
			<%= @prospect.company %>
		</p>
		<p>
			<b><%= "First Name:" %></b>
			<%= @prospect.first_name %>
		</p>
		<p>
			<b><%= "Last Name:" %></b>
			<%= @prospect.last_name %>
		</p>
		<p>
			<b><%= "Primary Phone:" %></b>
			<%= number_to_phone(@prospect.primary_phone, area_code: true) %>
			<%= @prospect.primary_phone_tag %>
		</p>
		<p>
			<b><%= "Secondary Phone:" %></b>
			<%= number_to_phone(@prospect.secondary_phone, area_code: true) %>
			<%= @prospect.secondary_phone_tag %>
		</p>
		<p>
			<b><%= "Email:" %></b>
			<%= @prospect.email %>
		</p>
		
		<p>
			<b><%= "Address:" %></b>
			<%= @prospect.address %>
		</p>
		<p>
			<b><%= "City:" %></b>
			<%= @prospect.city %>
		</p>
		<p>
			<b><%= "State:" %></b>
			<%= @prospect.state %>
		</p>
		<p>
			<b><%= "Zipcode:" %></b>
			<%= @prospect.zipcode %>
		</p>
		<p>
			<b><%= "Notes:" %></b>
			</br>
			<%= @prospect.notes %>
		</p>
		<p>
			<b><%= "Created At:" %></b>
			<%= @prospect.created_at %>
		</p>
		<p>
			<b><%= "Last Updated:" %></b>
			<%= @prospect.updated_at %>
		</p>
</div>