<tr class="item item_category_<%= category.id %>" id="bill_<%= b_ct.id %>">
    <td class="description">
        Bill  #<%= b_ct.bill.id %>
    </td>
    <td>
        <%= price_tag(b_ct.price, "amount") %>
    </td>
    <td>
        <%= price_tag(b_ct.prior_amount(@invoice.id), "prior-amount") %>
    </td>
    <td>
        <%= price_tag(b_ct.invoiceable(@invoice.id).try(:amount), "invoice-amount") %>
    </td>
</tr>