<table summary="Template form fields">
  <tr>
    <th>Item Name</th>
    <td><%= f.text_field(:name) %>
  </tr>
  <tr>
    <th>Description on Estimate</th>
    <td><%= f.text_field(:description, :size => 100) %>
  </tr>
  <tr>
      <th>Default quantity</th>
      <td><%= f.text_field(:qty) %>
  </tr>
  <tr>
    <th>Cost</th>
    <td><%= f.text_field(:estimated_cost) %>
  </tr>
  <tr>
    <th>Unit of Measure</th>
    <td><%= f.text_field(:unit) %>
  </tr>
  <tr>
    <th>Preset Margin</th>
    <td><%= f.text_field(:markup) %>
  </tr>
  <tr>
    <th>Item Notes</th>
    <td><%= f.text_area(:notes) %></td>
  </tr>
</table>
