<div class="control-group">
    <%= f.label :name, 'Item Name', class: 'col-lg-2 control-label' %>
    <div class="controls"><%= f.text_field(:name) %></div>
</div>
<div class="control-group">
    <%= f.label :description, 'Description on Estimate', class: 'col-lg-2 control-label' %>
    <div class="controls"><%= f.text_field(:description, :size => 100) %></div>
</div>
<div class="control-group">
    <%= f.label :qty, 'Default quantity', class: 'col-lg-2 control-label' %>
    <div class="controls"><%= f.text_field(:qty) %></div>
</div>
<div class="control-group">
    <%= f.label :estimated_cost, 'Cost', class: 'col-lg-2 control-label' %>
    <div class="controls"><%= f.text_field(:estimated_cost) %></div>
</div>
<div class="control-group">
    <%= f.label :unit, 'Unit of Measure', class: 'col-lg-2 control-label' %>
    <div class="controls"><%= f.text_field(:unit) %></div>
</div>
<div class="control-group">
    <%= f.label :markup, 'Preset Margin', class: 'col-lg-2 control-label' %>
    <div class="controls"><%= f.text_field(:markup) %></div>
</div>
<div class="control-group">
    <%= f.label :notes, 'Item Notes', class: 'col-lg-2 control-label' %>
    <div class="controls"><%= f.text_area(:notes, size: '40x5') %></div>
</div>
