<div id='submenu'>
	<ul>
		<li><%= link_to("Current Estimates", {:controller => 'estimates', :action => 'list_current'})%>
		<li><%= link_to("Past Estimates", {:controller => 'estimates', :action => 'list_past'})%>
		<li><%= link_to("Templates", {:controller => 'templates', :action => 'list'})%>
		<li><%= link_to("Categories", {:controller => 'categories', :action => 'list'})%>
		<li><%= link_to("Items", {:controller => 'items', :action => 'list'})%>
		<li><%= link_to("Import/Export")%>
	
	</ul>
</div>

	