<div>
    <%= render(:partial => "layouts/estimating_sub_menu") %>
    <div class="zurb-row main-action-bar">
        <div class="large-3 medium-4 columns">
            <%= link_to("+ New Item", {:action => 'new'}, :class => 'add action-button') %>
            <%= link_to("Instructions >>", {:action => 'show'}, :class => 'help action-button') %>
        </div>
        <div class="large-6 medium-6 columns">
            <h1>Items List</h1>
        </div>
        <div class="large-3 medium-2 columns">
        </div>
    </div>
    <div class="zurb-row">
        <div class="columns">
            <%= form_tag('list', :method => 'get', :class => 'form-inline') do %>
                <p>
                    <%= label_tag :query, "Search" %>
                    <%= text_field_tag(:query, @query) %>
                </p>
            <% end %>
        </div>
        <div class="columns">
            <table class="grid-view margin-bottom responsive" summary="Project List">
                <tr class="header">
                    <th>Actions</th>
                    <%= sorted_ths [["Name", "name"],
                                    ["Description", "description"],
                                    ["Default Quantity", "qty"],
                                    ["Cost", "estimated_cost"],
                                    ["Unit", "unit"],
                                    ["Preset Margin", "markup"],
                                    ["Price", "price"],
                                    ["Notes", "notes"]] %>
                </tr>
                <% @items.each do |item| %>
                    <tr>
                        <td class="center">
                            <%= link_to("Edit", {:action => 'edit', :id => item.id}, :title => 'Edit', :class => 'edit table-action') %>
                            <%= link_to("Delete", {:action => 'delete', :id => item.id}, :title => 'Delete', :class => 'delete table-action') %>
                        </td>
                        <td><%= item.name %></td>
                        <td><%= item.description %></td>
                        <td><%= item.qty %></td>
                        <td><%= price_tag(item.estimated_cost) %></td>
                        <td><%= item.unit %></td>
                        <td><%= price_tag(item.markup) %></td>
                        <td><%= price_tag(item.price) %></td>
                        <td><%= item.notes %></td>
                    </tr>
                <% end %>
            </table>
            <%= paginate @items %>
        </div>
    </div>
</div>

