<div>
    <%= render(:partial => "layouts/estimating_sub_menu") %>
    <div class="zurb-row">
        <div class="columns">
            <h2>Create Item</h2>
            <%= form_for @item, :url => {:action => 'create'}, :html => {:class => 'form-horizontal'} do |f| %>
                <% if @item.errors.any? %>
                    <div id="errorExplanation">
                        <h2><%= pluralize(@item.errors.count, "Error") %> prohibited
                            this item from being saved:</h2>
                        <ul>
                            <% @item.errors.full_messages.each do |msg| %>
                                <li><%= msg %></li>
                            <% end %>
                        </ul>
                    </div>
                <% end %>
                <%= render(:partial => "new_form", :locals => {:f => f}) %>
                <div class="control-group">
                    <div class='controls'>
                        <%= submit_tag("Create", :class => 'btn') %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>