<div>
    <%= render(:partial => "layouts/estimating_sub_menu") %>
    <div class="zurb-row main-action-bar">
        <div class="large-3 medium-4 columns">
            <%= link_to("+ New Category", {:action => 'new'}, :class => 'add action-button') %>
            <%= link_to("Instructions >>", {:action => 'show'}, :class => 'help action-button') %>
        </div>
        <div class="large-6 medium-6 columns">
            <h1>Categories List</h1>
        </div>
        <div class="large-3 medium-2 columns">
        </div>
    </div>
    <div class="zurb-row">
        <table class="grid-view responsive" summary="Project List">
            <tr class="header">
                <th>Actions</th>
                <th>Name</th>
                <th>Notes</th>
            </tr>
            <% @categories.each do |category| %>
                <tr>
                    <td class="center">
                        <%= link_to("Edit", {:action => 'edit', :id => category.id}, :title => 'Edit', :class => 'edit table-action') %>
                        <%= link_to("Delete", {:action => 'delete', :id => category.id}, :title => 'Delete', :class => 'delete table-action') %>
                    </td>
                    <td><%= category.name %></td>
                    <td><%= %></td>
                </tr>
            <% end %>
        </table>
    </div>
</div>

