<div>
	<%= render(:partial => "sub_menu")%>
	<h2>Delete Supplier</h2>
	
	<%= form_for(:supplier, :url => {:action => 'destroy', :id => @supplier.id}) do |f| %>
	
	<p>Are you sure you want to delete this supplier?</p>
	
<<<<<<< HEAD
	<p class="reference-name"><%= @supplier.company %></p>
=======
	<p class="reference-name"><%= @supplier.first_name %></p>
>>>>>>> 199920213a3c32b35077fb920bab96f42ba82028
	<div class="form-buttons">
		<%= submit_tag("Delete") %>
	</div>
	
	<% end %>
</div>