<div>
	<%= render(:partial => "sub_menu")%>
	<h1>Supplier Database</h1>
	<%= link_to("Instructions >>", {:action => 'show'}) %>
	</br>
	</br>
	<%= link_to("Add New Supplier >>", {:action => 'new'}) %>
	</br>
	</br>
	<table class="grid-view" summary="Project List">
		<tr class="header">
			<th>Actions</th>
			<th>Company</th>
			<th>Main Contact</th>
			<th>Primary Phone</th>
			<th>Email</th>
<<<<<<< HEAD
			<th>Website</th>
			<th>Notes</th>
			
=======
>>>>>>> 199920213a3c32b35077fb920bab96f42ba82028
					
		</tr>
		<% @suppliers.each do |s| %>
		
		<tr>
			<td class="center">
				<%= link_to("Show", {:action => 'show', :id => s.id}, :class => 'action edit') %>
				<%= link_to("Edit", {:action => 'edit', :id => s.id}, :class => 'action edit') %>
				<%= link_to("Delete", {:action => 'delete', :id => s.id}, :class => 'action delete') %>
			</td>
			<td><%= s.company %></td>
<<<<<<< HEAD
			<td><%= s.primary_first_name + s.primary_last_name %></td>
			<td><%= s.primary_phone %></td>
			<td><%= s.primary_email %></td>	
			<td><%= s.website %></td>	
			<td><%= s.notes %></td>	
=======
			<td><%= s.first_name %></td>
			<td><%= s.last_name %></td>
			<td><%= s.primary_phone %></td>
			<td><%= s.email %></td>	
>>>>>>> 199920213a3c32b35077fb920bab96f42ba82028
			
		</tr>
		<% end %>
		
	</table>
</div>

