<div>
	<%= render(:partial => "sub_menu")%>
	<h2 class="center">Supplier: <%= @supplier.company %> </h2>
	<h2>Company Info:</h2>
	<p>
		<b><%= "Company Name:" %></b>
		<%= @supplier.company %>
	</p>
	<p>
		<b><%= "Website:" %></b>
		<%= @supplier.website %>
	</p>
	<p>
		<b><%= "Address:" %></b>
		<%= @supplier.address %>
	</p>
	<p>
		<b><%= "City:" %></b>
		<%= @supplier.city %>
	</p>
	<p>
		<b><%= "State:" %></b>
		<%= @supplier.state %>
	</p>
	<p>
		<b><%= "Zipcode:" %></b>
		<%= @supplier.zipcode %>
	</p>

	<h2>Primary Contact's Info:</h2>
	<p>
		<b><%= "First Name:" %></b>
		<%= @supplier.primary_first_name %>
	</p>
	<p>
		<b><%= "Last Name:" %></b>
		<%= @supplier.primary_last_name %>
	</p>
	<p>
		<b><%= "Phone:" %></b>
		<%= number_to_phone(@supplier.primary_phone, area_code: true) %>
		<%= @supplier.primary_phone_tag %>
	</p>
	<p>
		<b><%= "Email:" %></b>
		<%= @supplier.primary_email %>
	</p>

	<h2>Secondary Contact's Info:</h2>
	<p>
		<b><%= "First Name:" %></b>
		<%= @supplier.secondary_first_name %>
	</p>
	<p>
		<b><%= "Last Name:" %></b>
		<%= @supplier.secondary_last_name %>
	</p>
	<p>
		<b><%= "Phone:" %></b>
		<%= number_to_phone(@supplier.secondary_phone, area_code: true) %>
		<%= @supplier.secondary_phone_tag %>
	</p>
	<p>
		<b><%= "Email:" %></b>
		<%= @supplier.secondary_email %>
	</p>

	<p>
		<b><%= "Notes:" %></b>
		<%= @supplier.notes %>
	</p>
	<p>
		<b><%= "Created At:" %></b>
		<%= @supplier.created_at %>
	</p>
	<p>
		<b><%= "Last Updated:" %></b>
		<%= @supplier.updated_at %>
	</p>

</div>