<div>
	<%= render(:partial => "sub_menu")%>
	<h2>Supplier Details For: <%= @supplier.company %> </h2>
	<h2>Company Info:</h2>
	<p>
		<%= "Company Name:" %>
		<%= @supplier.company %>
	</p>
	<p>
		<%= "Website:" %>
		<%= @supplier.website %>
	</p>
	<p>
		<%= "Address:" %>
		<%= @supplier.address %>
	</p>
	<p>
		<%= "City:" %>
		<%= @supplier.city %>
	</p>
	<p>
		<%= "State:" %>
		<%= @supplier.state %>
	</p>
	<p>
		<%= "Zipcode:" %>
		<%= @supplier.zipcode %>
	</p>

	<h2>Primary Contact's Info:</h2>
	<p>
		<%= "First Name:" %>
		<%= @supplier.primary_first_name %>
	</p>
	<p>
		<%= "Last Name:" %>
		<%= @supplier.primary_last_name %>
	</p>
	<p>
		<%= "Phone:" %>
		<%= number_to_phone(@supplier.primary_phone, area_code: true) %>
	</p>
	<p>
		<%= "Email:" %>
		<%= @supplier.primary_email %>
	</p>

	<h2>Secondary Contact's Info:</h2>
	<p>
		<%= "First Name:" %>
		<%= @supplier.secondary_first_name %>
	</p>
	<p>
		<%= "Last Name:" %>
		<%= @supplier.secondary_last_name %>
	</p>
	<p>
		<%= "Phone:" %>
		<%= number_to_phone(@supplier.secondary_phone, area_code: true) %>
	</p>
	<p>
		<%= "Email:" %>
		<%= @supplier.secondary_email %>
	</p>

	<p>
		<%= "Notes:" %>
		<%= @supplier.notes %>
	</p>
	<p>
		<%= "Created At:" %>
		<%= @supplier.created_at %>
	</p>
	<p>
		<%= "Last Updated:" %>
		<%= @supplier.updated_at %>
	</p>

</div>