<div>
	<%= render(:partial => "sub_menu")%>
	<h2>Supplier Details For: <%= @supplier.first_name %> </h2>
	
	<table summary="Estimate detail view">
		
		<tr>
			<th>Company</th>
			<td><%= @supplier.company %>
		</tr>
		<tr>
			<th>First Name</th>
			<td><%= @supplier.first_name %>
		</tr>
		<tr>
			<th>Last Name</th>
			<td><%= @supplier.last_name %>
		</tr>
		<tr>
			<th>Primary Phone</th>
			<td><%= @supplier.primary_phone %>
		</tr>
		<tr>
			<th>Email</th>
			<td><%= @supplier.email %>
		</tr>
		<tr>
			<th>Created At</th>
			<td><%= @supplier.created_at %>
		</tr>
		<tr>
			<th>Last Updated</th>
			<td><%= @supplier.updated_at %>
		</tr>
	</table>
</div>