<% content_for :head do %>
  <% project = @builder.projects.find(@project_id) if @project_id.present?  %>
  <div class="left-header">
      <%= pdf_image_tag(@builder.image.name_url, :width => "200") if @builder.image.try(:name).present? %>
      <div class="address">
          <%= @builder.address %>
      </div>
      <div class="phone">
          <%= @builder.office_phone %>
      </div>
      <div class="website">
          <%= @builder.website %>
      </div>
      <div class="slogan">
          <%= "#{@builder.slogan}" if @builder.slogan.present? %>
      </div>
  </div>
  <div class="right-header">
      <table class="top">
          <tr>
              <td>P&L Report</td>
          </tr>
          <tr>
              <td>Date</td>
          </tr>
          <tr>
              <td>
                  From Date: <%= @from_date.try(:strftime, "%m/%d/%Y") %>
                  <br/>
                  To Date: <%= @to_date.try(:strftime, "%m/%d/%Y") %>
              </td>
          </tr>
          <% if project %>
            <tr>
                <td><%= project.name %></td>
            </tr>
          <% end %>
      </table>

      <% if project %>
        <table class="bottom">
            <tr>
                <td>Name / Address</td>
            </tr>
            <tr>
                <td>
                    <% %>
                    <%= project.client.full_name %>
                    <br/>
                    <%= project.client.address %>
                    <br/>
                    <%= project.client.city %> <%= ", #{project.client.state}" if project.client.state.present? %> <%= ", #{project.client.zipcode}" if project.client.zipcode.present? %>
                </td>
            </tr>
        </table>
      <% end %>
  </div>
<% end %>
<%= render(:partial => "accounting/profit_loss_table.html.erb", :locals => {options: {from_date: @from_date, to_date: @to_date, project_id: @project_id}}) %>