<% content_for :head do %>
  <div class="left-header">
      <%= pdf_image_tag(@builder.image.name_url, :width => "200") if @builder.image.try(:name).present? %>
      <div class="address">
          <%= @builder.address %>
      </div>
      <div class="phone">
          <%= @builder.office_phone %>
      </div>
      <div class="website">
          <%= @builder.website %>
      </div>
      <div class="slogan">
          <%= "#{@builder.slogan}" if @builder.slogan.present? %>
      </div>
  </div>
  <div class="right-header">
      <table class="top">
          <tr>
              <td>P&L Report</td>
          </tr>
          <tr>
              <td>Date</td>
          </tr>
          <tr>
              <td>
                  From Date: <%= @from_date.strftime("%m/%d/%Y") %>
                  <br/>
                  To Date: <%= @to_date.try(:strftime, "%m/%d/%Y") %>
              </td>
          </tr>
      </table>
  </div>
<% end %>
<% r_balance = @builder.accounts.where(:name => "Revenue").first.balance(@from_date, @to_date).to_f
   c_balance = @builder.accounts.where(:name => "Cost of Goods Sold").first.balance(@from_date, @to_date).to_f
   e_balance = @builder.accounts.where(:name => "Expenses").first.balance(@from_date, @to_date).to_f
   gross_profit = r_balance - c_balance
   net_profit = gross_profit - e_balance
%>

<table class="splitForPrint report">
    <tbody>
    <tr>
        <td class="name">Revenue</td>
        <td class="amount"><%= price_tag r_balance %></td>
    </tr>
    <tr>
        <td class="name">Cost of Goods Sold</td>
        <td class="amount"><%= price_tag c_balance %></td>
    </tr>
    <tr>
        <td class="name">Gross Profit</td>
        <td class="amount calculate"><%= price_tag gross_profit %></td>
    </tr>
    <tr>
        <td class="name">Expenses</td>
        <td class="amount"><%= price_tag e_balance %></td>
    </tr>
    <tr>
        <td class="name">Net Profit</td>
        <td class="amount calculate"><%= price_tag net_profit %></td>
    </tr>
    </tbody>
</table>