<tr class="clickable <% if t.reconciled%> unclickable <% end %>">
    <td class="center">
        <%= t.date %>
    </td>
    <td>
        <%= t.transactionable.client_credit ? "Credit" : "Receipt" %>
    </td>
    <td class="center"><%= t.transactionable.reference || t.transactionable.id %></td>
    <td></td>
    <td></td>
    <td class="right"><%= price_tag(t.amount) %></td>
    <td class="right"><%= price_tag(balance) %></td>
</tr>