<tr class="clickable <% if t.reconciled%> unclickable <% end %>">
    <td class="center">
        <%= t.date %>
    </td>
    <td>Bill</td>
    <td><%= t.transactionable.id %></td>
    <td><%= t.transactionable.project_name %></td>
    <td><%= t.transactionable.notes %></td>
    <td class="right"><%= price_tag(t.amount) %></td>
    <td class="right"><%= price_tag(balance) %></td>
</tr>