<div class='zurb-row' id='submenu'>
    <ul>
        <li><%= link_to("Receivables", {:controller => 'accounting', :action => 'receivables'}, :class => active_page('accounting', 'nav', 'receivables')) %></li>
        <li><%= link_to("Payables", {:controller => 'accounting', :action => 'payables'}, :class => active_page('accounting', 'nav', 'payables')) %></li>
        <li><%= link_to("Payroll", {:controller => 'accounting', :action => 'payroll'}, :class => active_page('accounting', 'nav', 'payroll')) %></li>
        <li><%= link_to("Accounts", {:controller => 'accounts', :action => 'list'}, :class => active_page('accounting', 'nav', 'list')) %></li>
        <li><%= link_to("Items", {:controller => 'items', :action => 'list_for_accounting'}) %></li>
        <li><%= link_to("Reports", {:controller => 'accounting', :action => 'reports'}, :class => active_page('accounting', 'nav', 'reports')) %></li>
        <li><%= link_to("Import/Export", {:controller => 'accounting', :action => 'import_export'}, :class => active_page('accounting', 'nav', 'import_export')) %></li>
    </ul>
</div>
