<div id='mainmenu'>
  <ul>
    <li class="<%= active_page('undifiend', 'nav') %>">
        <%= link_to("Prospecting", '#', {:action => 'show'}, :class => 'action edit')%>
        <div class="arrow"></div>
    </li>
    <li class="<%= active_page('list_current_leads, new, list_past_leads', 'nav') %>">
      <%= link_to("Leads", {:controller => 'leads', :action => 'list_current_leads'}, :class => 'menu item')%>
        <div class="arrow"></div>
    </li>
    <li class="<%= active_page(['estimates', 'items', 'categories', 'templates'], 'nav') %>">
        <%= link_to("Estimating", {:controller => 'estimates', :action => 'list_current'}, :class => 'menu item')%>
        <div class="arrow"></div>
    </li>
    <li class="<%= active_page('undifiend', 'nav') %>">
      <%= link_to("Contracts", '#', {:action => 'show'}, :class => 'menu item')%>
        <div class="arrow"></div>
    </li>
    <li class="<%= active_page(['projects', 'tasklists'], 'nav') %>">
      <%= link_to("Project Mgmt", {:controller => 'projects', :action => 'list_current_projects'}, :class => 'menu item')%>
        <div class="arrow"></div>
    </li>
    <li class="<%= active_page(['clients'], 'nav') %>">
      <%= link_to("People", {:controller => 'clients', :action => 'list'}, :class => 'menu item')%>
        <div class="arrow"></div>
    </li>
    <li class="<%= active_page(['accounting'], 'nav') %>">
      <%= link_to("Accounting", {:controller => 'accounting', :action => 'index'}, :class => 'action edit')%>
        <div class="arrow"></div>
    </li>
    <li class="<%= active_page(['clients'], 'nav') %>">
      <%= link_to("Preferences", '#', {:action => 'show'}, :class => 'action edit')%>
        <div class="arrow"></div>
    </li>
    <li class="<%= active_page('clients', 'nav') %>">
      <%= link_to("Company", {:controller => 'builders', :action => 'show'}, :class => 'action edit')%>
        <div class="arrow"></div>
    </li>
  </ul>
</div>