<div class='zurb-row' id='submenu'>
    <ul>
        <li><%= link_to("All", {:controller => 'people', :action => 'all'}) %></li>
        <li><%= link_to("Clients", {:controller => 'clients', :action => 'list'}) %></li>
        <li><%= link_to("Vendors", {:controller => 'people', :action => 'list_vendors'}) %></li>
        <li><%= link_to("Other Contacts", {:controller => 'people', :action => 'list_contacts'}) %></li>
        <li><%= link_to("Import/Export", {:controller => 'people', :action => 'import_export'}) %></li>
    </ul>
</div>