<div id='submenu'>
	<ul>
		<li><%= link_to("Architects", {:controller => 'architects', :action => 'list'})%></li>
		<li><%= link_to("Clients", {:controller => 'clients', :action => 'list'})%></li>
		<li><%= link_to("Subcontractors", {:controller => 'subcontractors', :action => 'list'})%></li>
		<li><%= link_to("Suppliers", {:controller => 'suppliers', :action => 'list'})%></li>
		<li><%= link_to("Import/Export", {:controller => 'subcontractors', :action => 'import_export'})%></li>
	</ul>
</div>


	