<div id='submenu'>
  <ul>
    <li>
      <%= link_to("Current Estimates", {:controller => 'estimates', :action => 'list_current'}, class: active_page('estimates', 'nav', 'list_current'))%>
    </li>
    <li>
      <%= link_to("Past Estimates", {:controller => 'estimates', :action => 'list_past'}, class: active_page('estimates', 'nav', 'list_past'))%>
    </li>
    <li>
      <%= link_to("Templates", {:controller => 'templates', :action => 'list'}, class: active_page('templates', 'nav'))%>
    </li>
    <li>
      <%= link_to("Categories", {:controller => 'categories', :action => 'list'}, class: active_page('categories', 'nav'))%>
    </li>
    <li>
      <%= link_to("Items", {:controller => 'items', :action => 'list'}, class: active_page('items', 'nav'))%>
    </li>
    <li>
      <%= link_to("Import/Export", {:controller => 'items', :action => 'import_export'}, class: active_page('estimates', 'nav', 'import_export'))%>
    </li>

  </ul>
</div>

<div id='content'>
	<%= yield %>
</div>
