<div class="control-group">
    <%= f.label :name, "Account Name", class: 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.text_field(:name) %>
    </div>
</div>
<div class="control-group">
    <%= f.label :category, "Sub-Account Of", class: 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.hidden_field(:parent_id, :class => "to_select2", :data => {:source => select2_account_json}) %>
    </div>
</div>

<div class="control-group">
    <%= f.label :prefix, "Account Prefix", class: 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.text_field(:prefix) %>
    </div>
</div>
<div class="control-group">
    <%= f.label :opening_balance, "Opening Balance", class: 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.text_field(:opening_balance) %>
        <div class="inline-block opening_balance_updated_at" style="display: <% unless @account.opening_balance_changed %> none <% end %>">
            on
            <%= f.text_field(:opening_balance_updated_at, class: 'datepicker', :value => nil) %>
            <%= f.hidden_field(:opening_balance_updated_at, id: 'opening_balance_updated_at_hidden', :value => nil) %>
        </div>
    </div>
</div>






