<h2>New Account Info:</h2>
<p>
	<%= f.label :name, "Account Name" %>
	<%= f.text_field(:name) %>
</p>
<p>
	<%= f.label :category, "Account Type" %>
	<%= f.select(:category, ["Asset", "Liability", "Expense", "Equity", "Cost of Goods Sold"], {:include_blank => true}) %>
</p>
<p>
	<%= f.label :subcategory, "Account Sub Type" %>
	<%= f.text_field(:subcategory) %>
</p>
<p>
	<%= f.label :prefix, "Account Prefix" %>
	<%= f.text_field(:prefix) %>
</p>
<p>
	<%= f.label :balance, "Beginning Balance" %>
	<%= f.text_field(:balance) %>
</p>






