<h2>New Account Info:</h2>
<div class="control-group">
    <%= f.label :name, "Account Name", class: 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.text_field(:name) %>
    </div>
</div>
<div class="control-group">
    <%= f.label :category, "Sub-Account Of", class: 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.hidden_field(:parent_id, :data => select2_account_json ) %>
    </div>
</div>

<div class="control-group">
    <%= f.label :prefix, "Account Prefix", class: 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.text_field(:prefix) %>
    </div>
</div>
<div class="control-group">
    <%= f.label :balance, "Beginning Balance", class: 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.text_field(:balance) %>
    </div>
</div>






