<tr class="clickable unclickable">
    <td class="center">
        <%= t.date %>
        <%= link_to("Edit", {:controller => 'accounts', :action => 'edit', :id => t.id}, :class => 'action edit clickable-link', :style => 'display: none') %>
    </td>
    <td><%= t.type %></td>
    <td><%= t.reference%></td>
    <td><%= t.payor %></td>
    <td><%= t.memo %></td>
    <td class="right"><%= price_tag(t.amount) %></td>
    <td class="center action-container">
    </td>
    <td class="right"><%= price_tag(balance) %></td>
</tr>