<tr class="clickable <% if t.reconciled%> unclickable <% end %>">
    <td class="center">
        <%= t.date %>
        <%= link_to("Edit", {:controller => 'accounting', :action => 'edit_receipt', :id => t.receipt.id}, :class => 'action edit clickable-link', :style => 'display: none') %>
    </td>
    <td>Receipt</td>
    <td><%= t.receipt.reference %></td>
    <td><%= t.receipt.payer_name %></td>
    <td><%= t.receipt.notes %></td>
    <td class="right">
        <% if @account.kind_of? ReceiptsItem::POSITIVES %>
          <%= price_tag(t.amount) %>
        <% elsif @account.kind_of? ReceiptsItem::NEGATIVES %>
          <%= price_tag(t.amount ? (t.amount * -1) : t.amount) %>
        <% end %>
    </td>
    <td class="center action-container">
        <%= check_box_tag("#{t.class.name}_#{t.id}", t.id, t.reconciled, :data => {:remote => true, :url => url_for(:action => "reconcile", :type => t.class.name, :id => t.id)}) %>
    </td>
    <td class="right"><%= price_tag(balance) %></td>
</tr>