<%= render :partial => 'shared/errors', :locals => {:obj => @transfer} %>
<div class="control-group">
    <%= f.label :kind, "Type", class: 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.collection_radio_buttons(:kind, [["Bank Transfer", "Bank Transfer"], ["GL Transfer", "GL Transfer"]], :first, :last, {}, {:data => {:remote => true, :url => url_for(:action => "show_transfer_accounts", :id => @transfer.id)}}) %>
    </div>
</div>
<div class="control-group">
    <%= f.label :date, "Date", class: 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.text_field(:date, class: 'datepicker') %>
        <%= f.hidden_field(:date, id: 'date_hidden') %>
    </div>
</div>
<div class="accounts-select">
    <%= render(:partial => "accounts_select", :locals => {:transfer => @transfer}) %>
</div>

<div class="control-group">
    <%= f.label :amount, "Amount", class: 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.text_field(:amount) %>
    </div>
</div>

<div class="control-group">
    <%= f.label :reference, "Reference #", class: 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.text_field(:reference) %>
    </div>
</div>

<div class="control-group">
    <%= f.label :memo, "Memo", class: 'col-lg-2 control-label' %>
    <div class="controls">
        <%= f.text_area(:memo, :size => '10x3') %>
    </div>
</div>

<div class="control-group">
    <div class='controls'>
        <div class="form-buttons">
            <div class="btn-group">
            <%= f.submit("Save & New", :data => {:form => ".transfer-form", :original_url => "#{url_for(:action => "new_transfer")}"}, :class => 'btn') %>
            <%= link_to("Cancel", {:action => 'list'}, :class => 'btn') %>
            <%= f.submit("Save & Close", :class => 'btn') %>
            </div>
        </div>
    </div>
</div>