<div>
    <%= render(:partial => "layouts/accounting_sub_menu") %>
    <div class="zurb-row">
        <div class="columns">
            <h2>Add Supplier</h2>
            <%= form_for @account, :url => {:action => 'create'}, :html => {:class => 'form-horizontal account-form'} do |f| %>
              <% if @account.errors.any? %>
                <div id="errorExplanation">
                    <h2><%= pluralize(@account.errors.count, "Error") %> prohibited
                        this account from being saved:</h2>
                    <ul>
                        <% @account.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                        <% end %>
                    </ul>
                </div>
              <% end %>
                <%= render(:partial => "account_form", :locals => {:f => f}) %>
                <div class="control-group">
                    <div class='controls'>
                        <%= submit_tag("Create", :class => 'btn') %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>