<div>
	<%= render(:partial => "layouts/accounting_sub_menu")%>

	<h2>Account Details For: <%= @account.name %> </h2>
	<h2>Company Info:</h2>
	<p>
		<%= "Account Name:" %>
		<%= @account.name %>
	</p>
	<p>
		<%= "Account Type:" %>
		<%= @account.category %>
	</p>
	<p>
		<%= "Account Sub Type:" %>
		<%= @account.subcategory %>
	</p>
	<p>
		<%= "Account Prefix:" %>
		<%= @account.prefix %>
	</p>
	<p>
		<%= "Balance: $" %>
		<%= @account.balance %>
	</p>
    <% if @account.payments.any? %>
      <h2>Payment history:</h2>
      <table class="grid-view" summary="Payment List">
          <tr class="header">
              <th>Reference #</th>
              <th>Date</th>
              <th>Payee</th>
              <th>Type</th>
              <th>Amount</th>
              <th>Memo</th>

          </tr>
          <% @account.payments.each do |payment| %>

            <tr>
                <td><%= payment.reference %></td>
                <td><%= payment.date %></td>
                <td><%= payment.vendor.try(:display_name) %></td>
                <td><%= payment.method %></td>
                <td class="right"><%= price_tag(payment.amount) %></td>
                <td><%= payment.memo %></td>
            </tr>
          <% end %>

      </table>
    <% end %>

</div>