<div>
	<%= render(:partial => "layouts/accounting_sub_menu")%>

	<h2>Account Details For: <%= @account.name %> </h2>
	<h2>Company Info:</h2>
	<p>
		<%= "Account Name:" %>
		<%= @account.name %>
	</p>
	<p>
		<%= "Account Type:" %>
		<%= @account.category %>
	</p>
	<p>
		<%= "Account Sub Type:" %>
		<%= @account.subcategory %>
	</p>
	<p>
		<%= "Account Prefix:" %>
		<%= @account.prefix %>
	</p>
	<p>
		<%= "Balance: $" %>
		<%= @account.balance %>
	</p>
    <% if @account.transactions.any? %>
      <h2>Payment history:</h2>
      <table class="grid-view" summary="Payment List">
          <tr class="header">
              <th>Date</th>
              <th>Type</th>
              <th>Reference #</th>
              <th>Payee</th>
              <th>Memo</th>
              <th>Amount</th>
              <th>Balance</th>
          </tr>
          <% balance = @account.balance %>
          <% @account.transactions.each_with_index do |t, index| %>
            <% balance += t.amount.to_f if index >0 %>
            <tr>
                <td class="center"><%= t.date %></td>
                <td><%= t.method %></td>
                <td><%= t.reference %></td>
                <td><%= t.payee %></td>
                <td><%= t.memo %></td>
                <td class="right"><%= price_tag(t.amount) %></td>
                <td class="right"><%= price_tag(balance) %></td>
            </tr>
          <% end %>

      </table>
    <% end %>

</div>