<div>
    <%= render(:partial => "layouts/accounting_sub_menu") %>
    <div class="zurb-row">
        <div class="columns margin-bottom">
            <h2>Account Details For: <%= @account.name %> </h2>

            <h2>Company Info:</h2>

            <p>
                <%= "Account Name:" %>
                <%= @account.name %>
            </p>

            <p>
                <%= "Account Type:" %>
                <%= @account.category %>
            </p>

            <p>
                <%= "Account Sub Type:" %>
                <%= @account.subcategory %>
            </p>

            <p>
                <%= "Account Prefix:" %>
                <%= @account.prefix %>
            </p>

            <div>
                <%= "Balance:" %>
                <%= price_tag(@account.balance.to_f, "inline-block") %>
            </div>
                <h2>Payment history:</h2>
            <table class="grid-view pageless" summary="Payment List">
                    <tr class="header">
                        <th>Date</th>
                        <th>Type</th>
                        <th>Reference #</th>
                        <th>Payor/Payee</th>
                        <th>Memo</th>
                        <th>Amount</th>
                        <th>R</th>
                        <th>Balance</th>
                    </tr>
                <%= render(:partial => "tr_transactions", :locals => {:transactions => @transactions}) %>
                </table>
            <%= paginate @transactions %>
        </div>
    </div>
</div>